Repository idvorkin/idvorkin.github.io: changes, and which pre-commit hooks are due for each by the changed paths.
All: vitest-related, update-backlinks-last-modified, check-internal-links, anchor-checker

vitest-related:
  name: Run Vitest on changed TypeScript files
  entry: .pre-commit-hooks/vitest-ts-files.sh
  language: script
  pass_filenames: false

update-backlinks-last-modified:
  name: Update last modified times for changed markdown files
  entry: uv run build_back_links.py delta
  language: system
  pass_filenames: true
  verbose: true

check-internal-links:
  name: Check internal links with lychee
  entry: .pre-commit-hooks/check-links.py
  language: script
  pass_filenames: false
  always_run: false
  verbose: true

anchor-checker:
  name: Check markdown anchors
  entry: .pre-commit-hooks/anchor-checker.sh
  language: script
  pass_filenames: false
  always_run: false

content(ai-relationships): attribute cryptophasia quote to IRL Bestie
  _d/ai-relationships.md
  back-links.json
Due: update-backlinks-last-modified, check-internal-links, anchor-checker

Deploying to test-results from @ idvorkin/idvorkin.github.io@92899751d9da9c9f859690650a7138c3cce5bcdf 🚀
  test-results/vitest/coverage/coverage-final.json
  test-results/vitest/coverage/idvorkin.github.io/ansi-to-html-converter.js.html
  test-results/vitest/coverage/idvorkin.github.io/index.html
  test-results/vitest/coverage/idvorkin.github.io/run-vitest-with-colors.js.html
  test-results/vitest/coverage/idvorkin.github.io/scripts/fetch-amazon-images.mjs.html
  test-results/vitest/coverage/idvorkin.github.io/scripts/index.html
  test-results/vitest/coverage/idvorkin.github.io/src/blogger_import.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/dev-info.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/featured-collapse.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/graph.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/header-copy-link.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/image-zoom.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/index.html
  test-results/vitest/coverage/idvorkin.github.io/src/index.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/main.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/page-loader.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/random-prompter.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/recent-posts-shared.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/recent-posts.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/recent.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/search.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/shared.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/utils/dom-helpers.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/utils/index.html
  test-results/vitest/coverage/index.html
  test-results/vitest/html/html.meta.json.gz
  test-results/vitest/test-output.json
  test-results/vitest/test-verbose-output.html
  test-results/vitest/test-verbose-output.txt
Due: none

content(changelog): add AI Relationships persistence-drift theme; fix teardown in header-copy-link.ts
  _d/changelog.md
  back-links.json
  src/header-copy-link.ts
Due: vitest-related, update-backlinks-last-modified, check-internal-links, anchor-checker

feat(skills/changelog): add scan_repos.py + changed_files.py helpers
  .claude/skills/changelog/SKILL.md
  .claude/skills/changelog/changed_files.py
  .claude/skills/changelog/scan_repos.py
  .claude/skills/changelog/test_changed_files.py
  .claude/skills/changelog/test_scan_repos.py
Due: update-backlinks-last-modified, check-internal-links, anchor-checker

docs(skills/changelog): include ALL public repos under both orgs, not a curated list
  .claude/skills/changelog/SKILL.md
Due: update-backlinks-last-modified, check-internal-links, anchor-checker

feat(skills/changelog): add partial_week.py — detect + merge mid-week partial entries
  .claude/skills/changelog/SKILL.md
  .claude/skills/changelog/partial_week.py
  .claude/skills/changelog/test_partial_week.py
Due: update-backlinks-last-modified, check-internal-links, anchor-checker

content(changelog): add Python hot-path migration theme (partial_week, scan_repos, changed_files, JS fix)
  _d/changelog.md
Due: update-backlinks-last-modified, check-internal-links, anchor-checker

docs(CLAUDE.md): correct false PR-close permission claim
  CLAUDE.md
Due: update-backlinks-last-modified, check-internal-links, anchor-checker

content(changelog): full partial-week sweep through 2026-04-16 (Thu)
  _d/changelog.md
Due: update-backlinks-last-modified, check-internal-links, anchor-checker

content(changelog): add missed repos — gen-tts, dolt-explainer, larry-voice-samples
  _d/changelog.md
Due: update-backlinks-last-modified, check-internal-links, anchor-checker

content: hill-climbing transparent-background chroma-key (5 approaches)
  _d/chroma-hill-climb.md
Due: update-backlinks-last-modified, check-internal-links, anchor-checker

content(explainers): add dolt-explainer row to the built-explainers tables
  _d/explainers.md
  _d/pet-projects.md
  back-links.json
Due: update-backlinks-last-modified, check-internal-links, anchor-checker

content(changelog): rebuild Week of 2026-04-13 from scratch per Step 0 spec
  _d/changelog.md
  back-links.json
Due: update-backlinks-last-modified, check-internal-links, anchor-checker

Deploying to test-results from @ idvorkin/idvorkin.github.io@801af08ed54947d6c2b686f0fb82cb96ba39fd49 🚀
  test-results/vitest/coverage/coverage-final.json
  test-results/vitest/coverage/idvorkin.github.io/ansi-to-html-converter.js.html
  test-results/vitest/coverage/idvorkin.github.io/index.html
  test-results/vitest/coverage/idvorkin.github.io/run-vitest-with-colors.js.html
  test-results/vitest/coverage/idvorkin.github.io/scripts/fetch-amazon-images.mjs.html
  test-results/vitest/coverage/idvorkin.github.io/scripts/index.html
  test-results/vitest/coverage/idvorkin.github.io/src/blogger_import.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/dev-info.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/featured-collapse.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/graph.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/header-copy-link.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/image-zoom.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/index.html
  test-results/vitest/coverage/idvorkin.github.io/src/index.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/main.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/page-loader.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/random-prompter.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/recent-posts-shared.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/recent-posts.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/recent.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/search.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/shared.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/utils/dom-helpers.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/utils/index.html
  test-results/vitest/coverage/index.html
  test-results/vitest/html/html.meta.json.gz
  test-results/vitest/test-output.json
  test-results/vitest/test-verbose-output.html
  test-results/vitest/test-verbose-output.txt
Due: none

docs(skills/changelog): harden Step 0 — mandate partial_week.py delete before Step 1
  .claude/skills/changelog/SKILL.md
Due: update-backlinks-last-modified, check-internal-links, anchor-checker

content(changelog) + docs(skill): promote chop-conventions to its own top-level section
  .claude/skills/changelog/SKILL.md
  _d/changelog.md
Due: update-backlinks-last-modified, check-internal-links, anchor-checker

CLAUDE.md: routing guidance for standalone explainer sites
  CLAUDE.md
Due: update-backlinks-last-modified, check-internal-links, anchor-checker

Deploying to test-results from @ idvorkin/idvorkin.github.io@c6283b97ad3806e84b10cac72e0f44cac0b384ef 🚀
  test-results/vitest/coverage/idvorkin.github.io/ansi-to-html-converter.js.html
  test-results/vitest/coverage/idvorkin.github.io/index.html
  test-results/vitest/coverage/idvorkin.github.io/run-vitest-with-colors.js.html
  test-results/vitest/coverage/idvorkin.github.io/scripts/fetch-amazon-images.mjs.html
  test-results/vitest/coverage/idvorkin.github.io/scripts/index.html
  test-results/vitest/coverage/idvorkin.github.io/src/blogger_import.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/dev-info.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/featured-collapse.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/graph.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/header-copy-link.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/image-zoom.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/index.html
  test-results/vitest/coverage/idvorkin.github.io/src/index.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/main.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/page-loader.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/random-prompter.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/recent-posts-shared.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/recent-posts.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/recent.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/search.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/shared.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/utils/dom-helpers.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/utils/index.html
  test-results/vitest/coverage/index.html
  test-results/vitest/html/html.meta.json.gz
  test-results/vitest/test-output.json
  test-results/vitest/test-verbose-output.html
  test-results/vitest/test-verbose-output.txt
Due: none

feat(skills/toc): add stdlib Python TOC tool matching idvorkin/markdown-toc.nvim
  .claude/skills/changelog/SKILL.md
  .claude/skills/toc/SKILL.md
  .claude/skills/toc/test_toc.py
  .claude/skills/toc/toc.py
Due: update-backlinks-last-modified, check-internal-links, anchor-checker

fix(skills): address PR #526 review — toc.py matches mtoc GFM, silent-failure guards, UTF-8
  .claude/skills/changelog/partial_week.py
  .claude/skills/changelog/scan_repos.py
  .claude/skills/toc/SKILL.md
  .claude/skills/toc/test_toc.py
  .claude/skills/toc/toc.py
Due: update-backlinks-last-modified, check-internal-links, anchor-checker

refactor(skills): migrate 4 Python tools from argparse to Typer per chop-conventions
  .claude/skills/changelog/changed_files.py
  .claude/skills/changelog/partial_week.py
  .claude/skills/changelog/scan_repos.py
  .claude/skills/toc/toc.py
Due: none

Deploying to test-results from @ idvorkin/idvorkin.github.io@ac9eb3ccbdabbfcb8d432877fef2c75a5f5c4233 🚀
  test-results/vitest/coverage/coverage-final.json
  test-results/vitest/coverage/idvorkin.github.io/ansi-to-html-converter.js.html
  test-results/vitest/coverage/idvorkin.github.io/index.html
  test-results/vitest/coverage/idvorkin.github.io/run-vitest-with-colors.js.html
  test-results/vitest/coverage/idvorkin.github.io/scripts/fetch-amazon-images.mjs.html
  test-results/vitest/coverage/idvorkin.github.io/scripts/index.html
  test-results/vitest/coverage/idvorkin.github.io/src/blogger_import.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/dev-info.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/featured-collapse.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/graph.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/header-copy-link.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/image-zoom.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/index.html
  test-results/vitest/coverage/idvorkin.github.io/src/index.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/main.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/page-loader.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/random-prompter.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/recent-posts-shared.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/recent-posts.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/recent.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/search.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/shared.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/utils/dom-helpers.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/utils/index.html
  test-results/vitest/coverage/index.html
  test-results/vitest/html/html.meta.json.gz
  test-results/vitest/test-output.json
  test-results/vitest/test-verbose-output.html
  test-results/vitest/test-verbose-output.txt
Due: none

Path conditions:
  vitest-related: any of: \.(ts|mts|cts)$
  update-backlinks-last-modified: any of: \.(md|markdown)$, but not: ^zz-chop-logs/.*$|back-links.json
  check-internal-links: any of: \.(md|markdown)$, but not: ^zz-chop-logs/.*$|back-links.json
  anchor-checker: any of: \.(md|markdown)$, but not: ^zz-chop-logs/.*$|back-links.json
