Repository idvorkin/idvorkin.github.io: changes, and which pre-commit hooks are due for each by the changed paths.
All: vitest-related, update-backlinks-last-modified

.pre-commit-config.yaml:

# Common configuration values
exclude_chop_logs: &exclude_chop_logs
  exclude: "^zz-chop-logs/.*$" # Exclude the zz-chop-logs directory

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.1.8
    hooks:
      # Run the linter.
      - id: ruff
        types_or: [python, pyi, jupyter]
        args: [--fix]
      # Run the formatter.
      - id: ruff-format
        types_or: [python, pyi, jupyter]

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: "v3.1.0"
    hooks:
      - id: prettier
        <<: *exclude_chop_logs

  - repo: https://github.com/TomWright/dasel
    rev: v2.8.1
    hooks:
      - id: dasel-validate

  - repo: local
    hooks:
      - id: vitest-related
        name: Run Vitest on changed TypeScript files
        entry: .pre-commit-hooks/vitest-ts-files.sh
        language: script
        types: [ts]
        pass_filenames: false

      - id: update-backlinks-last-modified
        name: Update last modified times for changed markdown files
        entry: uv run build_back_links.py delta
        language: system
        files: '\.(md|markdown)$'
        <<: *exclude_chop_logs
        pass_filenames: true
        verbose: true

Pre-commit cleanups
  _includes/collapse.html
  _includes/summarize-page.html
  _includes/toc.html
  assets/css/collapsehelper.css
  assets/lightbox/css/lightbox.css
  assets/lightbox/css/lightbox.min.css
Due: none

Replaces Users/idvorkin with $HOME
  zz-chop-logs/2025-02-28_06-44-linking-total-compensation-in-performance-reviews.md
  zz-chop-logs/2025-03-02_09-18-blog-posts-on-breathing.md
  zz-chop-logs/2025-03-04_06-54-boosting-energy-for-productivity.md
  zz-chop-logs/2025-03-04_07-30-adding-a-related-posts-section.md
  zz-chop-logs/2025-03-05_07-31-remove-bold-text-before-toc.md
  zz-chop-logs/2025-03-07_06-51-adding-last-modified-time-in-code.md
  zz-chop-logs/2025-03-07_08-22-javascript-build-system-simplification.md
  zz-chop-logs/2025-03-07_08-50-parcel-module-export-error-troubleshooting.md
  zz-chop-logs/2025-03-07_09-07-adding-recently-changed-posts-section.md
  zz-chop-logs/2025-03-07_09-41-update-backlinks-py-to-exclude-tags-file.md
  zz-chop-logs/2025-03-07_10-03-backlinks-py-last-modified-check.md
  zz-chop-logs/2025-03-07_10-36-update-search-page-functionality.md
  zz-chop-logs/2025-03-07_10-58-post-title-update-1+1-5.md
  zz-chop-logs/2025-03-07_11-26-debugging-bbl-file-limits-and-logging.md
  zz-chop-logs/2025-03-08_06-12-finding-and-replacing-table-content-in-typescript.md
Due: none

docs: update OSX display management documentation to include EDID override method for 4K@120Hz
  _d/osx.md
Due: update-backlinks-last-modified

feat(back-links): update backlinks data 2025-03-08
  back-links.json
Due: none

feat(back-links): update backlinks data 2025-03-08
  build_back_links.py
Due: none

feat(build_back_links): Update delta to use current time since git timestamp hasn't changed yet
  build_back_links.py
Due: none

feat(build_backlinks): add conditional skip for recently modified pages
  _d/osx.md
  back-links.json
  build_back_links.py
Due: update-backlinks-last-modified

js update
  assets/js/index.js
  assets/js/index.js.map
Due: none

fix(imports): update random-prompter imports and enhance prompt refresh UI
  _d/prompt.md
  back-links.json
  src/index.ts
  src/page-loader.ts
  src/random-prompter.ts
  zz-chop-logs/2025-03-08_13-30-javascript-issue-on-prompts-page.md
Due: vitest-related, update-backlinks-last-modified

Commit
  assets/js/index.js
  assets/js/index.js.map
Due: none

feat(cursor-rules): introduce new cursor rules for blog editing conventions, terminal commands, and link management
  .cursor/rules/108-project-commands.mdc
  .cursor/rules/109-terminal-commands.mdc
  .cursor/rules/110-permalink-management.mdc
  .cursor/rules/111-link-conventions.mdc
  .cursor/rules/112-summarize-page-includes.mdc
  .cursor/rules/120-blog-editing-conventions.mdc
  .cursor/rules/121-chat-oriented.mdc
  .cursorrules
  CONVENTIONS.md
  zz-chop-logs/2025-03-08_13-51-migration-to-modern-cursor-rules.md
Due: update-backlinks-last-modified

Put all the conveions in
  .cursor/rules/103-blog-content.mdc
Due: none

feat(testing): add Playwright end-to-end testing framework
  justfile
  package.json
  playwright.config.ts
  playwright.justfile
  tests/e2e/about-page.spec.ts
  tests/e2e/search.spec.ts
  tests/e2e/sitenav.spec.ts
  tests/e2e/test-7-habits.spec.ts
  tests/unit/makeHTML.spec.ts
Due: vitest-related

Checkpoint
  playwright.config.ts
  playwright.justfile
  tests/e2e/blog-posts.spec.ts
  tests/e2e/echo.spec.ts
  tests/e2e/search.spec.ts
Due: vitest-related

test: update e2e tests for site navigation, search, and blog posts
  tests/e2e/blog-posts.spec.ts
  tests/e2e/search.spec.ts
  tests/e2e/sitenav.spec.ts
  tests/e2e/test-7-habits.spec.ts
Due: vitest-related

More test updates
  cypress.config.ts
  cypress/e2e/idvork.in/keyboard_shortcuts.js
  cypress/e2e/idvork.in/search.ts
  cypress/e2e/idvork.in/sitenav.ts
  cypress/e2e/idvork.in/test-7-habits.ts
  cypress/e2e/idvork.in/test-todo-enjoy.ts
  cypress/e2e/unit/makeHTML.test.ts
  cypress/e2e/unit/prompts.test.ts
  cypress/fixtures/example.json
  cypress/fixtures/profile.json
  cypress/fixtures/users.json
  cypress/plugins/index.js
  cypress/support/commands.js
  cypress/support/e2e.js
  justfile
  package.json
  tests/e2e/blog-posts.spec.ts
  tests/e2e/keyboard-shortcuts.spec.ts
  tests/e2e/todo-enjoy.spec.ts
Due: vitest-related

feat(e2e-tests): improve test reliability and configuration
  playwright.config.ts
  tests/e2e/todo-enjoy.spec.ts
  zz-chop-logs/2025-03-08_14-58-running-and-fixing-playwright-tests.md
Due: vitest-related

``` feat(ci): add Vitest workflow and badge generation
  .github/workflows/vitest-local-test.yml
  .github/workflows/vitest.yml
  README.md
  test-vitest-badge.sh
  zz-chop-logs/2025-03-09_06-00-creating-a-vitest-badge-github-action.md
Due: update-backlinks-last-modified

fix(vitest): improve test result reporting and handling in CI workflow
  .github/workflows/vitest.yml
  .gitignore
  justfile
  package-lock.json
Due: none

Deploying to gh-pages from @ idvorkin/idvorkin.github.io@6adf7ca9b97138aff9a2294984bb69c19951068f 🚀
  test-results/vitest-count.json
Due: none

feat(ci): update vitest workflow and README badges
  .github/workflows/vitest.yml
  README.md
  zz-chop-logs/2025-03-09_06-46-fixing-vitest-yml-deployment-errors.md
Due: update-backlinks-last-modified

Deploying to test-results from @ idvorkin/idvorkin.github.io@9ab37752d16b45dc1a4066026cc3018aa8d21b54 🚀
  test-results/vitest-count.json
Due: none

ci(vitest): enhance workflow to generate coverage badge and HTML reports
  .github/workflows/vitest.yml
  .gitignore
  README.md
  _config.yml
  justfile
  test-workflow-locally.sh
Due: update-backlinks-last-modified

build(ci): update upload-artifact action to v4
  .github/workflows/vitest.yml
  zz-chop-logs/2025-03-09_07-36-github-actions-v3-deprecation-error.md
Due: none

feat(build): enhance Vitest workflow with verbose output and badge generation
  .github/workflows/vitest-local-test.yml
  .github/workflows/vitest.yml
  README.md
  justfile
  vitest.config.ts
Due: vitest-related, update-backlinks-last-modified

Deploying to test-results from @ idvorkin/idvorkin.github.io@eb6bf6500036e3c61c3427fee5c9d98bc696a55e 🚀
  test-results/vitest/coverage/index.html
  test-results/vitest/coverage/src/blogger_import.ts.html
  test-results/vitest/coverage/src/graph.ts.html
  test-results/vitest/coverage/src/index.html
  test-results/vitest/coverage/src/index.ts.html
  test-results/vitest/coverage/src/main.ts.html
  test-results/vitest/coverage/src/page-loader.ts.html
  test-results/vitest/coverage/src/random-prompter.ts.html
  test-results/vitest/coverage/src/recent-posts.ts.html
  test-results/vitest/coverage/src/recent.ts.html
  test-results/vitest/coverage/src/search.ts.html
  test-results/vitest/coverage/src/shared.ts.html
  test-results/vitest/coverage/src/utils/dom-helpers.ts.html
  test-results/vitest/coverage/src/utils/index.html
  test-results/vitest/coverage/tests/e2e/about-page.spec.ts.html
  test-results/vitest/coverage/tests/e2e/blog-posts.spec.ts.html
  test-results/vitest/coverage/tests/e2e/echo.spec.ts.html
  test-results/vitest/coverage/tests/e2e/index.html
  test-results/vitest/coverage/tests/e2e/keyboard-shortcuts.spec.ts.html
  test-results/vitest/coverage/tests/e2e/search.spec.ts.html
  test-results/vitest/coverage/tests/e2e/sitenav.spec.ts.html
  test-results/vitest/coverage/tests/e2e/test-7-habits.spec.ts.html
  test-results/vitest/coverage/tests/e2e/todo-enjoy.spec.ts.html
  test-results/vitest/coverage/tests/unit/index.html
  test-results/vitest/coverage/tests/unit/makeHTML.spec.ts.html
  test-results/vitest/html/html.meta.json.gz
  test-results/vitest/test-verbose-output.txt
Due: none

refactor(ci): simplify and unify Vitest test workflow
  .github/workflows/vitest-local-test.yml
  .github/workflows/vitest.yml
  README.md
  justfile
  test-workflow-locally.sh
  zz-chop-logs/2025-03-09_08-30-reviewing-github-readme-badges-configuration.md
Due: update-backlinks-last-modified

Deploying to test-results from @ idvorkin/idvorkin.github.io@505a5b8bf7fef3dea71e439e75364859d89a6bf6 🚀
  test-results/vitest/coverage/index.html
  test-results/vitest/coverage/src/blogger_import.ts.html
  test-results/vitest/coverage/src/graph.ts.html
  test-results/vitest/coverage/src/index.html
  test-results/vitest/coverage/src/index.ts.html
  test-results/vitest/coverage/src/main.ts.html
  test-results/vitest/coverage/src/page-loader.ts.html
  test-results/vitest/coverage/src/random-prompter.ts.html
  test-results/vitest/coverage/src/recent-posts.ts.html
  test-results/vitest/coverage/src/recent.ts.html
  test-results/vitest/coverage/src/search.ts.html
  test-results/vitest/coverage/src/shared.ts.html
  test-results/vitest/coverage/src/utils/dom-helpers.ts.html
  test-results/vitest/coverage/src/utils/index.html
  test-results/vitest/coverage/tests/e2e/about-page.spec.ts.html
  test-results/vitest/coverage/tests/e2e/blog-posts.spec.ts.html
  test-results/vitest/coverage/tests/e2e/echo.spec.ts.html
  test-results/vitest/coverage/tests/e2e/index.html
  test-results/vitest/coverage/tests/e2e/keyboard-shortcuts.spec.ts.html
  test-results/vitest/coverage/tests/e2e/search.spec.ts.html
  test-results/vitest/coverage/tests/e2e/sitenav.spec.ts.html
  test-results/vitest/coverage/tests/e2e/test-7-habits.spec.ts.html
  test-results/vitest/coverage/tests/e2e/todo-enjoy.spec.ts.html
  test-results/vitest/coverage/tests/unit/index.html
  test-results/vitest/coverage/tests/unit/makeHTML.spec.ts.html
  test-results/vitest/html/html.meta.json.gz
  test-results/vitest/test-verbose-output.html
Due: none

feat(testing): update Vitest badge labels and links
  README.md
  justfile
  zz-chop-logs/2025-03-09_08-54-fixing-readme-badges-for-test-output.md
Due: update-backlinks-last-modified

Deploying to test-results from @ idvorkin/idvorkin.github.io@b6ba3b442735cc606d96492d4748367c5106c31a 🚀
  test-results/vitest/badge-count.json
  test-results/vitest/badge-coverage.json
  test-results/vitest/coverage/index.html
  test-results/vitest/coverage/src/blogger_import.ts.html
  test-results/vitest/coverage/src/graph.ts.html
  test-results/vitest/coverage/src/index.html
  test-results/vitest/coverage/src/index.ts.html
  test-results/vitest/coverage/src/main.ts.html
  test-results/vitest/coverage/src/page-loader.ts.html
  test-results/vitest/coverage/src/random-prompter.ts.html
  test-results/vitest/coverage/src/recent-posts.ts.html
  test-results/vitest/coverage/src/recent.ts.html
  test-results/vitest/coverage/src/search.ts.html
  test-results/vitest/coverage/src/shared.ts.html
  test-results/vitest/coverage/src/utils/dom-helpers.ts.html
  test-results/vitest/coverage/src/utils/index.html
  test-results/vitest/coverage/tests/e2e/about-page.spec.ts.html
  test-results/vitest/coverage/tests/e2e/blog-posts.spec.ts.html
  test-results/vitest/coverage/tests/e2e/echo.spec.ts.html
  test-results/vitest/coverage/tests/e2e/index.html
  test-results/vitest/coverage/tests/e2e/keyboard-shortcuts.spec.ts.html
  test-results/vitest/coverage/tests/e2e/search.spec.ts.html
  test-results/vitest/coverage/tests/e2e/sitenav.spec.ts.html
  test-results/vitest/coverage/tests/e2e/test-7-habits.spec.ts.html
  test-results/vitest/coverage/tests/e2e/todo-enjoy.spec.ts.html
  test-results/vitest/coverage/tests/unit/index.html
  test-results/vitest/coverage/tests/unit/makeHTML.spec.ts.html
  test-results/vitest/html/html.meta.json.gz
  test-results/vitest/test-verbose-output.html
  test-results/vitest/test-verbose-output.txt
Due: none

feat(rules): introduce buffer flush rule to force conversation log preservation and update readme badges
  .cursor/rules/200-buffer-flush.mdc
  README.md
  zz-chop-logs/2025-03-09_09-19-html-preview-for-github-test-results.md
Due: update-backlinks-last-modified

Deploying to test-results from @ idvorkin/idvorkin.github.io@bd6a85cad04ec60c4458ecb37fbae2c5edf12ef1 🚀
  test-results/vitest/coverage/index.html
  test-results/vitest/coverage/src/blogger_import.ts.html
  test-results/vitest/coverage/src/graph.ts.html
  test-results/vitest/coverage/src/index.html
  test-results/vitest/coverage/src/index.ts.html
  test-results/vitest/coverage/src/main.ts.html
  test-results/vitest/coverage/src/page-loader.ts.html
  test-results/vitest/coverage/src/random-prompter.ts.html
  test-results/vitest/coverage/src/recent-posts.ts.html
  test-results/vitest/coverage/src/recent.ts.html
  test-results/vitest/coverage/src/search.ts.html
  test-results/vitest/coverage/src/shared.ts.html
  test-results/vitest/coverage/src/utils/dom-helpers.ts.html
  test-results/vitest/coverage/src/utils/index.html
  test-results/vitest/coverage/tests/e2e/about-page.spec.ts.html
  test-results/vitest/coverage/tests/e2e/blog-posts.spec.ts.html
  test-results/vitest/coverage/tests/e2e/echo.spec.ts.html
  test-results/vitest/coverage/tests/e2e/index.html
  test-results/vitest/coverage/tests/e2e/keyboard-shortcuts.spec.ts.html
  test-results/vitest/coverage/tests/e2e/search.spec.ts.html
  test-results/vitest/coverage/tests/e2e/sitenav.spec.ts.html
  test-results/vitest/coverage/tests/e2e/test-7-habits.spec.ts.html
  test-results/vitest/coverage/tests/e2e/todo-enjoy.spec.ts.html
  test-results/vitest/coverage/tests/unit/index.html
  test-results/vitest/coverage/tests/unit/makeHTML.spec.ts.html
  test-results/vitest/html/html.meta.json.gz
  test-results/vitest/test-verbose-output.html
  test-results/vitest/test-verbose-output.txt
Due: none

feat(testing): enhance Vitest test reporting and output
  .github/workflows/vitest.yml
  ansi-to-html-converter.js
  justfile
  package-lock.json
  package.json
  run-vitest-with-colors.js
  zz-chop-logs/2025-03-09_09-43-colorizing-ansi-output-in-just-file.md
Due: none

Deploying to test-results from @ idvorkin/idvorkin.github.io@81c9c4a2f920aafcb9609ffae990cc1f3dc4b3ba 🚀
  test-results/vitest/coverage/coverage-final.json
  test-results/vitest/coverage/idvorkin.github.io/ansi-to-html-converter.js.html
  test-results/vitest/coverage/idvorkin.github.io/index.html
  test-results/vitest/coverage/idvorkin.github.io/run-vitest-with-colors.js.html
  test-results/vitest/coverage/idvorkin.github.io/src/blogger_import.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/graph.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/index.html
  test-results/vitest/coverage/idvorkin.github.io/src/index.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/main.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/page-loader.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/random-prompter.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/recent-posts.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/recent.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/search.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/shared.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/utils/dom-helpers.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/utils/index.html
  test-results/vitest/coverage/idvorkin.github.io/tests/e2e/about-page.spec.ts.html
  test-results/vitest/coverage/idvorkin.github.io/tests/e2e/blog-posts.spec.ts.html
  test-results/vitest/coverage/idvorkin.github.io/tests/e2e/echo.spec.ts.html
  test-results/vitest/coverage/idvorkin.github.io/tests/e2e/index.html
  test-results/vitest/coverage/idvorkin.github.io/tests/e2e/keyboard-shortcuts.spec.ts.html
  test-results/vitest/coverage/idvorkin.github.io/tests/e2e/search.spec.ts.html
  test-results/vitest/coverage/idvorkin.github.io/tests/e2e/sitenav.spec.ts.html
  test-results/vitest/coverage/idvorkin.github.io/tests/e2e/test-7-habits.spec.ts.html
  test-results/vitest/coverage/idvorkin.github.io/tests/e2e/todo-enjoy.spec.ts.html
  test-results/vitest/coverage/idvorkin.github.io/tests/unit/index.html
  test-results/vitest/coverage/idvorkin.github.io/tests/unit/makeHTML.spec.ts.html
  test-results/vitest/html/html.meta.json.gz
  test-results/vitest/test-output.json
  test-results/vitest/test-verbose-output.html
  test-results/vitest/test-verbose-output.txt
Due: none

Add more UTs
  src/__tests__/get-link-info.test.ts
  zz-chop-logs/2025-03-09_10-04-untitled.md
Due: vitest-related

Deploying to test-results from @ idvorkin/idvorkin.github.io@6748523b3af28eaf3f588da414ef1a098c331742 🚀
  test-results/vitest/badge-count.json
  test-results/vitest/coverage/coverage-final.json
  test-results/vitest/coverage/idvorkin.github.io/ansi-to-html-converter.js.html
  test-results/vitest/coverage/idvorkin.github.io/index.html
  test-results/vitest/coverage/idvorkin.github.io/run-vitest-with-colors.js.html
  test-results/vitest/coverage/idvorkin.github.io/src/blogger_import.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/graph.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/index.html
  test-results/vitest/coverage/idvorkin.github.io/src/index.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/main.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/page-loader.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/random-prompter.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/recent-posts.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/recent.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/search.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/shared.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/utils/dom-helpers.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/utils/index.html
  test-results/vitest/coverage/idvorkin.github.io/tests/e2e/about-page.spec.ts.html
  test-results/vitest/coverage/idvorkin.github.io/tests/e2e/blog-posts.spec.ts.html
  test-results/vitest/coverage/idvorkin.github.io/tests/e2e/echo.spec.ts.html
  test-results/vitest/coverage/idvorkin.github.io/tests/e2e/index.html
  test-results/vitest/coverage/idvorkin.github.io/tests/e2e/keyboard-shortcuts.spec.ts.html
  test-results/vitest/coverage/idvorkin.github.io/tests/e2e/search.spec.ts.html
  test-results/vitest/coverage/idvorkin.github.io/tests/e2e/sitenav.spec.ts.html
  test-results/vitest/coverage/idvorkin.github.io/tests/e2e/test-7-habits.spec.ts.html
  test-results/vitest/coverage/idvorkin.github.io/tests/e2e/todo-enjoy.spec.ts.html
  test-results/vitest/coverage/idvorkin.github.io/tests/unit/index.html
  test-results/vitest/coverage/idvorkin.github.io/tests/unit/makeHTML.spec.ts.html
  test-results/vitest/coverage/index.html
  test-results/vitest/html/html.meta.json.gz
  test-results/vitest/test-output.json
  test-results/vitest/test-verbose-output.html
  test-results/vitest/test-verbose-output.txt
Due: none

chore(ci): remove Vitest local test workflow
  .github/workflows/vitest-local-test.yml
Due: none
