Repository idvorkin/idvorkin.github.io: changes, and which pre-commit hooks are due for each by the changed paths.
All: vitest-related, update-backlinks-last-modified, check-internal-links, anchor-checker

.pre-commit-config.yaml:

repos:
  # ðŸ Python: Linting and formatting
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.11.11
    hooks:
      # Run the linter.
      - id: ruff
        name: Ruff Linter
        types_or: [python, pyi, jupyter]
        args: [--fix]
      # Run the formatter.
      - id: ruff-format
        name: Ruff Formatter
        types_or: [python, pyi, jupyter]

  # âš¡ Biome: JS/TS/JSON/CSS/etc.
  - repo: https://github.com/biomejs/pre-commit
    rev: v2.0.0-beta.5
    hooks:
      - id: biome-check
        name: Biome Lint & Format
        additional_dependencies: ["@biomejs/biome@1.9.4"]
        # âœ… Languages: JS, TS, JSX, TSX, JSON, JSONC, CSS, GraphQL

  # â˜‚ï¸ Prettier: Only for Markdown and HTML
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: "v4.0.0-alpha.8"
    hooks:
      - id: prettier
        name: Prettier (Markdown & HTML only)
        files: \.(md|html)$
        exclude: "^(zz-chop-logs|published-chop-logs)/.*$|back-links.json"

  # ðŸ§ Dasel: YAML and JSON schema/structure validator
  - repo: https://github.com/TomWright/dasel
    rev: v2.8.1
    hooks:
      - id: dasel-validate
        name: Dasel YAML/JSON Validator
        files: \.(json|yaml|yml)$

  # âœï¸ Typos: Spell checking for code and prose
  - repo: https://github.com/crate-ci/typos
    rev: v1.28.4
    hooks:
      - id: typos
        name: Check for typos
        exclude: "^(assets|chop-logs|zz-chop-logs|cursor-logs|published-chop-logs|back-links.json|images/.*\\.excalidraw|old_blog|static)/.*$"
        args: []  # Uses .typos.toml for configuration

  # ðŸ§ª Local hooks
  - repo: local
    hooks:
      - id: beads-sync
        name: Flush beads changes
        entry: bash -c 'command -v bd >/dev/null && [ -d .beads ] && bd sync --flush-only && git add .beads/issues.jsonl 2>/dev/null; true'
        language: system
        pass_filenames: false
        always_run: true

      - id: test
        name: Run Fast Tests
        entry: just fast-test
        language: system
        pass_filenames: false
        always_run: true

      - id: vitest-related
        name: Run Vitest on changed TypeScript files
        entry: .pre-commit-hooks/vitest-ts-files.sh
        language: script
        types: [ts]
        pass_filenames: false

      - id: update-backlinks-last-modified
        name: Update last modified times for changed markdown files
        entry: uv run build_back_links.py delta
        language: system
        files: '\.(md|markdown)$'
        exclude: "^zz-chop-logs/.*$|back-links.json" # Exclude the zz-chop-logs directory
        pass_filenames: true
        verbose: true

      - id: check-internal-links
        name: Check internal links with lychee
        entry: .pre-commit-hooks/check-links.py
        language: script
        files: '\.(md|markdown)$'
        exclude: "^zz-chop-logs/.*$|back-links.json" # Exclude the zz-chop-logs directory
        pass_filenames: false
        always_run: false
        verbose: true

      - id: anchor-checker
        name: Check markdown anchors
        entry: .pre-commit-hooks/anchor-checker.sh
        language: script
        files: '\.(md|markdown)$'
        exclude: "^zz-chop-logs/.*$|back-links.json"
        pass_filenames: false
        always_run: false

sleight-of-mouth explorer: All 14 | By section toggle (option A)
  _data/sleight_of_mouth.yml
  _includes/sleight-of-mouth-explorer.html
Due: none

sleight-of-mouth: problem first, explorer under its own heading after the TOC
  _d/2016-3-12-sleight-of-mouth.md
  _includes/sleight-of-mouth-explorer.html
Due: update-backlinks-last-modified, check-internal-links, anchor-checker

Deploying to test-results from @ idvorkin/idvorkin.github.io@e00162272df4b76039b468239d204abd8cf2aa56 🚀
  test-results/vitest/coverage/coverage-final.json
  test-results/vitest/coverage/idvorkin.github.io/ansi-to-html-converter.js.html
  test-results/vitest/coverage/idvorkin.github.io/index.html
  test-results/vitest/coverage/idvorkin.github.io/run-vitest-with-colors.js.html
  test-results/vitest/coverage/idvorkin.github.io/scripts/fetch-amazon-images.mjs.html
  test-results/vitest/coverage/idvorkin.github.io/scripts/index.html
  test-results/vitest/coverage/idvorkin.github.io/src/annotate-anchor.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/blogger_import.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/den-viewer.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/dev-info.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/diff-nav.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/featured-collapse.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/graph.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/header-copy-link.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/image-zoom.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/index.html
  test-results/vitest/coverage/idvorkin.github.io/src/index.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/main.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/page-loader.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/random-prompter.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/recent-posts-shared.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/recent-posts.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/recent.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/rich-diff.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/scroll-to-hash.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/search.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/shared.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/utils/dom-helpers.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/utils/index.html
  test-results/vitest/coverage/idvorkin.github.io/topics_tag_workflow.js.html
  test-results/vitest/coverage/index.html
  test-results/vitest/html/html.meta.json.gz
  test-results/vitest/test-output.json
  test-results/vitest/test-verbose-output.html
  test-results/vitest/test-verbose-output.txt
Due: none

AI posts: only the AI default image changes; flag every AI post
  _d/ai-policy.md
  _d/browsers-for-machines.md
  _d/em-to-ic.md
  _d/explainers.md
  _d/gas-city-home.md
  _d/gas-city-rig.md
  _d/gas-city.md
  _d/gpt2.md
  _d/model-welfare-sideways.md
  _d/the-den-styles.md
  _d/wally.md
  _includes/head.html
Due: update-backlinks-last-modified, check-internal-links, anchor-checker

sleight-of-mouth: one "About this pattern" control, plus a copy-ready LLM prompt
  _d/2016-3-12-sleight-of-mouth.md
  _includes/sleight-of-mouth-explorer.html
  _includes/sleight-of-mouth-prompt.html
Due: update-backlinks-last-modified, check-internal-links, anchor-checker

p key: hand the test origin to prod, remember it per tab, toast when unknown
  assets/js/index.js
  assets/js/index.js.map
  src/__tests__/swap-prod-test.test.ts
  src/main.ts
  src/swap-prod-test.ts
  tests/e2e/keyboard-shortcuts.spec.ts
  tests/e2e/swap-prod-test.spec.ts
Due: vitest-related

weeks: shorten Opus markers to '🤖 Opus 4.5' / '🤖 Opus 5.5'
  _data/life-in-weeks.yml
Due: none

weeks: add Claude Opus 4.5 and Opus 5.5 release markers
  _data/life-in-weeks.yml
Due: none

Deploying to test-results from @ idvorkin/idvorkin.github.io@b50bf306177039297bec318b3d2066fb814fc1fa 🚀
  test-results/vitest/coverage/coverage-final.json
  test-results/vitest/coverage/idvorkin.github.io/ansi-to-html-converter.js.html
  test-results/vitest/coverage/idvorkin.github.io/index.html
  test-results/vitest/coverage/idvorkin.github.io/run-vitest-with-colors.js.html
  test-results/vitest/coverage/idvorkin.github.io/scripts/fetch-amazon-images.mjs.html
  test-results/vitest/coverage/idvorkin.github.io/scripts/index.html
  test-results/vitest/coverage/idvorkin.github.io/src/annotate-anchor.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/blogger_import.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/den-viewer.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/dev-info.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/diff-nav.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/featured-collapse.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/graph.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/header-copy-link.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/image-zoom.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/index.html
  test-results/vitest/coverage/idvorkin.github.io/src/index.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/main.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/page-loader.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/random-prompter.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/recent-posts-shared.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/recent-posts.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/recent.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/rich-diff.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/scroll-to-hash.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/search.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/shared.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/utils/dom-helpers.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/utils/index.html
  test-results/vitest/coverage/idvorkin.github.io/topics_tag_workflow.js.html
  test-results/vitest/coverage/index.html
  test-results/vitest/html/html.meta.json.gz
  test-results/vitest/test-output.json
  test-results/vitest/test-verbose-output.html
  test-results/vitest/test-verbose-output.txt
Due: none

head: default social images -> Year of Wonder raccoon (AI) and Larry raccoon (site)
  _includes/head.html
Due: none

head: AI default social image -> raccoon-larry-high-five (Igor's pick)
  _includes/head.html
Due: none

Deploying to test-results from @ idvorkin/idvorkin.github.io@7b2caaa5d4aafe023d668f307012aef49116d6be 🚀
  test-results/vitest/coverage/coverage-final.json
  test-results/vitest/coverage/idvorkin.github.io/ansi-to-html-converter.js.html
  test-results/vitest/coverage/idvorkin.github.io/index.html
  test-results/vitest/coverage/idvorkin.github.io/run-vitest-with-colors.js.html
  test-results/vitest/coverage/idvorkin.github.io/scripts/fetch-amazon-images.mjs.html
  test-results/vitest/coverage/idvorkin.github.io/scripts/index.html
  test-results/vitest/coverage/idvorkin.github.io/src/annotate-anchor.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/blogger_import.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/den-viewer.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/dev-info.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/diff-nav.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/featured-collapse.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/graph.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/header-copy-link.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/image-zoom.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/index.html
  test-results/vitest/coverage/idvorkin.github.io/src/index.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/main.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/page-loader.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/random-prompter.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/recent-posts-shared.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/recent-posts.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/recent.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/rich-diff.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/scroll-to-hash.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/search.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/shared.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/utils/dom-helpers.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/utils/index.html
  test-results/vitest/coverage/idvorkin.github.io/topics_tag_workflow.js.html
  test-results/vitest/coverage/index.html
  test-results/vitest/html/html.meta.json.gz
  test-results/vitest/test-output.json
  test-results/vitest/test-verbose-output.html
  test-results/vitest/test-verbose-output.txt
Due: none

Deploying to test-results from @ idvorkin/idvorkin.github.io@024baea0e0d059ed216362affd1186f02998d61f 🚀
  test-results/vitest/coverage/coverage-final.json
  test-results/vitest/coverage/idvorkin.github.io/ansi-to-html-converter.js.html
  test-results/vitest/coverage/idvorkin.github.io/index.html
  test-results/vitest/coverage/idvorkin.github.io/run-vitest-with-colors.js.html
  test-results/vitest/coverage/idvorkin.github.io/scripts/fetch-amazon-images.mjs.html
  test-results/vitest/coverage/idvorkin.github.io/scripts/index.html
  test-results/vitest/coverage/idvorkin.github.io/src/annotate-anchor.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/blogger_import.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/den-viewer.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/dev-info.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/diff-nav.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/featured-collapse.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/graph.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/header-copy-link.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/image-zoom.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/index.html
  test-results/vitest/coverage/idvorkin.github.io/src/index.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/main.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/page-loader.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/random-prompter.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/recent-posts-shared.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/recent-posts.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/recent.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/rich-diff.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/scroll-to-hash.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/search.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/shared.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/utils/dom-helpers.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/utils/index.html
  test-results/vitest/coverage/idvorkin.github.io/topics_tag_workflow.js.html
  test-results/vitest/coverage/index.html
  test-results/vitest/html/html.meta.json.gz
  test-results/vitest/test-output.json
  test-results/vitest/test-verbose-output.html
  test-results/vitest/test-verbose-output.txt
Due: none

p key: only loopback and ts.net hosts count as test origins
  assets/js/index.js
  assets/js/index.js.map
  src/__tests__/swap-prod-test.test.ts
  src/main.ts
  src/swap-prod-test.ts
  tests/e2e/swap-prod-test.spec.ts
Due: vitest-related
