Repository idvorkin/idvorkin.github.io: changes, and which pre-commit hooks are due for each by the changed paths.
All: vitest-related, update-backlinks-last-modified

vitest-related:
  name: Run Vitest on changed TypeScript files
  entry: .pre-commit-hooks/vitest-ts-files.sh
  language: script
  pass_filenames: false

update-backlinks-last-modified:
  name: Update last modified times for changed markdown files
  entry: uv run build_back_links.py delta
  language: system
  pass_filenames: true
  verbose: true

test: Clean up random-prompter tests
  .claude/settings.local.json
  CLAUDE.md
Due: update-backlinks-last-modified

fix: Update e2e tests for auto-generated sunburst structure
  assets/js/index.js
  assets/js/index.js.map
  src/page-loader.ts
  tests/e2e/todo-enjoy.spec.ts
Due: vitest-related

test: Add e2e tests for auto-generated sunburst
  .claude/settings.local.json
  CLAUDE.md
  assets/js/index.js
  assets/js/index.js.map
  biome.json
  justfile
  src/graph.ts
  src/image-zoom.ts
  src/index.ts
  src/main.ts
  src/page-loader.ts
  src/recent.ts
  src/search.ts
  tests/e2e/test-auto-sunburst.spec.ts
Due: vitest-related, update-backlinks-last-modified

fix: Address PR review comments for auto-generated sunburst
  .claude/settings.local.json
  assets/js/index.js
  assets/js/index.js.map
  src/random-prompter.ts
  tests/unit/random-prompter.test.ts
Due: vitest-related

fix: Address remaining PR review comments
  .claude/settings.local.json
  assets/js/index.js
  assets/js/index.js.map
  src/image-zoom.ts
  src/random-prompter.ts
  src/search.ts
  tests/unit/random-prompter.test.ts
Due: vitest-related

feat: Auto-generate sunburst plot from H2/H3 DOM elements (#61)
  .claude/settings.local.json
  CLAUDE.md
  _d/enjoy2.md
  _d/test-auto-sunburst.md
  assets/js/index.js
  assets/js/index.js.map
  back-links.json
  biome.json
  justfile
  src/graph.ts
  src/image-zoom.ts
  src/index.ts
  src/main.ts
  src/page-loader.ts
  src/random-prompter.ts
  src/recent.ts
  src/search.ts
  tests/e2e/test-auto-sunburst.spec.ts
  tests/e2e/todo-enjoy.spec.ts
  tests/unit/random-prompter.test.ts
Due: vitest-related, update-backlinks-last-modified

Deploying to test-results from @ idvorkin/idvorkin.github.io@299439d35c42a3535cd0be5f6e6ad9c127b9f993 🚀
  test-results/vitest/badge-count.json
  test-results/vitest/coverage/coverage-final.json
  test-results/vitest/coverage/idvorkin.github.io/ansi-to-html-converter.js.html
  test-results/vitest/coverage/idvorkin.github.io/index.html
  test-results/vitest/coverage/idvorkin.github.io/run-vitest-with-colors.js.html
  test-results/vitest/coverage/idvorkin.github.io/src/blogger_import.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/graph.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/header-copy-link.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/image-zoom.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/index.html
  test-results/vitest/coverage/idvorkin.github.io/src/index.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/main.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/page-loader.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/random-prompter.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/recent-posts-shared.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/recent-posts.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/recent.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/search.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/shared.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/utils/dom-helpers.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/utils/index.html
  test-results/vitest/coverage/index.html
  test-results/vitest/html/html.meta.json.gz
  test-results/vitest/test-output.json
  test-results/vitest/test-verbose-output.html
  test-results/vitest/test-verbose-output.txt
Due: none

refactor: move Vitest unit tests from tests/unit/ to src/__tests__/
  src/__tests__/blogger_import.test.ts
  src/__tests__/dom-helpers.test.ts
  src/__tests__/get-link-info.test.ts
  src/__tests__/graph.test.ts
  src/__tests__/header-copy-link.test.ts
  src/__tests__/index.test.ts
  src/__tests__/main.test.ts
  src/__tests__/page-loader.test.ts
  src/__tests__/random-prompter.test.ts
  src/__tests__/recent-posts.test.ts
  src/__tests__/recent.test.ts
  src/__tests__/search.test.ts
  src/__tests__/shared.test.ts
  src/__tests__/summarize-page.test.ts
  vitest.config.ts
Due: vitest-related

refactor: simplify test commands and remove duplicates in justfile
  justfile
Due: none

docs: update CLAUDE.md with new test structure and commands
  CLAUDE.md
Due: update-backlinks-last-modified

chore: add test artifacts to .gitignore
  .gitignore
Due: none

fix: remove accidental '1\!' entry from .gitignore
  .gitignore
  CLAUDE.md
Due: update-backlinks-last-modified

refactor: reorganize test structure and simplify test commands (#62)
  .gitignore
  CLAUDE.md
  justfile
  src/__tests__/blogger_import.test.ts
  src/__tests__/dom-helpers.test.ts
  src/__tests__/get-link-info.test.ts
  src/__tests__/graph.test.ts
  src/__tests__/header-copy-link.test.ts
  src/__tests__/index.test.ts
  src/__tests__/main.test.ts
  src/__tests__/page-loader.test.ts
  src/__tests__/random-prompter.test.ts
  src/__tests__/recent-posts.test.ts
  src/__tests__/recent.test.ts
  src/__tests__/search.test.ts
  src/__tests__/shared.test.ts
  src/__tests__/summarize-page.test.ts
  vitest.config.ts
Due: vitest-related, update-backlinks-last-modified

Deploying to test-results from @ idvorkin/idvorkin.github.io@77adc483742e6055aa8ad4733f85250f64119969 🚀
  test-results/vitest/coverage/idvorkin.github.io/ansi-to-html-converter.js.html
  test-results/vitest/coverage/idvorkin.github.io/index.html
  test-results/vitest/coverage/idvorkin.github.io/run-vitest-with-colors.js.html
  test-results/vitest/coverage/idvorkin.github.io/src/blogger_import.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/graph.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/header-copy-link.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/image-zoom.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/index.html
  test-results/vitest/coverage/idvorkin.github.io/src/index.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/main.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/page-loader.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/random-prompter.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/recent-posts-shared.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/recent-posts.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/recent.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/search.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/shared.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/utils/dom-helpers.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/utils/index.html
  test-results/vitest/coverage/index.html
  test-results/vitest/html/html.meta.json.gz
  test-results/vitest/test-output.json
  test-results/vitest/test-verbose-output.html
  test-results/vitest/test-verbose-output.txt
Due: none

feat: Add code-review-expert agent configuration
  .claude/settings.local.json
Due: none

fix: Fix e2e test failures and improve test stability
  assets/js/index.js
  assets/js/index.js.map
  graph.html
  src/header-copy-link.ts
  src/vendor/md-toc.js
  tests/e2e/header-copy-link.spec.ts
  tests/e2e/test-7-habits.spec.ts
  tests/e2e/test-auto-sunburst.spec.ts
  zz-chop-conventions
Due: vitest-related

chore: Remove symlink and update CLAUDE.md to reference external conventions
  CLAUDE.md
  zz-chop-conventions
Due: update-backlinks-last-modified

docs: Update CLAUDE.md to dynamically find readme files
  CLAUDE.md
Due: update-backlinks-last-modified

docs: Simplify CLAUDE.md to reference a_readme_first.md directly
  CLAUDE.md
Due: update-backlinks-last-modified

feat: Add pr-feedback-resolver agent
  .claude/agents/pr-feedback-resolver.md
Due: update-backlinks-last-modified

feat: Add code-review-expert agent configuration (#63)
  .claude/agents/pr-feedback-resolver.md
  .claude/settings.local.json
Due: update-backlinks-last-modified

Deploying to test-results from @ idvorkin/idvorkin.github.io@035987cacb7d1b6d4b1c60eb396a28da7512bfb6 🚀
  test-results/vitest/coverage/idvorkin.github.io/ansi-to-html-converter.js.html
  test-results/vitest/coverage/idvorkin.github.io/index.html
  test-results/vitest/coverage/idvorkin.github.io/run-vitest-with-colors.js.html
  test-results/vitest/coverage/idvorkin.github.io/src/blogger_import.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/graph.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/header-copy-link.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/image-zoom.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/index.html
  test-results/vitest/coverage/idvorkin.github.io/src/index.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/main.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/page-loader.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/random-prompter.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/recent-posts-shared.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/recent-posts.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/recent.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/search.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/shared.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/utils/dom-helpers.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/utils/index.html
  test-results/vitest/coverage/index.html
  test-results/vitest/html/html.meta.json.gz
  test-results/vitest/test-output.json
  test-results/vitest/test-verbose-output.html
  test-results/vitest/test-verbose-output.txt
Due: none

fix: Fix e2e test failures and improve test stability (#64)
  CLAUDE.md
  assets/js/index.js
  assets/js/index.js.map
  graph.html
  src/header-copy-link.ts
  src/vendor/md-toc.js
  tests/e2e/header-copy-link.spec.ts
  tests/e2e/test-7-habits.spec.ts
  tests/e2e/test-auto-sunburst.spec.ts
Due: vitest-related, update-backlinks-last-modified

Deploying to test-results from @ idvorkin/idvorkin.github.io@64259465b4e51de456bd2a16a8af8a68bcb1c6fb 🚀
  test-results/vitest/coverage/coverage-final.json
  test-results/vitest/coverage/idvorkin.github.io/ansi-to-html-converter.js.html
  test-results/vitest/coverage/idvorkin.github.io/index.html
  test-results/vitest/coverage/idvorkin.github.io/run-vitest-with-colors.js.html
  test-results/vitest/coverage/idvorkin.github.io/src/blogger_import.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/graph.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/header-copy-link.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/image-zoom.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/index.html
  test-results/vitest/coverage/idvorkin.github.io/src/index.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/main.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/page-loader.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/random-prompter.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/recent-posts-shared.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/recent-posts.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/recent.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/search.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/shared.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/utils/dom-helpers.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/utils/index.html
  test-results/vitest/coverage/index.html
  test-results/vitest/html/html.meta.json.gz
  test-results/vitest/test-output.json
  test-results/vitest/test-verbose-output.html
  test-results/vitest/test-verbose-output.txt
Due: none

Add agent
  .claude/agents/code-review-expert.md
Due: update-backlinks-last-modified

Deploying to test-results from @ idvorkin/idvorkin.github.io@cc45af182800fdb3395e899d4705a171bb75e72a 🚀
  test-results/vitest/coverage/idvorkin.github.io/ansi-to-html-converter.js.html
  test-results/vitest/coverage/idvorkin.github.io/index.html
  test-results/vitest/coverage/idvorkin.github.io/run-vitest-with-colors.js.html
  test-results/vitest/coverage/idvorkin.github.io/src/blogger_import.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/graph.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/header-copy-link.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/image-zoom.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/index.html
  test-results/vitest/coverage/idvorkin.github.io/src/index.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/main.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/page-loader.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/random-prompter.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/recent-posts-shared.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/recent-posts.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/recent.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/search.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/shared.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/utils/dom-helpers.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/utils/index.html
  test-results/vitest/coverage/index.html
  test-results/vitest/html/html.meta.json.gz
  test-results/vitest/test-output.json
  test-results/vitest/test-verbose-output.html
  test-results/vitest/test-verbose-output.txt
Due: none

feat: Add wearing zany TEMU crazy shirts to eulogy
  .pre-commit-config.yaml
  _posts/2020-04-01-Igor-Eulogy.md
  back-links.json
Due: update-backlinks-last-modified

feat: Add zany TEMU shirts to enjoy2.md and expand joy.md section
  _d/enjoy2.md
  _d/joy.md
  back-links.json
Due: update-backlinks-last-modified

feat: Add handing out 'you are awesome' cards to enjoy2.md
  _d/enjoy2.md
Due: update-backlinks-last-modified

feat: Add wearing zany TEMU crazy shirts to eulogy (#65)
  .pre-commit-config.yaml
  _d/enjoy2.md
  _d/joy.md
  _posts/2020-04-01-Igor-Eulogy.md
  back-links.json
Due: update-backlinks-last-modified

Deploying to test-results from @ idvorkin/idvorkin.github.io@e1f50bdd2c73ce4aee70c906225904cfb62307ef 🚀
  test-results/vitest/coverage/idvorkin.github.io/ansi-to-html-converter.js.html
  test-results/vitest/coverage/idvorkin.github.io/index.html
  test-results/vitest/coverage/idvorkin.github.io/run-vitest-with-colors.js.html
  test-results/vitest/coverage/idvorkin.github.io/src/blogger_import.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/graph.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/header-copy-link.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/image-zoom.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/index.html
  test-results/vitest/coverage/idvorkin.github.io/src/index.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/main.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/page-loader.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/random-prompter.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/recent-posts-shared.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/recent-posts.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/recent.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/search.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/shared.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/utils/dom-helpers.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/utils/index.html
  test-results/vitest/coverage/index.html
  test-results/vitest/html/html.meta.json.gz
  test-results/vitest/test-output.json
  test-results/vitest/test-verbose-output.html
  test-results/vitest/test-verbose-output.txt
Due: none

feat(claude-settings): add rule to open PR in web browser after update
  .claude/settings.local.json
  CLAUDE.md
Due: update-backlinks-last-modified

Deploying to test-results from @ idvorkin/idvorkin.github.io@20ee54ffa71c2768561c982afbfacc7bf6de4082 🚀
  test-results/vitest/coverage/coverage-final.json
  test-results/vitest/coverage/idvorkin.github.io/ansi-to-html-converter.js.html
  test-results/vitest/coverage/idvorkin.github.io/index.html
  test-results/vitest/coverage/idvorkin.github.io/run-vitest-with-colors.js.html
  test-results/vitest/coverage/idvorkin.github.io/src/blogger_import.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/graph.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/header-copy-link.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/image-zoom.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/index.html
  test-results/vitest/coverage/idvorkin.github.io/src/index.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/main.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/page-loader.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/random-prompter.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/recent-posts-shared.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/recent-posts.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/recent.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/search.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/shared.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/utils/dom-helpers.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/utils/index.html
  test-results/vitest/coverage/index.html
  test-results/vitest/html/html.meta.json.gz
  test-results/vitest/test-output.json
  test-results/vitest/test-verbose-output.html
  test-results/vitest/test-verbose-output.txt
Due: none

Add shirts
  _d/joy.md
  back-links.json
Due: update-backlinks-last-modified

Deploying to test-results from @ idvorkin/idvorkin.github.io@8e0098c64f893e36d575882140c22c5ced794bb4 🚀
  test-results/vitest/coverage/coverage-final.json
  test-results/vitest/coverage/idvorkin.github.io/ansi-to-html-converter.js.html
  test-results/vitest/coverage/idvorkin.github.io/index.html
  test-results/vitest/coverage/idvorkin.github.io/run-vitest-with-colors.js.html
  test-results/vitest/coverage/idvorkin.github.io/src/blogger_import.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/graph.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/header-copy-link.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/image-zoom.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/index.html
  test-results/vitest/coverage/idvorkin.github.io/src/index.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/main.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/page-loader.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/random-prompter.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/recent-posts-shared.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/recent-posts.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/recent.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/search.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/shared.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/utils/dom-helpers.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/utils/index.html
  test-results/vitest/coverage/index.html
  test-results/vitest/html/html.meta.json.gz
  test-results/vitest/test-output.json
  test-results/vitest/test-verbose-output.html
  test-results/vitest/test-verbose-output.txt
Due: none

feat: Add random page navigation feature
  .claude/settings.local.json
  _d/recent.md
  about.md
  assets/js/index.js
  assets/js/index.js.map
  back-links.json
  random.md
  src/index.ts
  src/shared.ts
Due: vitest-related, update-backlinks-last-modified

test: Add e2e tests for random page navigation feature
  tests/e2e/random-page.spec.ts
Due: vitest-related

docs: Add link to Seth Godin's anchovy problem blog post
  about.md
Due: update-backlinks-last-modified

feat: Add interactive random post selector to about page
  about.md
  assets/js/index.js
  assets/js/index.js.map
  src/index.ts
Due: vitest-related, update-backlinks-last-modified

test: Add e2e test for random post selector on about page
  tests/e2e/random-page.spec.ts
Due: vitest-related

Path conditions:
  vitest-related: any of: \.(ts|mts|cts)$
  update-backlinks-last-modified: any of: \.(md|markdown)$, but not: ^zz-chop-logs/.*$
