Repository idvorkin/idvorkin.github.io: changes, and which pre-commit hooks are due for each by the changed paths.
All: vitest-related, update-backlinks-last-modified, check-internal-links, anchor-checker

vitest-related:
  name: Run Vitest on changed TypeScript files
  entry: .pre-commit-hooks/vitest-ts-files.sh
  language: script
  pass_filenames: false

update-backlinks-last-modified:
  name: Update last modified times for changed markdown files
  entry: uv run build_back_links.py delta
  language: system
  pass_filenames: true
  verbose: true

check-internal-links:
  name: Check internal links with lychee
  entry: .pre-commit-hooks/check-links.py
  language: script
  pass_filenames: false
  always_run: false
  verbose: true

anchor-checker:
  name: Check markdown anchors
  entry: .pre-commit-hooks/anchor-checker.sh
  language: script
  pass_filenames: false
  always_run: false

content(timeoff-2026-07): apply Igor's review — summarize /time-off, fix ranked-list render, relocate intent section
  _d/time-off-2026-07.md
Due: update-backlinks-last-modified, check-internal-links, anchor-checker

feat(ai-eval-tools): add SWE-bench column, correct Terminal-Bench, contrast isolation models
  _d/ai-eval-tools.md
Due: update-backlinks-last-modified, check-internal-links, anchor-checker

Deploying to test-results from @ idvorkin/idvorkin.github.io@6df945e2f0c1d501b5e3b24abed9dca3853779d1 🚀
  test-results/vitest/coverage/idvorkin.github.io/ansi-to-html-converter.js.html
  test-results/vitest/coverage/idvorkin.github.io/index.html
  test-results/vitest/coverage/idvorkin.github.io/pagefind/index.html
  test-results/vitest/coverage/idvorkin.github.io/pagefind/pagefind-component-ui.js.html
  test-results/vitest/coverage/idvorkin.github.io/pagefind/pagefind-highlight.js.html
  test-results/vitest/coverage/idvorkin.github.io/pagefind/pagefind-modular-ui.js.html
  test-results/vitest/coverage/idvorkin.github.io/pagefind/pagefind-ui.js.html
  test-results/vitest/coverage/idvorkin.github.io/pagefind/pagefind-worker.js.html
  test-results/vitest/coverage/idvorkin.github.io/pagefind/pagefind.js.html
  test-results/vitest/coverage/idvorkin.github.io/run-vitest-with-colors.js.html
  test-results/vitest/coverage/idvorkin.github.io/scripts/fetch-amazon-images.mjs.html
  test-results/vitest/coverage/idvorkin.github.io/scripts/index.html
  test-results/vitest/coverage/idvorkin.github.io/src/blogger_import.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/dev-info.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/featured-collapse.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/graph.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/header-copy-link.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/image-zoom.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/index.html
  test-results/vitest/coverage/idvorkin.github.io/src/index.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/main.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/page-loader.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/random-prompter.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/recent-posts-shared.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/recent-posts.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/recent.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/search.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/shared.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/utils/dom-helpers.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/utils/index.html
  test-results/vitest/coverage/idvorkin.github.io/topics_tag_workflow.js.html
  test-results/vitest/coverage/index.html
  test-results/vitest/html/html.meta.json.gz
  test-results/vitest/test-output.json
  test-results/vitest/test-verbose-output.html
  test-results/vitest/test-verbose-output.txt
Due: none

content(timeoff-2026-07): apply Igor's 2026-08-08 review — merge the two city lists, add stories, drop the "how I tried" section
  _d/time-off-2026-07.md
  back-links.json
Due: update-backlinks-last-modified, check-internal-links, anchor-checker

feat(annotate): record capture origin alongside permalink
  _includes/annotate.html
  scripts/blog_review.py
  test_blog_review.py
Due: none

Deploying to test-results from @ idvorkin/idvorkin.github.io@c16685ae7911d4c5c935dd16592d41fd5ac33719 🚀
  test-results/vitest/coverage/coverage-final.json
  test-results/vitest/coverage/idvorkin.github.io/ansi-to-html-converter.js.html
  test-results/vitest/coverage/idvorkin.github.io/index.html
  test-results/vitest/coverage/idvorkin.github.io/pagefind/index.html
  test-results/vitest/coverage/idvorkin.github.io/pagefind/pagefind-component-ui.js.html
  test-results/vitest/coverage/idvorkin.github.io/pagefind/pagefind-highlight.js.html
  test-results/vitest/coverage/idvorkin.github.io/pagefind/pagefind-modular-ui.js.html
  test-results/vitest/coverage/idvorkin.github.io/pagefind/pagefind-ui.js.html
  test-results/vitest/coverage/idvorkin.github.io/pagefind/pagefind-worker.js.html
  test-results/vitest/coverage/idvorkin.github.io/pagefind/pagefind.js.html
  test-results/vitest/coverage/idvorkin.github.io/run-vitest-with-colors.js.html
  test-results/vitest/coverage/idvorkin.github.io/scripts/fetch-amazon-images.mjs.html
  test-results/vitest/coverage/idvorkin.github.io/scripts/index.html
  test-results/vitest/coverage/idvorkin.github.io/src/blogger_import.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/dev-info.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/featured-collapse.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/graph.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/header-copy-link.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/image-zoom.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/index.html
  test-results/vitest/coverage/idvorkin.github.io/src/index.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/main.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/page-loader.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/random-prompter.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/recent-posts-shared.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/recent-posts.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/recent.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/search.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/shared.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/utils/dom-helpers.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/utils/index.html
  test-results/vitest/coverage/idvorkin.github.io/topics_tag_workflow.js.html
  test-results/vitest/coverage/index.html
  test-results/vitest/html/html.meta.json.gz
  test-results/vitest/test-output.json
  test-results/vitest/test-verbose-output.html
  test-results/vitest/test-verbose-output.txt
Due: none

content(timeoff-2026-07): review round 2 — alert boxes, restore the subway dialogue, fix Voss timing
  _d/time-off-2026-07.md
Due: update-backlinks-last-modified, check-internal-links, anchor-checker

content(timeoff-2026-07): add the SATS gym photos to the kettlebell section
  _d/time-off-2026-07.md
  _includes/timeline_strip.html
  images/gym-nightclub-heavy-bags.webp
  images/gym-nightclub-kettlebells.webp
Due: update-backlinks-last-modified, check-internal-links, anchor-checker

timeline_strip: escape all fields and skip delimiter-less fragments
  _includes/timeline_strip.html
Due: none

Deploying to test-results from @ idvorkin/idvorkin.github.io@2b2c098dd29b35c9730cedb02d41e7c66e50e78d 🚀
  test-results/vitest/coverage/coverage-final.json
  test-results/vitest/coverage/idvorkin.github.io/ansi-to-html-converter.js.html
  test-results/vitest/coverage/idvorkin.github.io/index.html
  test-results/vitest/coverage/idvorkin.github.io/pagefind/index.html
  test-results/vitest/coverage/idvorkin.github.io/pagefind/pagefind-component-ui.js.html
  test-results/vitest/coverage/idvorkin.github.io/pagefind/pagefind-highlight.js.html
  test-results/vitest/coverage/idvorkin.github.io/pagefind/pagefind-modular-ui.js.html
  test-results/vitest/coverage/idvorkin.github.io/pagefind/pagefind-ui.js.html
  test-results/vitest/coverage/idvorkin.github.io/pagefind/pagefind-worker.js.html
  test-results/vitest/coverage/idvorkin.github.io/pagefind/pagefind.js.html
  test-results/vitest/coverage/idvorkin.github.io/run-vitest-with-colors.js.html
  test-results/vitest/coverage/idvorkin.github.io/scripts/fetch-amazon-images.mjs.html
  test-results/vitest/coverage/idvorkin.github.io/scripts/index.html
  test-results/vitest/coverage/idvorkin.github.io/src/blogger_import.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/dev-info.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/featured-collapse.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/graph.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/header-copy-link.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/image-zoom.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/index.html
  test-results/vitest/coverage/idvorkin.github.io/src/index.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/main.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/page-loader.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/random-prompter.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/recent-posts-shared.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/recent-posts.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/recent.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/search.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/shared.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/utils/dom-helpers.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/utils/index.html
  test-results/vitest/coverage/idvorkin.github.io/topics_tag_workflow.js.html
  test-results/vitest/coverage/index.html
  test-results/vitest/html/html.meta.json.gz
  test-results/vitest/test-output.json
  test-results/vitest/test-verbose-output.html
  test-results/vitest/test-verbose-output.txt
Due: none

Deploying to test-results from @ idvorkin/idvorkin.github.io@d3bdc50e19123a64064067a01d34b18b0d539115 🚀
  test-results/vitest/coverage/idvorkin.github.io/ansi-to-html-converter.js.html
  test-results/vitest/coverage/idvorkin.github.io/index.html
  test-results/vitest/coverage/idvorkin.github.io/pagefind/index.html
  test-results/vitest/coverage/idvorkin.github.io/pagefind/pagefind-component-ui.js.html
  test-results/vitest/coverage/idvorkin.github.io/pagefind/pagefind-highlight.js.html
  test-results/vitest/coverage/idvorkin.github.io/pagefind/pagefind-modular-ui.js.html
  test-results/vitest/coverage/idvorkin.github.io/pagefind/pagefind-ui.js.html
  test-results/vitest/coverage/idvorkin.github.io/pagefind/pagefind-worker.js.html
  test-results/vitest/coverage/idvorkin.github.io/pagefind/pagefind.js.html
  test-results/vitest/coverage/idvorkin.github.io/run-vitest-with-colors.js.html
  test-results/vitest/coverage/idvorkin.github.io/scripts/fetch-amazon-images.mjs.html
  test-results/vitest/coverage/idvorkin.github.io/scripts/index.html
  test-results/vitest/coverage/idvorkin.github.io/src/blogger_import.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/dev-info.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/featured-collapse.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/graph.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/header-copy-link.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/image-zoom.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/index.html
  test-results/vitest/coverage/idvorkin.github.io/src/index.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/main.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/page-loader.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/random-prompter.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/recent-posts-shared.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/recent-posts.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/recent.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/search.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/shared.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/utils/dom-helpers.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/utils/index.html
  test-results/vitest/coverage/idvorkin.github.io/topics_tag_workflow.js.html
  test-results/vitest/coverage/index.html
  test-results/vitest/html/html.meta.json.gz
  test-results/vitest/test-output.json
  test-results/vitest/test-verbose-output.html
  test-results/vitest/test-verbose-output.txt
Due: none

Deploying to test-results from @ idvorkin/idvorkin.github.io@260edcf7bd10f9b69daa641e64b3d63d23d3199d 🚀
  test-results/vitest/coverage/idvorkin.github.io/ansi-to-html-converter.js.html
  test-results/vitest/coverage/idvorkin.github.io/index.html
  test-results/vitest/coverage/idvorkin.github.io/pagefind/index.html
  test-results/vitest/coverage/idvorkin.github.io/pagefind/pagefind-component-ui.js.html
  test-results/vitest/coverage/idvorkin.github.io/pagefind/pagefind-highlight.js.html
  test-results/vitest/coverage/idvorkin.github.io/pagefind/pagefind-modular-ui.js.html
  test-results/vitest/coverage/idvorkin.github.io/pagefind/pagefind-ui.js.html
  test-results/vitest/coverage/idvorkin.github.io/pagefind/pagefind-worker.js.html
  test-results/vitest/coverage/idvorkin.github.io/pagefind/pagefind.js.html
  test-results/vitest/coverage/idvorkin.github.io/run-vitest-with-colors.js.html
  test-results/vitest/coverage/idvorkin.github.io/scripts/fetch-amazon-images.mjs.html
  test-results/vitest/coverage/idvorkin.github.io/scripts/index.html
  test-results/vitest/coverage/idvorkin.github.io/src/blogger_import.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/dev-info.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/featured-collapse.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/graph.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/header-copy-link.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/image-zoom.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/index.html
  test-results/vitest/coverage/idvorkin.github.io/src/index.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/main.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/page-loader.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/random-prompter.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/recent-posts-shared.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/recent-posts.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/recent.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/search.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/shared.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/utils/dom-helpers.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/utils/index.html
  test-results/vitest/coverage/idvorkin.github.io/topics_tag_workflow.js.html
  test-results/vitest/coverage/index.html
  test-results/vitest/html/html.meta.json.gz
  test-results/vitest/test-output.json
  test-results/vitest/test-verbose-output.html
  test-results/vitest/test-verbose-output.txt
Due: none

Deploying to test-results from @ idvorkin/idvorkin.github.io@bcdbef2972342819b423befb3bb2eab21ec824b9 🚀
  test-results/vitest/coverage/idvorkin.github.io/ansi-to-html-converter.js.html
  test-results/vitest/coverage/idvorkin.github.io/index.html
  test-results/vitest/coverage/idvorkin.github.io/pagefind/index.html
  test-results/vitest/coverage/idvorkin.github.io/pagefind/pagefind-component-ui.js.html
  test-results/vitest/coverage/idvorkin.github.io/pagefind/pagefind-highlight.js.html
  test-results/vitest/coverage/idvorkin.github.io/pagefind/pagefind-modular-ui.js.html
  test-results/vitest/coverage/idvorkin.github.io/pagefind/pagefind-ui.js.html
  test-results/vitest/coverage/idvorkin.github.io/pagefind/pagefind-worker.js.html
  test-results/vitest/coverage/idvorkin.github.io/pagefind/pagefind.js.html
  test-results/vitest/coverage/idvorkin.github.io/run-vitest-with-colors.js.html
  test-results/vitest/coverage/idvorkin.github.io/scripts/fetch-amazon-images.mjs.html
  test-results/vitest/coverage/idvorkin.github.io/scripts/index.html
  test-results/vitest/coverage/idvorkin.github.io/src/blogger_import.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/dev-info.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/featured-collapse.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/graph.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/header-copy-link.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/image-zoom.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/index.html
  test-results/vitest/coverage/idvorkin.github.io/src/index.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/main.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/page-loader.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/random-prompter.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/recent-posts-shared.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/recent-posts.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/recent.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/search.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/shared.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/utils/dom-helpers.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/utils/index.html
  test-results/vitest/coverage/idvorkin.github.io/topics_tag_workflow.js.html
  test-results/vitest/coverage/index.html
  test-results/vitest/html/html.meta.json.gz
  test-results/vitest/test-output.json
  test-results/vitest/test-verbose-output.html
  test-results/vitest/test-verbose-output.txt
Due: none

Deploying to test-results from @ idvorkin/idvorkin.github.io@350aed56397f2570bbf241aa721d6825438d9739 🚀
  test-results/vitest/coverage/idvorkin.github.io/ansi-to-html-converter.js.html
  test-results/vitest/coverage/idvorkin.github.io/index.html
  test-results/vitest/coverage/idvorkin.github.io/pagefind/index.html
  test-results/vitest/coverage/idvorkin.github.io/pagefind/pagefind-component-ui.js.html
  test-results/vitest/coverage/idvorkin.github.io/pagefind/pagefind-highlight.js.html
  test-results/vitest/coverage/idvorkin.github.io/pagefind/pagefind-modular-ui.js.html
  test-results/vitest/coverage/idvorkin.github.io/pagefind/pagefind-ui.js.html
  test-results/vitest/coverage/idvorkin.github.io/pagefind/pagefind-worker.js.html
  test-results/vitest/coverage/idvorkin.github.io/pagefind/pagefind.js.html
  test-results/vitest/coverage/idvorkin.github.io/run-vitest-with-colors.js.html
  test-results/vitest/coverage/idvorkin.github.io/scripts/fetch-amazon-images.mjs.html
  test-results/vitest/coverage/idvorkin.github.io/scripts/index.html
  test-results/vitest/coverage/idvorkin.github.io/src/blogger_import.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/dev-info.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/featured-collapse.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/graph.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/header-copy-link.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/image-zoom.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/index.html
  test-results/vitest/coverage/idvorkin.github.io/src/index.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/main.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/page-loader.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/random-prompter.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/recent-posts-shared.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/recent-posts.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/recent.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/search.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/shared.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/utils/dom-helpers.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/utils/index.html
  test-results/vitest/coverage/idvorkin.github.io/topics_tag_workflow.js.html
  test-results/vitest/coverage/index.html
  test-results/vitest/html/html.meta.json.gz
  test-results/vitest/test-output.json
  test-results/vitest/test-verbose-output.html
  test-results/vitest/test-verbose-output.txt
Due: none

Add 'Why We Invented Clowns' essay (/clowns)
  _d/clowns.md
Due: update-backlinks-last-modified, check-internal-links, anchor-checker

beads: conservative managed blocks + hygiene
  .claude/settings.json
  .gitignore
  AGENTS.md
  CLAUDE.md
Due: update-backlinks-last-modified, check-internal-links, anchor-checker

style: fold in pre-commit formatting (prettier/biome whitespace)
  .claude/settings.json
  AGENTS.md
  CLAUDE.md
Due: update-backlinks-last-modified, check-internal-links, anchor-checker

content(clowns): tag the post 100% AI slop
  _d/clowns.md
Due: update-backlinks-last-modified, check-internal-links, anchor-checker

content: new post — Manager to IC in the agentic era
  _d/em-to-ic.md
  back-links.json
Due: update-backlinks-last-modified, check-internal-links, anchor-checker

Deploying to test-results from @ idvorkin/idvorkin.github.io@50d702d41c7ed5da5be7668c40f8bf16c7dbb38b 🚀
  test-results/vitest/coverage/idvorkin.github.io/ansi-to-html-converter.js.html
  test-results/vitest/coverage/idvorkin.github.io/index.html
  test-results/vitest/coverage/idvorkin.github.io/pagefind/index.html
  test-results/vitest/coverage/idvorkin.github.io/pagefind/pagefind-component-ui.js.html
  test-results/vitest/coverage/idvorkin.github.io/pagefind/pagefind-highlight.js.html
  test-results/vitest/coverage/idvorkin.github.io/pagefind/pagefind-modular-ui.js.html
  test-results/vitest/coverage/idvorkin.github.io/pagefind/pagefind-ui.js.html
  test-results/vitest/coverage/idvorkin.github.io/pagefind/pagefind-worker.js.html
  test-results/vitest/coverage/idvorkin.github.io/pagefind/pagefind.js.html
  test-results/vitest/coverage/idvorkin.github.io/run-vitest-with-colors.js.html
  test-results/vitest/coverage/idvorkin.github.io/scripts/fetch-amazon-images.mjs.html
  test-results/vitest/coverage/idvorkin.github.io/scripts/index.html
  test-results/vitest/coverage/idvorkin.github.io/src/blogger_import.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/dev-info.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/featured-collapse.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/graph.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/header-copy-link.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/image-zoom.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/index.html
  test-results/vitest/coverage/idvorkin.github.io/src/index.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/main.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/page-loader.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/random-prompter.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/recent-posts-shared.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/recent-posts.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/recent.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/search.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/shared.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/utils/dom-helpers.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/utils/index.html
  test-results/vitest/coverage/idvorkin.github.io/topics_tag_workflow.js.html
  test-results/vitest/coverage/index.html
  test-results/vitest/html/html.meta.json.gz
  test-results/vitest/test-output.json
  test-results/vitest/test-verbose-output.html
  test-results/vitest/test-verbose-output.txt
Due: none

content(ai-testing): add TryAI drawing-arena example on scoring the trajectory
  _d/ai-testing.md
Due: update-backlinks-last-modified, check-internal-links, anchor-checker

content(energy): the hardest energy leak to cut is the one you enjoy
  _d/energy-abundance.md
Due: update-backlinks-last-modified, check-internal-links, anchor-checker

content: changelog entry for week of 2026-08-10
  _d/changelog.md
Due: update-backlinks-last-modified, check-internal-links, anchor-checker

Deploying to test-results from @ idvorkin/idvorkin.github.io@49023c01dd0b4f35bba45a45a6ff74e215371766 🚀
  test-results/vitest/coverage/idvorkin.github.io/ansi-to-html-converter.js.html
  test-results/vitest/coverage/idvorkin.github.io/index.html
  test-results/vitest/coverage/idvorkin.github.io/pagefind/index.html
  test-results/vitest/coverage/idvorkin.github.io/pagefind/pagefind-component-ui.js.html
  test-results/vitest/coverage/idvorkin.github.io/pagefind/pagefind-highlight.js.html
  test-results/vitest/coverage/idvorkin.github.io/pagefind/pagefind-modular-ui.js.html
  test-results/vitest/coverage/idvorkin.github.io/pagefind/pagefind-ui.js.html
  test-results/vitest/coverage/idvorkin.github.io/pagefind/pagefind-worker.js.html
  test-results/vitest/coverage/idvorkin.github.io/pagefind/pagefind.js.html
  test-results/vitest/coverage/idvorkin.github.io/run-vitest-with-colors.js.html
  test-results/vitest/coverage/idvorkin.github.io/scripts/fetch-amazon-images.mjs.html
  test-results/vitest/coverage/idvorkin.github.io/scripts/index.html
  test-results/vitest/coverage/idvorkin.github.io/src/blogger_import.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/dev-info.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/featured-collapse.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/graph.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/header-copy-link.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/image-zoom.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/index.html
  test-results/vitest/coverage/idvorkin.github.io/src/index.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/main.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/page-loader.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/random-prompter.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/recent-posts-shared.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/recent-posts.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/recent.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/search.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/shared.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/utils/dom-helpers.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/utils/index.html
  test-results/vitest/coverage/idvorkin.github.io/topics_tag_workflow.js.html
  test-results/vitest/coverage/index.html
  test-results/vitest/html/html.meta.json.gz
  test-results/vitest/test-output.json
  test-results/vitest/test-verbose-output.html
  test-results/vitest/test-verbose-output.txt
Due: none

fix(taxes): correct 2026 figures, replace dead links, cite primary sources
  _d/taxes.md
Due: update-backlinks-last-modified, check-internal-links, anchor-checker

Deploying to test-results from @ idvorkin/idvorkin.github.io@94045aa6a0980a003bd8a9c2a38c396eee0182e2 🚀
  test-results/vitest/coverage/idvorkin.github.io/ansi-to-html-converter.js.html
  test-results/vitest/coverage/idvorkin.github.io/index.html
  test-results/vitest/coverage/idvorkin.github.io/pagefind/index.html
  test-results/vitest/coverage/idvorkin.github.io/pagefind/pagefind-component-ui.js.html
  test-results/vitest/coverage/idvorkin.github.io/pagefind/pagefind-highlight.js.html
  test-results/vitest/coverage/idvorkin.github.io/pagefind/pagefind-modular-ui.js.html
  test-results/vitest/coverage/idvorkin.github.io/pagefind/pagefind-ui.js.html
  test-results/vitest/coverage/idvorkin.github.io/pagefind/pagefind-worker.js.html
  test-results/vitest/coverage/idvorkin.github.io/pagefind/pagefind.js.html
  test-results/vitest/coverage/idvorkin.github.io/run-vitest-with-colors.js.html
  test-results/vitest/coverage/idvorkin.github.io/scripts/fetch-amazon-images.mjs.html
  test-results/vitest/coverage/idvorkin.github.io/scripts/index.html
  test-results/vitest/coverage/idvorkin.github.io/src/blogger_import.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/dev-info.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/featured-collapse.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/graph.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/header-copy-link.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/image-zoom.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/index.html
  test-results/vitest/coverage/idvorkin.github.io/src/index.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/main.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/page-loader.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/random-prompter.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/recent-posts-shared.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/recent-posts.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/recent.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/search.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/shared.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/utils/dom-helpers.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/utils/index.html
  test-results/vitest/coverage/idvorkin.github.io/topics_tag_workflow.js.html
  test-results/vitest/coverage/index.html
  test-results/vitest/html/html.meta.json.gz
  test-results/vitest/test-output.json
  test-results/vitest/test-verbose-output.html
  test-results/vitest/test-verbose-output.txt
Due: none

backlinks: make the delta path agree with the full build on redirects
  build_back_links.py
  test_back_links_delta.py
Due: none

Deploying to test-results from @ idvorkin/idvorkin.github.io@7b40f41a3243d5e0bdfe731ba22dd44f73a0baea 🚀
  test-results/vitest/coverage/idvorkin.github.io/ansi-to-html-converter.js.html
  test-results/vitest/coverage/idvorkin.github.io/index.html
  test-results/vitest/coverage/idvorkin.github.io/pagefind/index.html
  test-results/vitest/coverage/idvorkin.github.io/pagefind/pagefind-component-ui.js.html
  test-results/vitest/coverage/idvorkin.github.io/pagefind/pagefind-highlight.js.html
  test-results/vitest/coverage/idvorkin.github.io/pagefind/pagefind-modular-ui.js.html
  test-results/vitest/coverage/idvorkin.github.io/pagefind/pagefind-ui.js.html
  test-results/vitest/coverage/idvorkin.github.io/pagefind/pagefind-worker.js.html
  test-results/vitest/coverage/idvorkin.github.io/pagefind/pagefind.js.html
  test-results/vitest/coverage/idvorkin.github.io/run-vitest-with-colors.js.html
  test-results/vitest/coverage/idvorkin.github.io/scripts/fetch-amazon-images.mjs.html
  test-results/vitest/coverage/idvorkin.github.io/scripts/index.html
  test-results/vitest/coverage/idvorkin.github.io/src/blogger_import.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/dev-info.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/featured-collapse.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/graph.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/header-copy-link.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/image-zoom.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/index.html
  test-results/vitest/coverage/idvorkin.github.io/src/index.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/main.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/page-loader.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/random-prompter.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/recent-posts-shared.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/recent-posts.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/recent.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/search.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/shared.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/utils/dom-helpers.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/utils/index.html
  test-results/vitest/coverage/idvorkin.github.io/topics_tag_workflow.js.html
  test-results/vitest/coverage/index.html
  test-results/vitest/html/html.meta.json.gz
  test-results/vitest/test-output.json
  test-results/vitest/test-verbose-output.html
  test-results/vitest/test-verbose-output.txt
Due: none

Address PR #798 review: pins payload guard, root-pin validation, wording
  _d/time-off-next.md
  assets/js/index.js
  assets/js/index.js.map
  scripts/verify-search-index.sh
  src/__tests__/search.test.ts
  src/search.ts
Due: vitest-related, update-backlinks-last-modified, check-internal-links, anchor-checker

content(em-to-ic): trim open questions, add multi-player agentic question
  _d/em-to-ic.md
Due: update-backlinks-last-modified, check-internal-links, anchor-checker

Deploying to test-results from @ idvorkin/idvorkin.github.io@911a085bcb6526509b00e47cba6832fd971bb248 🚀
  test-results/vitest/coverage/idvorkin.github.io/ansi-to-html-converter.js.html
  test-results/vitest/coverage/idvorkin.github.io/index.html
  test-results/vitest/coverage/idvorkin.github.io/pagefind/index.html
  test-results/vitest/coverage/idvorkin.github.io/pagefind/pagefind-component-ui.js.html
  test-results/vitest/coverage/idvorkin.github.io/pagefind/pagefind-highlight.js.html
  test-results/vitest/coverage/idvorkin.github.io/pagefind/pagefind-modular-ui.js.html
  test-results/vitest/coverage/idvorkin.github.io/pagefind/pagefind-ui.js.html
  test-results/vitest/coverage/idvorkin.github.io/pagefind/pagefind-worker.js.html
  test-results/vitest/coverage/idvorkin.github.io/pagefind/pagefind.js.html
  test-results/vitest/coverage/idvorkin.github.io/run-vitest-with-colors.js.html
  test-results/vitest/coverage/idvorkin.github.io/scripts/fetch-amazon-images.mjs.html
  test-results/vitest/coverage/idvorkin.github.io/scripts/index.html
  test-results/vitest/coverage/idvorkin.github.io/src/blogger_import.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/dev-info.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/featured-collapse.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/graph.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/header-copy-link.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/image-zoom.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/index.html
  test-results/vitest/coverage/idvorkin.github.io/src/index.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/main.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/page-loader.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/random-prompter.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/recent-posts-shared.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/recent-posts.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/recent.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/search.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/shared.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/utils/dom-helpers.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/utils/index.html
  test-results/vitest/coverage/idvorkin.github.io/topics_tag_workflow.js.html
  test-results/vitest/coverage/index.html
  test-results/vitest/html/html.meta.json.gz
  test-results/vitest/test-output.json
  test-results/vitest/test-verbose-output.html
  test-results/vitest/test-verbose-output.txt
Due: none

content(ai-testing): promote harness-bound evals to a Concepts entry
  _d/ai-testing.md
Due: update-backlinks-last-modified, check-internal-links, anchor-checker

Deploying to test-results from @ idvorkin/idvorkin.github.io@809b6ad67f5b506ef7197eab7099af1d1dea3749 🚀
  test-results/vitest/badge-count.json
  test-results/vitest/coverage/coverage-final.json
  test-results/vitest/coverage/idvorkin.github.io/ansi-to-html-converter.js.html
  test-results/vitest/coverage/idvorkin.github.io/index.html
  test-results/vitest/coverage/idvorkin.github.io/pagefind/index.html
  test-results/vitest/coverage/idvorkin.github.io/pagefind/pagefind-component-ui.js.html
  test-results/vitest/coverage/idvorkin.github.io/pagefind/pagefind-highlight.js.html
  test-results/vitest/coverage/idvorkin.github.io/pagefind/pagefind-modular-ui.js.html
  test-results/vitest/coverage/idvorkin.github.io/pagefind/pagefind-ui.js.html
  test-results/vitest/coverage/idvorkin.github.io/pagefind/pagefind-worker.js.html
  test-results/vitest/coverage/idvorkin.github.io/pagefind/pagefind.js.html
  test-results/vitest/coverage/idvorkin.github.io/run-vitest-with-colors.js.html
  test-results/vitest/coverage/idvorkin.github.io/scripts/fetch-amazon-images.mjs.html
  test-results/vitest/coverage/idvorkin.github.io/scripts/index.html
  test-results/vitest/coverage/idvorkin.github.io/src/blogger_import.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/dev-info.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/featured-collapse.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/graph.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/header-copy-link.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/image-zoom.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/index.html
  test-results/vitest/coverage/idvorkin.github.io/src/index.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/main.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/page-loader.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/random-prompter.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/recent-posts-shared.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/recent-posts.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/recent.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/search.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/shared.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/utils/dom-helpers.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/utils/index.html
  test-results/vitest/coverage/idvorkin.github.io/topics_tag_workflow.js.html
  test-results/vitest/coverage/index.html
  test-results/vitest/html/html.meta.json.gz
  test-results/vitest/test-output.json
  test-results/vitest/test-verbose-output.html
  test-results/vitest/test-verbose-output.txt
Due: none

chore: install gems and node_modules in just worktree-init
  justfile
Due: none

Deploying to test-results from @ idvorkin/idvorkin.github.io@31e2973a5abb54aae18f87c1d3dc7902db98f619 🚀
  test-results/vitest/coverage/coverage-final.json
  test-results/vitest/coverage/idvorkin.github.io/ansi-to-html-converter.js.html
  test-results/vitest/coverage/idvorkin.github.io/index.html
  test-results/vitest/coverage/idvorkin.github.io/pagefind/index.html
  test-results/vitest/coverage/idvorkin.github.io/pagefind/pagefind-component-ui.js.html
  test-results/vitest/coverage/idvorkin.github.io/pagefind/pagefind-highlight.js.html
  test-results/vitest/coverage/idvorkin.github.io/pagefind/pagefind-modular-ui.js.html
  test-results/vitest/coverage/idvorkin.github.io/pagefind/pagefind-ui.js.html
  test-results/vitest/coverage/idvorkin.github.io/pagefind/pagefind-worker.js.html
  test-results/vitest/coverage/idvorkin.github.io/pagefind/pagefind.js.html
  test-results/vitest/coverage/idvorkin.github.io/run-vitest-with-colors.js.html
  test-results/vitest/coverage/idvorkin.github.io/scripts/fetch-amazon-images.mjs.html
  test-results/vitest/coverage/idvorkin.github.io/scripts/index.html
  test-results/vitest/coverage/idvorkin.github.io/src/blogger_import.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/dev-info.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/featured-collapse.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/graph.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/header-copy-link.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/image-zoom.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/index.html
  test-results/vitest/coverage/idvorkin.github.io/src/index.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/main.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/page-loader.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/random-prompter.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/recent-posts-shared.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/recent-posts.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/recent.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/search.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/shared.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/utils/dom-helpers.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/utils/index.html
  test-results/vitest/coverage/idvorkin.github.io/topics_tag_workflow.js.html
  test-results/vitest/coverage/index.html
  test-results/vitest/html/html.meta.json.gz
  test-results/vitest/test-output.json
  test-results/vitest/test-verbose-output.html
  test-results/vitest/test-verbose-output.txt
Due: none

ci(pages): build back-links.json at deploy time; drop update-backlinks.yml
  .github/workflows/pages.yml
  .github/workflows/update-backlinks.yml
Due: none

ci(pages): build back-links.json at deploy time; drop update-backlinks.yml (#803)
  .github/workflows/pages.yml
  .github/workflows/update-backlinks.yml
Due: none

Deploying to test-results from @ idvorkin/idvorkin.github.io@62d53486d6c0ff1e438c55430b9a2b5526bb886e 🚀
  test-results/vitest/coverage/idvorkin.github.io/ansi-to-html-converter.js.html
  test-results/vitest/coverage/idvorkin.github.io/index.html
  test-results/vitest/coverage/idvorkin.github.io/pagefind/index.html
  test-results/vitest/coverage/idvorkin.github.io/pagefind/pagefind-component-ui.js.html
  test-results/vitest/coverage/idvorkin.github.io/pagefind/pagefind-highlight.js.html
  test-results/vitest/coverage/idvorkin.github.io/pagefind/pagefind-modular-ui.js.html
  test-results/vitest/coverage/idvorkin.github.io/pagefind/pagefind-ui.js.html
  test-results/vitest/coverage/idvorkin.github.io/pagefind/pagefind-worker.js.html
  test-results/vitest/coverage/idvorkin.github.io/pagefind/pagefind.js.html
  test-results/vitest/coverage/idvorkin.github.io/run-vitest-with-colors.js.html
  test-results/vitest/coverage/idvorkin.github.io/scripts/fetch-amazon-images.mjs.html
  test-results/vitest/coverage/idvorkin.github.io/scripts/index.html
  test-results/vitest/coverage/idvorkin.github.io/src/blogger_import.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/dev-info.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/featured-collapse.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/graph.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/header-copy-link.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/image-zoom.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/index.html
  test-results/vitest/coverage/idvorkin.github.io/src/index.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/main.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/page-loader.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/random-prompter.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/recent-posts-shared.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/recent-posts.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/recent.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/search.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/shared.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/utils/dom-helpers.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/utils/index.html
  test-results/vitest/coverage/idvorkin.github.io/topics_tag_workflow.js.html
  test-results/vitest/coverage/index.html
  test-results/vitest/html/html.meta.json.gz
  test-results/vitest/test-output.json
  test-results/vitest/test-verbose-output.html
  test-results/vitest/test-verbose-output.txt
Due: none

Path conditions:
  vitest-related: any of: \.(ts|mts|cts)$
  update-backlinks-last-modified: any of: \.(md|markdown)$, but not: ^zz-chop-logs/.*$|back-links.json
  check-internal-links: any of: \.(md|markdown)$, but not: ^zz-chop-logs/.*$|back-links.json
  anchor-checker: any of: \.(md|markdown)$, but not: ^zz-chop-logs/.*$|back-links.json
