Repository idvorkin/idvorkin.github.io: changes, and which pre-commit hooks are due for each by the changed paths.
All: vitest-related, update-backlinks-last-modified

.pre-commit-config.yaml:

# Common configuration values
exclude_chop_logs: &exclude_chop_logs
  exclude: "^zz-chop-logs/.*$" # Exclude the zz-chop-logs directory

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.1.8
    hooks:
      # Run the linter.
      - id: ruff
        types_or: [python, pyi, jupyter]
        args: [--fix]
      # Run the formatter.
      - id: ruff-format
        types_or: [python, pyi, jupyter]

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: "v3.1.0"
    hooks:
      - id: prettier
        <<: *exclude_chop_logs

  - repo: https://github.com/TomWright/dasel
    rev: v2.8.1
    hooks:
      - id: dasel-validate

  - repo: local
    hooks:
      - id: vitest-related
        name: Run Vitest on changed TypeScript files
        entry: .pre-commit-hooks/vitest-ts-files.sh
        language: script
        types: [ts]
        pass_filenames: false

      - id: update-backlinks-last-modified
        name: Update last modified times for changed markdown files
        entry: uv run build_back_links.py delta
        language: system
        files: '\.(md|markdown)$'
        <<: *exclude_chop_logs
        pass_filenames: true
        verbose: true

test: add test to verify H1 headers receive share links
  CLAUDE.md
  src/__tests__/header-copy-link.test.ts
Due: vitest-related, update-backlinks-last-modified

fix: resolve WeakMap iteration issues in cleanup function
  assets/js/index.js
  assets/js/index.js.map
  src/header-copy-link.ts
Due: vitest-related

docs: add PR best practices to CLAUDE.md
  CLAUDE.md
Due: update-backlinks-last-modified

feat: change to iOS-style share icon (fa-share)
  CLAUDE.md
  assets/js/index.js
  assets/js/index.js.map
  src/header-copy-link.ts
Due: vitest-related, update-backlinks-last-modified

feat: use exact iOS share icon (fa-arrow-up-from-bracket)
  CLAUDE.md
  assets/js/index.js
  assets/js/index.js.map
  src/header-copy-link.ts
Due: vitest-related, update-backlinks-last-modified

feat: Implement share links improvements
  assets/js/index.js
  assets/js/index.js.map
  src/header-copy-link.ts
Due: vitest-related

Improve share links functionality (#105)
  .claude/settings.local.json
  CLAUDE.md
  assets/js/index.js
  assets/js/index.js.map
  src/__tests__/header-copy-link.test.ts
  src/header-copy-link.ts
Due: vitest-related, update-backlinks-last-modified

Deploying to test-results from @ idvorkin/idvorkin.github.io@665aa6ee7a3b43894eab97f1c68ca2209bf79dce 🚀
  test-results/vitest/badge-count.json
  test-results/vitest/html/html.meta.json.gz
  test-results/vitest/test-output.json
  test-results/vitest/test-verbose-output.txt
Due: none

Clean up and consolidate CLAUDE.md documentation
  CLAUDE.md
Due: update-backlinks-last-modified

Deploying to test-results from @ idvorkin/idvorkin.github.io@0a20fc6b9e335745c0e0781d185fdbdef5a7cbc8 🚀
  test-results/vitest/html/html.meta.json.gz
  test-results/vitest/test-output.json
  test-results/vitest/test-verbose-output.txt
Due: none

feat: Add sort_order field to control featured posts
  _d/time-off-2025-08.md
  _posts/2016-03-03-the-manager-book-2.md
  _posts/2020-04-01-Igor-Eulogy.md
Due: update-backlinks-last-modified

feat: Add preview text to link sharing functionality
  assets/js/index.js
  assets/js/index.js.map
  src/__tests__/header-copy-link.test.ts
  src/header-copy-link.ts
Due: vitest-related

Deploying to test-results from @ idvorkin/idvorkin.github.io@07e80b455113ef46bf2a539f61350dbfaca1ab7e 🚀
  test-results/vitest/html/html.meta.json.gz
  test-results/vitest/test-output.json
  test-results/vitest/test-verbose-output.txt
Due: none

feat: Add sort_order field to control featured posts (#107)
  _d/time-off-2025-08.md
  _posts/2016-03-03-the-manager-book-2.md
  _posts/2020-04-01-Igor-Eulogy.md
Due: update-backlinks-last-modified

Deploying to test-results from @ idvorkin/idvorkin.github.io@ee77efef031bf41d02bdf68727c60a13c2e6bb39 🚀
  test-results/vitest/html/html.meta.json.gz
  test-results/vitest/test-output.json
  test-results/vitest/test-verbose-output.txt
Due: none

feat: Make homepage show search with featured, recent, and random posts
  _includes/site-menu.html
  index.md
Due: update-backlinks-last-modified

refactor: Replace autocomplete dropdown with inline search results
  index.md
Due: update-backlinks-last-modified

feat: Display search results inline instead of as dropdown
  index.md
Due: update-backlinks-last-modified

refactor: Reduce posts per section to 3 for cleaner layout
  assets/js/index.js
  assets/js/index.js.map
  index.md
  src/index.ts
Due: vitest-related, update-backlinks-last-modified

style: Make search results more compact like dropdown style
  index.md
Due: update-backlinks-last-modified

refactor: Remove welcome message and add info to search placeholder
  CLAUDE.md
  index.md
  justfile
Due: update-backlinks-last-modified

style: Tighten spacing for mobile view
  index.md
Due: update-backlinks-last-modified

fix: Address code review feedback for homepage search
  index.md
  tests/e2e/search.spec.ts
Due: vitest-related, update-backlinks-last-modified

Make homepage show search with featured, recent, and random posts (#106)
  CLAUDE.md
  _includes/site-menu.html
  assets/js/index.js
  assets/js/index.js.map
  index.md
  justfile
  src/index.ts
  tests/e2e/search.spec.ts
Due: vitest-related, update-backlinks-last-modified

Deploying to test-results from @ idvorkin/idvorkin.github.io@3bcd1bb328891de19e73427e741b6235643e7349 🚀
  test-results/vitest/html/html.meta.json.gz
  test-results/vitest/test-output.json
  test-results/vitest/test-verbose-output.txt
Due: none

fix: Update iOS share icon and clipboard text format
  assets/js/index.js
  assets/js/index.js.map
  src/header-copy-link.ts
Due: vitest-related

test: Fix failing header-copy-link tests
  src/__tests__/header-copy-link.test.ts
Due: vitest-related

fix: Update iOS share icon and clipboard text format (#108)
  assets/js/index.js
  assets/js/index.js.map
  src/__tests__/header-copy-link.test.ts
  src/header-copy-link.ts
Due: vitest-related

Deploying to test-results from @ idvorkin/idvorkin.github.io@cb587585744a974bb55cdfcf8b81fdb24f7fb563 🚀
  test-results/vitest/badge-count.json
  test-results/vitest/coverage/coverage-final.json
  test-results/vitest/coverage/idvorkin.github.io/ansi-to-html-converter.js.html
  test-results/vitest/coverage/idvorkin.github.io/index.html
  test-results/vitest/coverage/idvorkin.github.io/run-vitest-with-colors.js.html
  test-results/vitest/coverage/idvorkin.github.io/src/blogger_import.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/dev-info.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/graph.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/header-copy-link.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/image-zoom.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/index.html
  test-results/vitest/coverage/idvorkin.github.io/src/index.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/main.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/page-loader.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/random-prompter.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/recent-posts-shared.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/recent-posts.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/recent.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/search.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/shared.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/utils/dom-helpers.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/utils/index.html
  test-results/vitest/coverage/index.html
  test-results/vitest/html/html.meta.json.gz
  test-results/vitest/test-output.json
  test-results/vitest/test-verbose-output.html
  test-results/vitest/test-verbose-output.txt
Due: none

Checkpoint
  docker/Dockerfile.3-development
  docker/container-prompt.sh
  docker/run-docker.sh
Due: none

feat: add minimal Docker development environment (#96)
  .claude/settings.local.json
  .gitignore
  docker/Dockerfile.1-base
  docker/Dockerfile.2-stable-minimal
  docker/Dockerfile.3-claude
  docker/Dockerfile.3-development
  docker/README.md
  docker/build-claude.sh
  docker/build-dev.sh
  docker/build-minimal.sh
  docker/container-prompt.sh
  docker/run-docker.sh
  docker/run-e2e-tests.sh
  docker/test-claude.sh
  docker/test-container-claude.sh
Due: update-backlinks-last-modified

Deploying to test-results from @ idvorkin/idvorkin.github.io@f01eae3e8a8649dd9022b0f720b420792ac2d16b 🚀
  test-results/vitest/coverage/idvorkin.github.io/ansi-to-html-converter.js.html
  test-results/vitest/coverage/idvorkin.github.io/index.html
  test-results/vitest/coverage/idvorkin.github.io/run-vitest-with-colors.js.html
  test-results/vitest/coverage/idvorkin.github.io/src/blogger_import.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/dev-info.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/graph.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/header-copy-link.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/image-zoom.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/index.html
  test-results/vitest/coverage/idvorkin.github.io/src/index.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/main.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/page-loader.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/random-prompter.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/recent-posts-shared.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/recent-posts.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/recent.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/search.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/shared.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/utils/dom-helpers.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/utils/index.html
  test-results/vitest/coverage/index.html
  test-results/vitest/html/html.meta.json.gz
  test-results/vitest/test-output.json
  test-results/vitest/test-verbose-output.html
  test-results/vitest/test-verbose-output.txt
Due: none

feat: port Docker manager script from bash to Python
  docker/run-docker.py
  docker/run-docker.sh
Due: none

feat(docker): Enhance Docker build and runtime configurations
  .claude/settings.local.json
  docker/Dockerfile.3-development
  docker/build-claude.sh
  docker/build-dev.sh
  docker/build-minimal.sh
  docker/run-docker.py
Due: none

Deploying to test-results from @ idvorkin/idvorkin.github.io@8edc02b1257511ab9680199fc21a8d5ad4e541ba 🚀
  test-results/vitest/coverage/idvorkin.github.io/ansi-to-html-converter.js.html
  test-results/vitest/coverage/idvorkin.github.io/index.html
  test-results/vitest/coverage/idvorkin.github.io/run-vitest-with-colors.js.html
  test-results/vitest/coverage/idvorkin.github.io/src/blogger_import.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/dev-info.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/graph.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/header-copy-link.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/image-zoom.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/index.html
  test-results/vitest/coverage/idvorkin.github.io/src/index.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/main.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/page-loader.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/random-prompter.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/recent-posts-shared.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/recent-posts.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/recent.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/search.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/shared.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/utils/dom-helpers.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/utils/index.html
  test-results/vitest/coverage/index.html
  test-results/vitest/html/html.meta.json.gz
  test-results/vitest/test-output.json
  test-results/vitest/test-verbose-output.html
  test-results/vitest/test-verbose-output.txt
Due: none

refactor(docker): Simplify volume mounts to use /ro_host pattern
  docker/run-docker.py
Due: none

feat(docker): Add 1Password integration for GitHub token
  docker/run-docker.py
Due: none

Deploying to test-results from @ idvorkin/idvorkin.github.io@ec5f6bdc2d7748a713408e2d7f639f9d8d244407 🚀
  test-results/vitest/coverage/idvorkin.github.io/ansi-to-html-converter.js.html
  test-results/vitest/coverage/idvorkin.github.io/index.html
  test-results/vitest/coverage/idvorkin.github.io/run-vitest-with-colors.js.html
  test-results/vitest/coverage/idvorkin.github.io/src/blogger_import.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/dev-info.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/graph.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/header-copy-link.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/image-zoom.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/index.html
  test-results/vitest/coverage/idvorkin.github.io/src/index.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/main.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/page-loader.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/random-prompter.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/recent-posts-shared.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/recent-posts.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/recent.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/search.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/shared.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/utils/dom-helpers.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/utils/index.html
  test-results/vitest/coverage/index.html
  test-results/vitest/html/html.meta.json.gz
  test-results/vitest/test-output.json
  test-results/vitest/test-verbose-output.html
  test-results/vitest/test-verbose-output.txt
Due: none

Remove super slow plugins
  docker/Dockerfile.3-development
  docker/claude-docker.py
Due: none

Deploying to test-results from @ idvorkin/idvorkin.github.io@83c234e1e80e59fd1a155cd8d1f01856fe92226e 🚀
  test-results/vitest/coverage/idvorkin.github.io/ansi-to-html-converter.js.html
  test-results/vitest/coverage/idvorkin.github.io/index.html
  test-results/vitest/coverage/idvorkin.github.io/run-vitest-with-colors.js.html
  test-results/vitest/coverage/idvorkin.github.io/src/blogger_import.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/dev-info.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/graph.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/header-copy-link.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/image-zoom.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/index.html
  test-results/vitest/coverage/idvorkin.github.io/src/index.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/main.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/page-loader.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/random-prompter.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/recent-posts-shared.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/recent-posts.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/recent.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/search.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/shared.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/utils/dom-helpers.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/utils/index.html
  test-results/vitest/coverage/index.html
  test-results/vitest/html/html.meta.json.gz
  test-results/vitest/test-output.json
  test-results/vitest/test-verbose-output.html
  test-results/vitest/test-verbose-output.txt
Due: none
