Repository idvorkin/idvorkin.github.io: changes, and which pre-commit hooks are due for each by the changed paths.
All: vitest-related, update-backlinks-last-modified

vitest-related:
  name: Run Vitest on changed TypeScript files
  entry: .pre-commit-hooks/vitest-ts-files.sh
  language: script
  pass_filenames: false

update-backlinks-last-modified:
  name: Update last modified times for changed markdown files
  entry: uv run build_back_links.py delta
  language: system
  pass_filenames: true
  verbose: true

feat: mount Claude credentials from host into container
  .claude/settings.local.json
  docker/README.md
  docker/run-docker.sh
Due: update-backlinks-last-modified

test: add proper links to test backlinks auto-commit
  _d/anxiety.md
Due: update-backlinks-last-modified

test: add proper links to test backlinks auto-commit (#98)
  _d/anxiety.md
Due: update-backlinks-last-modified

Deploying to test-results from @ idvorkin/idvorkin.github.io@d9b3c18a468f2b2fd35ded4f90c65447d8f7d4ba 🚀
  test-results/vitest/coverage/idvorkin.github.io/ansi-to-html-converter.js.html
  test-results/vitest/coverage/idvorkin.github.io/index.html
  test-results/vitest/coverage/idvorkin.github.io/run-vitest-with-colors.js.html
  test-results/vitest/coverage/idvorkin.github.io/src/blogger_import.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/dev-info.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/graph.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/header-copy-link.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/image-zoom.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/index.html
  test-results/vitest/coverage/idvorkin.github.io/src/index.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/main.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/page-loader.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/random-prompter.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/recent-posts-shared.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/recent-posts.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/recent.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/search.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/shared.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/utils/dom-helpers.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/utils/index.html
  test-results/vitest/coverage/index.html
  test-results/vitest/html/html.meta.json.gz
  test-results/vitest/test-output.json
  test-results/vitest/test-verbose-output.html
  test-results/vitest/test-verbose-output.txt
Due: none

feat: install Claude CLI in container with credential mounting
  .claude/settings.local.json
  docker/Dockerfile.2-stable-minimal
  docker/Dockerfile.3-claude
  docker/README.md
  docker/build-claude.sh
  docker/run-docker.sh
Due: update-backlinks-last-modified

fix: remove Dockerfile.* from gitignore
  .gitignore
Due: none

feat: install GitHub CLI (gh) via official APT repository
  .claude/settings.local.json
  docker/Dockerfile.2-stable-minimal
Due: none

feat: add yarn and cmake to Docker container
  docker/Dockerfile.2-stable-minimal
Due: none

revert: remove spurious test changes from backlinks testing
  .claude/settings.local.json
  _d/anxiety.md
  _d/energy.md
  _d/habits.md
  _d/sleep.md
  test-detection-logic.sh
Due: update-backlinks-last-modified

Add development Docker layer for future enhancements
  docker/Dockerfile.2-stable-minimal
  docker/Dockerfile.3-development
  docker/build-dev.sh
Due: none

Add Claude CLI test script for Docker container
  docker/test-claude.sh
Due: none

Add Claude YOLO mode to development Docker layer
  docker/Dockerfile.3-development
  docker/run-docker.sh
Due: none

Fix Claude credential mounting for all auth locations
  docker/Dockerfile.3-development
  docker/run-docker.sh
Due: none

Fix shell issue in dev layer and add test script
  docker/Dockerfile.3-development
  docker/test-container-claude.sh
Due: none

Simplify Claude auth mounting with write access
  .claude/settings.local.json
  docker/Dockerfile.3-development
  docker/run-docker.sh
Due: none

revert: remove spurious test changes from backlinks testing (#100)
  .claude/settings.local.json
  _d/anxiety.md
  _d/energy.md
  _d/habits.md
  _d/sleep.md
  test-detection-logic.sh
Due: update-backlinks-last-modified

Deploying to test-results from @ idvorkin/idvorkin.github.io@00936e2358e1bdebeb010fede045eeeeaea24954 🚀
  test-results/vitest/coverage/idvorkin.github.io/ansi-to-html-converter.js.html
  test-results/vitest/coverage/idvorkin.github.io/index.html
  test-results/vitest/coverage/idvorkin.github.io/run-vitest-with-colors.js.html
  test-results/vitest/coverage/idvorkin.github.io/src/blogger_import.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/dev-info.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/graph.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/header-copy-link.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/image-zoom.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/index.html
  test-results/vitest/coverage/idvorkin.github.io/src/index.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/main.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/page-loader.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/random-prompter.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/recent-posts-shared.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/recent-posts.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/recent.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/search.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/shared.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/utils/dom-helpers.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/utils/index.html
  test-results/vitest/coverage/index.html
  test-results/vitest/html/html.meta.json.gz
  test-results/vitest/test-output.json
  test-results/vitest/test-verbose-output.html
  test-results/vitest/test-verbose-output.txt
Due: none

Erase junk file - NOTE: This is why jekyll ends up downloading Sheesh - What a PITA!!
  1
Due: none

Deploying to test-results from @ idvorkin/idvorkin.github.io@65e940e2cfa83ab0e6fd084380bfc3ee094138f5 🚀
  test-results/vitest/coverage/idvorkin.github.io/ansi-to-html-converter.js.html
  test-results/vitest/coverage/idvorkin.github.io/index.html
  test-results/vitest/coverage/idvorkin.github.io/run-vitest-with-colors.js.html
  test-results/vitest/coverage/idvorkin.github.io/src/blogger_import.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/dev-info.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/graph.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/header-copy-link.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/image-zoom.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/index.html
  test-results/vitest/coverage/idvorkin.github.io/src/index.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/main.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/page-loader.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/random-prompter.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/recent-posts-shared.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/recent-posts.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/recent.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/search.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/shared.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/utils/dom-helpers.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/utils/index.html
  test-results/vitest/coverage/index.html
  test-results/vitest/html/html.meta.json.gz
  test-results/vitest/test-output.json
  test-results/vitest/test-verbose-output.html
  test-results/vitest/test-verbose-output.txt
Due: none

docs(readme): add Tech issues section for Jekyll downloading instead of rendering pages; reference cleanup commit 65e940e and add cache clean steps
  README.md
Due: update-backlinks-last-modified

time_off: add kettlebells/heavy club, morning movement; enhance road trip with Insta360; add travel router and packing checklist
  _d/time_off.md
Due: update-backlinks-last-modified

docs(diet): update diet guide with situational strategies
  _d/2015-11-18-tech-links.md
  _d/diet.md
Due: update-backlinks-last-modified

Deploying to test-results from @ idvorkin/idvorkin.github.io@acea75294b29636d41e219becb3fa53e148edfe5 🚀
  test-results/vitest/coverage/idvorkin.github.io/ansi-to-html-converter.js.html
  test-results/vitest/coverage/idvorkin.github.io/index.html
  test-results/vitest/coverage/idvorkin.github.io/run-vitest-with-colors.js.html
  test-results/vitest/coverage/idvorkin.github.io/src/blogger_import.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/dev-info.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/graph.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/header-copy-link.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/image-zoom.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/index.html
  test-results/vitest/coverage/idvorkin.github.io/src/index.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/main.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/page-loader.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/random-prompter.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/recent-posts-shared.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/recent-posts.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/recent.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/search.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/shared.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/utils/dom-helpers.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/utils/index.html
  test-results/vitest/coverage/index.html
  test-results/vitest/html/html.meta.json.gz
  test-results/vitest/test-output.json
  test-results/vitest/test-verbose-output.html
  test-results/vitest/test-verbose-output.txt
Due: none

time_off: centralize diet guidance (mindset, alcohol, tools, travel); add cross-refs; keep physical health focused
  _d/time_off.md
Due: update-backlinks-last-modified

ai-coder: add multi-agent orchestration stress guidance; advise against defaulting to many agents
  _d/ai-coder.md
Due: update-backlinks-last-modified

Deploying to test-results from @ idvorkin/idvorkin.github.io@1c39e770aecb76ddc439627e29f642aa985be2ad 🚀
  test-results/vitest/coverage/idvorkin.github.io/ansi-to-html-converter.js.html
  test-results/vitest/coverage/idvorkin.github.io/index.html
  test-results/vitest/coverage/idvorkin.github.io/run-vitest-with-colors.js.html
  test-results/vitest/coverage/idvorkin.github.io/src/blogger_import.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/dev-info.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/graph.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/header-copy-link.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/image-zoom.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/index.html
  test-results/vitest/coverage/idvorkin.github.io/src/index.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/main.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/page-loader.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/random-prompter.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/recent-posts-shared.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/recent-posts.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/recent.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/search.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/shared.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/utils/dom-helpers.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/utils/index.html
  test-results/vitest/coverage/index.html
  test-results/vitest/html/html.meta.json.gz
  test-results/vitest/test-output.json
  test-results/vitest/test-verbose-output.html
  test-results/vitest/test-verbose-output.txt
Due: none

feat: Add makeRedirectUrl function for modal.run preview URLs
  assets/js/index.js.map
  src/__tests__/shared.test.ts
  src/shared.ts
  tests/e2e/redirect-url.spec.ts
Due: vitest-related

feat: Integrate makeRedirectUrl with header copy link functionality
  assets/js/index.js
  assets/js/index.js.map
  src/header-copy-link.ts
Due: vitest-related

test: Update header-copy-link test for new URL format
  src/__tests__/header-copy-link.test.ts
Due: vitest-related

feat: Add makeRedirectUrl function for modal.run preview URLs (#101)
  assets/js/index.js
  assets/js/index.js.map
  src/__tests__/header-copy-link.test.ts
  src/__tests__/shared.test.ts
  src/header-copy-link.ts
  src/shared.ts
  tests/e2e/redirect-url.spec.ts
Due: vitest-related

Deploying to test-results from @ idvorkin/idvorkin.github.io@883647ee22a5000f14d3d90ffa9857dc828e3eab 🚀
  test-results/vitest/badge-count.json
  test-results/vitest/html/html.meta.json.gz
  test-results/vitest/test-output.json
  test-results/vitest/test-verbose-output.txt
Due: none

fix: Resolve merge conflict in CLAUDE.md
  CLAUDE.md
Due: update-backlinks-last-modified

Deploying to test-results from @ idvorkin/idvorkin.github.io@95c09ba17ba84ceb1da3c23ffe0c9ad02428bfc8 🚀
  test-results/vitest/html/html.meta.json.gz
  test-results/vitest/test-output.json
  test-results/vitest/test-verbose-output.txt
Due: none

refactor: Change header copy to use redirect URL instead of fetching content
  src/__tests__/header-copy-link.test.ts
Due: vitest-related

refactor: Use tinyurl.com/igor-blog instead of long modal.run URL
  assets/js/index.js
  assets/js/index.js.map
  src/__tests__/header-copy-link.test.ts
  src/__tests__/shared.test.ts
  src/shared.ts
Due: vitest-related

refactor: Change header copy to use redirect URL instead of fetching content
  assets/js/index.js
  assets/js/index.js.map
  package-lock.json
  src/__tests__/header-copy-link.test.ts
  src/__tests__/shared.test.ts
  src/header-copy-link.ts
  src/shared.ts
Due: vitest-related

feat: Fetch and copy actual content from modal.run instead of URL
  CLAUDE.md
  assets/js/index.js
  assets/js/index.js.map
  src/header-copy-link.ts
Due: vitest-related, update-backlinks-last-modified

feat: Change header copy to use tinyurl.com/igor-blog redirect URL (#102)
  CLAUDE.md
  assets/js/index.js
  assets/js/index.js.map
  package-lock.json
  src/__tests__/header-copy-link.test.ts
  src/__tests__/shared.test.ts
  src/header-copy-link.ts
  src/shared.ts
Due: vitest-related, update-backlinks-last-modified

Deploying to test-results from @ idvorkin/idvorkin.github.io@e7ccdd82d2bba4dbc2efc664fa396ebdc1314895 🚀
  test-results/vitest/badge-count.json
  test-results/vitest/coverage/coverage-final.json
  test-results/vitest/coverage/idvorkin.github.io/ansi-to-html-converter.js.html
  test-results/vitest/coverage/idvorkin.github.io/index.html
  test-results/vitest/coverage/idvorkin.github.io/run-vitest-with-colors.js.html
  test-results/vitest/coverage/idvorkin.github.io/src/blogger_import.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/dev-info.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/graph.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/header-copy-link.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/image-zoom.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/index.html
  test-results/vitest/coverage/idvorkin.github.io/src/index.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/main.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/page-loader.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/random-prompter.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/recent-posts-shared.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/recent-posts.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/recent.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/search.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/shared.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/utils/dom-helpers.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/utils/index.html
  test-results/vitest/coverage/index.html
  test-results/vitest/html/html.meta.json.gz
  test-results/vitest/test-output.json
  test-results/vitest/test-verbose-output.html
  test-results/vitest/test-verbose-output.txt
Due: none

feat: improve share links functionality
  .claude/settings.local.json
  assets/js/index.js
  assets/js/index.js.map
  src/header-copy-link.ts
Due: vitest-related

Path conditions:
  vitest-related: any of: \.(ts|mts|cts)$
  update-backlinks-last-modified: any of: \.(md|markdown)$, but not: ^zz-chop-logs/.*$
