Repository idvorkin/idvorkin.github.io: changes, and which pre-commit hooks are due for each by the changed paths.
All: vitest-related, update-backlinks-last-modified

.pre-commit-config.yaml:

# Common configuration values
exclude_chop_logs: &exclude_chop_logs
  exclude: "^zz-chop-logs/.*$" # Exclude the zz-chop-logs directory

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.1.8
    hooks:
      # Run the linter.
      - id: ruff
        types_or: [python, pyi, jupyter]
        args: [--fix]
      # Run the formatter.
      - id: ruff-format
        types_or: [python, pyi, jupyter]

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: "v3.1.0"
    hooks:
      - id: prettier
        <<: *exclude_chop_logs

  - repo: https://github.com/TomWright/dasel
    rev: v2.8.1
    hooks:
      - id: dasel-validate

  - repo: local
    hooks:
      - id: vitest-related
        name: Run Vitest on changed TypeScript files
        entry: .pre-commit-hooks/vitest-ts-files.sh
        language: script
        types: [ts]
        pass_filenames: false

      - id: update-backlinks-last-modified
        name: Update last modified times for changed markdown files
        entry: uv run build_back_links.py delta
        language: system
        files: '\.(md|markdown)$'
        <<: *exclude_chop_logs
        pass_filenames: true
        verbose: true

Deploying to test-results from @ idvorkin/idvorkin.github.io@96128846c8c95a5ac6de4733de6a2e3c9e58b638 🚀
  test-results/vitest/coverage/idvorkin.github.io/ansi-to-html-converter.js.html
  test-results/vitest/coverage/idvorkin.github.io/index.html
  test-results/vitest/coverage/idvorkin.github.io/run-vitest-with-colors.js.html
  test-results/vitest/coverage/idvorkin.github.io/src/blogger_import.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/graph.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/index.html
  test-results/vitest/coverage/idvorkin.github.io/src/index.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/main.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/page-loader.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/random-prompter.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/recent-posts.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/recent.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/search.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/shared.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/utils/dom-helpers.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/utils/index.html
  test-results/vitest/coverage/idvorkin.github.io/tests/e2e/about-page.spec.ts.html
  test-results/vitest/coverage/idvorkin.github.io/tests/e2e/blog-posts.spec.ts.html
  test-results/vitest/coverage/idvorkin.github.io/tests/e2e/echo.spec.ts.html
  test-results/vitest/coverage/idvorkin.github.io/tests/e2e/index.html
  test-results/vitest/coverage/idvorkin.github.io/tests/e2e/keyboard-shortcuts.spec.ts.html
  test-results/vitest/coverage/idvorkin.github.io/tests/e2e/search.spec.ts.html
  test-results/vitest/coverage/idvorkin.github.io/tests/e2e/sitenav.spec.ts.html
  test-results/vitest/coverage/idvorkin.github.io/tests/e2e/test-7-habits.spec.ts.html
  test-results/vitest/coverage/idvorkin.github.io/tests/e2e/todo-enjoy.spec.ts.html
  test-results/vitest/coverage/idvorkin.github.io/tests/unit/index.html
  test-results/vitest/coverage/idvorkin.github.io/tests/unit/makeHTML.spec.ts.html
  test-results/vitest/coverage/index.html
  test-results/vitest/html/html.meta.json.gz
  test-results/vitest/test-output.json
  test-results/vitest/test-verbose-output.html
  test-results/vitest/test-verbose-output.txt
Due: none

feat(build): enhance test output debugging in Justfile
  justfile
  zz-chop-logs/2025-03-09_10-17-github-actions-badge-creation-inquiry.md
Due: none

Deploying to test-results from @ idvorkin/idvorkin.github.io@c33a451f91549f0830f8a4806d4cec6b1b13c2b8 🚀
  test-results/vitest/badge-count.json
  test-results/vitest/coverage/idvorkin.github.io/ansi-to-html-converter.js.html
  test-results/vitest/coverage/idvorkin.github.io/index.html
  test-results/vitest/coverage/idvorkin.github.io/run-vitest-with-colors.js.html
  test-results/vitest/coverage/idvorkin.github.io/src/blogger_import.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/graph.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/index.html
  test-results/vitest/coverage/idvorkin.github.io/src/index.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/main.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/page-loader.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/random-prompter.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/recent-posts.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/recent.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/search.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/shared.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/utils/dom-helpers.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/utils/index.html
  test-results/vitest/coverage/idvorkin.github.io/tests/e2e/about-page.spec.ts.html
  test-results/vitest/coverage/idvorkin.github.io/tests/e2e/blog-posts.spec.ts.html
  test-results/vitest/coverage/idvorkin.github.io/tests/e2e/echo.spec.ts.html
  test-results/vitest/coverage/idvorkin.github.io/tests/e2e/index.html
  test-results/vitest/coverage/idvorkin.github.io/tests/e2e/keyboard-shortcuts.spec.ts.html
  test-results/vitest/coverage/idvorkin.github.io/tests/e2e/search.spec.ts.html
  test-results/vitest/coverage/idvorkin.github.io/tests/e2e/sitenav.spec.ts.html
  test-results/vitest/coverage/idvorkin.github.io/tests/e2e/test-7-habits.spec.ts.html
  test-results/vitest/coverage/idvorkin.github.io/tests/e2e/todo-enjoy.spec.ts.html
  test-results/vitest/coverage/idvorkin.github.io/tests/unit/index.html
  test-results/vitest/coverage/idvorkin.github.io/tests/unit/makeHTML.spec.ts.html
  test-results/vitest/coverage/index.html
  test-results/vitest/html/html.meta.json.gz
  test-results/vitest/test-output.json
  test-results/vitest/test-verbose-output.html
  test-results/vitest/test-verbose-output.txt
Due: none

refactor(deploy-scripts): extract badge generation logic into a dedicated script
  .cursor/rules/109-terminal-commands.mdc
  .github/workflows/vitest.yml
  deploy-scripts/generate-badges.sh
  justfile
  test-workflow-locally.sh
  zz-chop-logs/2025-03-09_10-17-github-actions-badge-creation-inquiry.md
  zz-chop-logs/2025-03-09_10-28-verify-coverage-badge-accuracy.md
Due: none

Deploying to test-results from @ idvorkin/idvorkin.github.io@12dd9b96ebb9fc5b52292fb7382e243416b22611 🚀
  test-results/vitest/coverage/idvorkin.github.io/ansi-to-html-converter.js.html
  test-results/vitest/coverage/idvorkin.github.io/index.html
  test-results/vitest/coverage/idvorkin.github.io/run-vitest-with-colors.js.html
  test-results/vitest/coverage/idvorkin.github.io/src/blogger_import.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/graph.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/index.html
  test-results/vitest/coverage/idvorkin.github.io/src/index.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/main.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/page-loader.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/random-prompter.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/recent-posts.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/recent.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/search.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/shared.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/utils/dom-helpers.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/utils/index.html
  test-results/vitest/coverage/idvorkin.github.io/tests/e2e/about-page.spec.ts.html
  test-results/vitest/coverage/idvorkin.github.io/tests/e2e/blog-posts.spec.ts.html
  test-results/vitest/coverage/idvorkin.github.io/tests/e2e/echo.spec.ts.html
  test-results/vitest/coverage/idvorkin.github.io/tests/e2e/index.html
  test-results/vitest/coverage/idvorkin.github.io/tests/e2e/keyboard-shortcuts.spec.ts.html
  test-results/vitest/coverage/idvorkin.github.io/tests/e2e/search.spec.ts.html
  test-results/vitest/coverage/idvorkin.github.io/tests/e2e/sitenav.spec.ts.html
  test-results/vitest/coverage/idvorkin.github.io/tests/e2e/test-7-habits.spec.ts.html
  test-results/vitest/coverage/idvorkin.github.io/tests/e2e/todo-enjoy.spec.ts.html
  test-results/vitest/coverage/idvorkin.github.io/tests/unit/index.html
  test-results/vitest/coverage/idvorkin.github.io/tests/unit/makeHTML.spec.ts.html
  test-results/vitest/coverage/index.html
  test-results/vitest/html/html.meta.json.gz
  test-results/vitest/test-output.json
  test-results/vitest/test-verbose-output.html
  test-results/vitest/test-verbose-output.txt
Due: none

feat(docs): update operating manual with rituals and formatting adjustments
  _d/operating-manual-2.md
  back-links.json
Due: update-backlinks-last-modified

Deploying to test-results from @ idvorkin/idvorkin.github.io@b6b992df9697b6b665422be9ca75807c4032a91e 🚀
  test-results/vitest/coverage/idvorkin.github.io/ansi-to-html-converter.js.html
  test-results/vitest/coverage/idvorkin.github.io/index.html
  test-results/vitest/coverage/idvorkin.github.io/run-vitest-with-colors.js.html
  test-results/vitest/coverage/idvorkin.github.io/src/blogger_import.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/graph.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/index.html
  test-results/vitest/coverage/idvorkin.github.io/src/index.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/main.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/page-loader.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/random-prompter.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/recent-posts.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/recent.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/search.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/shared.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/utils/dom-helpers.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/utils/index.html
  test-results/vitest/coverage/idvorkin.github.io/tests/e2e/about-page.spec.ts.html
  test-results/vitest/coverage/idvorkin.github.io/tests/e2e/blog-posts.spec.ts.html
  test-results/vitest/coverage/idvorkin.github.io/tests/e2e/echo.spec.ts.html
  test-results/vitest/coverage/idvorkin.github.io/tests/e2e/index.html
  test-results/vitest/coverage/idvorkin.github.io/tests/e2e/keyboard-shortcuts.spec.ts.html
  test-results/vitest/coverage/idvorkin.github.io/tests/e2e/search.spec.ts.html
  test-results/vitest/coverage/idvorkin.github.io/tests/e2e/sitenav.spec.ts.html
  test-results/vitest/coverage/idvorkin.github.io/tests/e2e/test-7-habits.spec.ts.html
  test-results/vitest/coverage/idvorkin.github.io/tests/e2e/todo-enjoy.spec.ts.html
  test-results/vitest/coverage/idvorkin.github.io/tests/unit/index.html
  test-results/vitest/coverage/idvorkin.github.io/tests/unit/makeHTML.spec.ts.html
  test-results/vitest/coverage/index.html
  test-results/vitest/html/html.meta.json.gz
  test-results/vitest/test-output.json
  test-results/vitest/test-verbose-output.html
  test-results/vitest/test-verbose-output.txt
Due: none

docs: update failure post with new insights
  _d/fail2.md
  back-links.json
  zz-chop-logs/2025-03-11_04-54-searching-for-failure-blog-post.md
Due: update-backlinks-last-modified

Deploying to test-results from @ idvorkin/idvorkin.github.io@d4ceb72e6b32eee3035bf616b69d65668a882e41 🚀
  test-results/vitest/coverage/idvorkin.github.io/ansi-to-html-converter.js.html
  test-results/vitest/coverage/idvorkin.github.io/index.html
  test-results/vitest/coverage/idvorkin.github.io/run-vitest-with-colors.js.html
  test-results/vitest/coverage/idvorkin.github.io/src/blogger_import.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/graph.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/index.html
  test-results/vitest/coverage/idvorkin.github.io/src/index.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/main.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/page-loader.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/random-prompter.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/recent-posts.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/recent.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/search.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/shared.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/utils/dom-helpers.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/utils/index.html
  test-results/vitest/coverage/idvorkin.github.io/tests/e2e/about-page.spec.ts.html
  test-results/vitest/coverage/idvorkin.github.io/tests/e2e/blog-posts.spec.ts.html
  test-results/vitest/coverage/idvorkin.github.io/tests/e2e/echo.spec.ts.html
  test-results/vitest/coverage/idvorkin.github.io/tests/e2e/index.html
  test-results/vitest/coverage/idvorkin.github.io/tests/e2e/keyboard-shortcuts.spec.ts.html
  test-results/vitest/coverage/idvorkin.github.io/tests/e2e/search.spec.ts.html
  test-results/vitest/coverage/idvorkin.github.io/tests/e2e/sitenav.spec.ts.html
  test-results/vitest/coverage/idvorkin.github.io/tests/e2e/test-7-habits.spec.ts.html
  test-results/vitest/coverage/idvorkin.github.io/tests/e2e/todo-enjoy.spec.ts.html
  test-results/vitest/coverage/idvorkin.github.io/tests/unit/index.html
  test-results/vitest/coverage/idvorkin.github.io/tests/unit/makeHTML.spec.ts.html
  test-results/vitest/coverage/index.html
  test-results/vitest/html/html.meta.json.gz
  test-results/vitest/test-output.json
  test-results/vitest/test-verbose-output.html
  test-results/vitest/test-verbose-output.txt
Due: none

docs: update kids to school routine, and spelling/grammer fixes
  _d/operating-manual-2.md
  back-links.json
  zz-chop-logs/2025-03-11_05-37-operating-manual-post-development.md
Due: update-backlinks-last-modified

Deploying to test-results from @ idvorkin/idvorkin.github.io@4245471417d667c3cc1ce012f2c745125364548e 🚀
  test-results/vitest/coverage/idvorkin.github.io/ansi-to-html-converter.js.html
  test-results/vitest/coverage/idvorkin.github.io/index.html
  test-results/vitest/coverage/idvorkin.github.io/run-vitest-with-colors.js.html
  test-results/vitest/coverage/idvorkin.github.io/src/blogger_import.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/graph.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/index.html
  test-results/vitest/coverage/idvorkin.github.io/src/index.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/main.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/page-loader.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/random-prompter.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/recent-posts.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/recent.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/search.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/shared.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/utils/dom-helpers.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/utils/index.html
  test-results/vitest/coverage/idvorkin.github.io/tests/e2e/about-page.spec.ts.html
  test-results/vitest/coverage/idvorkin.github.io/tests/e2e/blog-posts.spec.ts.html
  test-results/vitest/coverage/idvorkin.github.io/tests/e2e/echo.spec.ts.html
  test-results/vitest/coverage/idvorkin.github.io/tests/e2e/index.html
  test-results/vitest/coverage/idvorkin.github.io/tests/e2e/keyboard-shortcuts.spec.ts.html
  test-results/vitest/coverage/idvorkin.github.io/tests/e2e/search.spec.ts.html
  test-results/vitest/coverage/idvorkin.github.io/tests/e2e/sitenav.spec.ts.html
  test-results/vitest/coverage/idvorkin.github.io/tests/e2e/test-7-habits.spec.ts.html
  test-results/vitest/coverage/idvorkin.github.io/tests/e2e/todo-enjoy.spec.ts.html
  test-results/vitest/coverage/idvorkin.github.io/tests/unit/index.html
  test-results/vitest/coverage/idvorkin.github.io/tests/unit/makeHTML.spec.ts.html
  test-results/vitest/coverage/index.html
  test-results/vitest/html/html.meta.json.gz
  test-results/vitest/test-output.json
  test-results/vitest/test-verbose-output.html
  test-results/vitest/test-verbose-output.txt
Due: none

docs(resource-paradox): spelling/grammer.
  _d/resource-paradox.md
  back-links.json
  zz-chop-logs/2025-03-11_05-48-exploring-parkinson's-law-and-blogging-rules.md
Due: update-backlinks-last-modified

Deploying to test-results from @ idvorkin/idvorkin.github.io@aad21769b6ab636165b6059e4871053de73ee984 🚀
  test-results/vitest/coverage/idvorkin.github.io/ansi-to-html-converter.js.html
  test-results/vitest/coverage/idvorkin.github.io/index.html
  test-results/vitest/coverage/idvorkin.github.io/run-vitest-with-colors.js.html
  test-results/vitest/coverage/idvorkin.github.io/src/blogger_import.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/graph.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/index.html
  test-results/vitest/coverage/idvorkin.github.io/src/index.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/main.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/page-loader.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/random-prompter.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/recent-posts.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/recent.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/search.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/shared.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/utils/dom-helpers.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/utils/index.html
  test-results/vitest/coverage/idvorkin.github.io/tests/e2e/about-page.spec.ts.html
  test-results/vitest/coverage/idvorkin.github.io/tests/e2e/blog-posts.spec.ts.html
  test-results/vitest/coverage/idvorkin.github.io/tests/e2e/echo.spec.ts.html
  test-results/vitest/coverage/idvorkin.github.io/tests/e2e/index.html
  test-results/vitest/coverage/idvorkin.github.io/tests/e2e/keyboard-shortcuts.spec.ts.html
  test-results/vitest/coverage/idvorkin.github.io/tests/e2e/search.spec.ts.html
  test-results/vitest/coverage/idvorkin.github.io/tests/e2e/sitenav.spec.ts.html
  test-results/vitest/coverage/idvorkin.github.io/tests/e2e/test-7-habits.spec.ts.html
  test-results/vitest/coverage/idvorkin.github.io/tests/e2e/todo-enjoy.spec.ts.html
  test-results/vitest/coverage/idvorkin.github.io/tests/unit/index.html
  test-results/vitest/coverage/idvorkin.github.io/tests/unit/makeHTML.spec.ts.html
  test-results/vitest/coverage/index.html
  test-results/vitest/html/html.meta.json.gz
  test-results/vitest/test-output.json
  test-results/vitest/test-verbose-output.html
  test-results/vitest/test-verbose-output.txt
Due: none

feat(documentation): enhance resource paradox documentation with mitigation strategies
  _d/resource-paradox.md
  back-links.json
  zz-chop-logs/2025-03-11_05-48-exploring-parkinson's-law-and-blogging-rules.md
Due: update-backlinks-last-modified

Deploying to test-results from @ idvorkin/idvorkin.github.io@2e8e28a90fa4397c664d5f0aca6d6cceb65ef36a 🚀
  test-results/vitest/coverage/idvorkin.github.io/ansi-to-html-converter.js.html
  test-results/vitest/coverage/idvorkin.github.io/index.html
  test-results/vitest/coverage/idvorkin.github.io/run-vitest-with-colors.js.html
  test-results/vitest/coverage/idvorkin.github.io/src/blogger_import.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/graph.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/index.html
  test-results/vitest/coverage/idvorkin.github.io/src/index.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/main.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/page-loader.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/random-prompter.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/recent-posts.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/recent.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/search.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/shared.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/utils/dom-helpers.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/utils/index.html
  test-results/vitest/coverage/idvorkin.github.io/tests/e2e/about-page.spec.ts.html
  test-results/vitest/coverage/idvorkin.github.io/tests/e2e/blog-posts.spec.ts.html
  test-results/vitest/coverage/idvorkin.github.io/tests/e2e/echo.spec.ts.html
  test-results/vitest/coverage/idvorkin.github.io/tests/e2e/index.html
  test-results/vitest/coverage/idvorkin.github.io/tests/e2e/keyboard-shortcuts.spec.ts.html
  test-results/vitest/coverage/idvorkin.github.io/tests/e2e/search.spec.ts.html
  test-results/vitest/coverage/idvorkin.github.io/tests/e2e/sitenav.spec.ts.html
  test-results/vitest/coverage/idvorkin.github.io/tests/e2e/test-7-habits.spec.ts.html
  test-results/vitest/coverage/idvorkin.github.io/tests/e2e/todo-enjoy.spec.ts.html
  test-results/vitest/coverage/idvorkin.github.io/tests/unit/index.html
  test-results/vitest/coverage/idvorkin.github.io/tests/unit/makeHTML.spec.ts.html
  test-results/vitest/coverage/index.html
  test-results/vitest/html/html.meta.json.gz
  test-results/vitest/test-output.json
  test-results/vitest/test-verbose-output.html
  test-results/vitest/test-verbose-output.txt
Due: none

feat(doc): add Flow focus timer to GTD software list
  _d/gtd.md
  back-links.json
  zz-chop-logs/2025-03-11_06-19-integrating-flow-into-gtd-workflow.md
Due: update-backlinks-last-modified

Deploying to test-results from @ idvorkin/idvorkin.github.io@30b103a0b70ac85c5ff378d4521ac2ce56a48c2c 🚀
  test-results/vitest/coverage/idvorkin.github.io/ansi-to-html-converter.js.html
  test-results/vitest/coverage/idvorkin.github.io/index.html
  test-results/vitest/coverage/idvorkin.github.io/run-vitest-with-colors.js.html
  test-results/vitest/coverage/idvorkin.github.io/src/blogger_import.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/graph.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/index.html
  test-results/vitest/coverage/idvorkin.github.io/src/index.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/main.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/page-loader.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/random-prompter.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/recent-posts.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/recent.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/search.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/shared.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/utils/dom-helpers.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/utils/index.html
  test-results/vitest/coverage/idvorkin.github.io/tests/e2e/about-page.spec.ts.html
  test-results/vitest/coverage/idvorkin.github.io/tests/e2e/blog-posts.spec.ts.html
  test-results/vitest/coverage/idvorkin.github.io/tests/e2e/echo.spec.ts.html
  test-results/vitest/coverage/idvorkin.github.io/tests/e2e/index.html
  test-results/vitest/coverage/idvorkin.github.io/tests/e2e/keyboard-shortcuts.spec.ts.html
  test-results/vitest/coverage/idvorkin.github.io/tests/e2e/search.spec.ts.html
  test-results/vitest/coverage/idvorkin.github.io/tests/e2e/sitenav.spec.ts.html
  test-results/vitest/coverage/idvorkin.github.io/tests/e2e/test-7-habits.spec.ts.html
  test-results/vitest/coverage/idvorkin.github.io/tests/e2e/todo-enjoy.spec.ts.html
  test-results/vitest/coverage/idvorkin.github.io/tests/unit/index.html
  test-results/vitest/coverage/idvorkin.github.io/tests/unit/makeHTML.spec.ts.html
  test-results/vitest/coverage/index.html
  test-results/vitest/html/html.meta.json.gz
  test-results/vitest/test-output.json
  test-results/vitest/test-verbose-output.html
  test-results/vitest/test-verbose-output.txt
Due: none

docs: add developer guidelines and testing infrastructure
  CLAUDE.md
  assets/css/style.css
  src/__tests__/breadth-first-walk.test.ts
  src/__tests__/link-utils.test.ts
  src/__tests__/mocks/index.ts
  src/__tests__/random-prompter.test.ts.skip
  src/__tests__/recent-posts.test.ts
  src/__tests__/test-setup.ts
  src/__tests__/tree-node.test.ts
  src/graph.ts
  src/main.ts
  src/recent-posts.ts
Due: vitest-related, update-backlinks-last-modified

feat(graph.html): add interactive graph visualization of blog post connections
  requirements/graph.html.md
Due: update-backlinks-last-modified

Deploying to test-results from @ idvorkin/idvorkin.github.io@4dfa66151ebba947bae1ba0cbe1ab9a17f31914d 🚀
  test-results/vitest/badge-count.json
  test-results/vitest/coverage/coverage-final.json
  test-results/vitest/coverage/idvorkin.github.io/ansi-to-html-converter.js.html
  test-results/vitest/coverage/idvorkin.github.io/index.html
  test-results/vitest/coverage/idvorkin.github.io/run-vitest-with-colors.js.html
  test-results/vitest/coverage/idvorkin.github.io/src/__tests__/index.html
  test-results/vitest/coverage/idvorkin.github.io/src/__tests__/mocks/index.html
  test-results/vitest/coverage/idvorkin.github.io/src/__tests__/mocks/index.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/__tests__/test-setup.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/blogger_import.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/graph.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/index.html
  test-results/vitest/coverage/idvorkin.github.io/src/index.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/main.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/page-loader.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/random-prompter.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/recent-posts.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/recent.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/search.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/shared.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/utils/dom-helpers.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/utils/index.html
  test-results/vitest/coverage/idvorkin.github.io/tests/e2e/about-page.spec.ts.html
  test-results/vitest/coverage/idvorkin.github.io/tests/e2e/blog-posts.spec.ts.html
  test-results/vitest/coverage/idvorkin.github.io/tests/e2e/index.html
  test-results/vitest/coverage/idvorkin.github.io/tests/e2e/keyboard-shortcuts.spec.ts.html
  test-results/vitest/coverage/idvorkin.github.io/tests/e2e/search.spec.ts.html
  test-results/vitest/coverage/idvorkin.github.io/tests/e2e/sitenav.spec.ts.html
  test-results/vitest/coverage/idvorkin.github.io/tests/e2e/test-7-habits.spec.ts.html
  test-results/vitest/coverage/idvorkin.github.io/tests/e2e/todo-enjoy.spec.ts.html
  test-results/vitest/coverage/idvorkin.github.io/tests/unit/makeHTML.spec.ts.html
  test-results/vitest/coverage/index.html
  test-results/vitest/html/html.meta.json.gz
  test-results/vitest/test-output.json
  test-results/vitest/test-verbose-output.html
  test-results/vitest/test-verbose-output.txt
Due: none

feat(graph): import graph module in main bundle
  src/index.ts
Due: vitest-related

fix(graph): refactor for proper async initialization
  src/graph.ts
Due: vitest-related

test(graph): add unit tests for graph building functionality
  src/__tests__/graph.test.ts
Due: vitest-related

test(graph): add playwright test for #eulogy hash parameter
  tests/e2e/graph.spec.ts
Due: vitest-related

docs: add Jekyll server info to CLAUDE.md
  CLAUDE.md
Due: update-backlinks-last-modified

docs(graph): add detailed requirements documentation
  requirements/graph.html.md
Due: update-backlinks-last-modified

chore: update Jekyll config to exclude requirements directory
  _config.yml
Due: none

Update code bundle
  assets/js/index.js
  assets/js/index.js.map
Due: none

Deploying to test-results from @ idvorkin/idvorkin.github.io@3dc767fc4216021d9f6cc6d198ade3bb55968f8f 🚀
  test-results/vitest/badge-count.json
  test-results/vitest/coverage/coverage-final.json
  test-results/vitest/coverage/idvorkin.github.io/ansi-to-html-converter.js.html
  test-results/vitest/coverage/idvorkin.github.io/index.html
  test-results/vitest/coverage/idvorkin.github.io/run-vitest-with-colors.js.html
  test-results/vitest/coverage/idvorkin.github.io/src/__tests__/index.html
  test-results/vitest/coverage/idvorkin.github.io/src/__tests__/mocks/index.html
  test-results/vitest/coverage/idvorkin.github.io/src/__tests__/mocks/index.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/__tests__/test-setup.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/blogger_import.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/graph.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/index.html
  test-results/vitest/coverage/idvorkin.github.io/src/index.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/main.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/page-loader.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/random-prompter.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/recent-posts.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/recent.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/search.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/shared.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/utils/dom-helpers.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/utils/index.html
  test-results/vitest/coverage/idvorkin.github.io/tests/e2e/about-page.spec.ts.html
  test-results/vitest/coverage/idvorkin.github.io/tests/e2e/blog-posts.spec.ts.html
  test-results/vitest/coverage/idvorkin.github.io/tests/e2e/echo.spec.ts.html
  test-results/vitest/coverage/idvorkin.github.io/tests/e2e/graph.spec.ts.html
  test-results/vitest/coverage/idvorkin.github.io/tests/e2e/index.html
  test-results/vitest/coverage/idvorkin.github.io/tests/e2e/keyboard-shortcuts.spec.ts.html
  test-results/vitest/coverage/idvorkin.github.io/tests/e2e/search.spec.ts.html
  test-results/vitest/coverage/idvorkin.github.io/tests/e2e/sitenav.spec.ts.html
  test-results/vitest/coverage/idvorkin.github.io/tests/e2e/test-7-habits.spec.ts.html
  test-results/vitest/coverage/idvorkin.github.io/tests/e2e/todo-enjoy.spec.ts.html
  test-results/vitest/coverage/idvorkin.github.io/tests/unit/index.html
  test-results/vitest/coverage/idvorkin.github.io/tests/unit/makeHTML.spec.ts.html
  test-results/vitest/coverage/index.html
  test-results/vitest/html/html.meta.json.gz
  test-results/vitest/test-output.json
  test-results/vitest/test-verbose-output.html
  test-results/vitest/test-verbose-output.txt
Due: none

Revert "fix(graph): refactor for proper async initialization"
  src/graph.ts
Due: vitest-related

Revert "feat(graph): import graph module in main bundle"
  src/index.ts
Due: vitest-related

Revert "test(graph): add playwright test for #eulogy hash parameter"
  tests/e2e/graph.spec.ts
Due: vitest-related

Revert "test(graph): add unit tests for graph building functionality"
  src/__tests__/graph.test.ts
Due: vitest-related

Revert "docs(graph): add detailed requirements documentation"
  requirements/graph.html.md
Due: update-backlinks-last-modified

Revert "docs: add developer guidelines and testing infrastructure"
  CLAUDE.md
  assets/css/style.css
  src/__tests__/breadth-first-walk.test.ts
  src/__tests__/link-utils.test.ts
  src/__tests__/mocks/index.ts
  src/__tests__/random-prompter.test.ts.skip
  src/__tests__/recent-posts.test.ts
  src/__tests__/test-setup.ts
  src/__tests__/tree-node.test.ts
  src/graph.ts
  src/main.ts
  src/recent-posts.ts
Due: vitest-related, update-backlinks-last-modified

Revert "chore: update Jekyll config to exclude requirements directory"
  _config.yml
Due: none

Revert "Update code bundle"
  assets/js/index.js
  assets/js/index.js.map
Due: none

Revert "feat(graph.html): add interactive graph visualization of blog post connections"
  requirements/graph.html.md
Due: update-backlinks-last-modified

Revert "docs: add Jekyll server info to CLAUDE.md"
  CLAUDE.md
Due: update-backlinks-last-modified

Deploying to test-results from @ idvorkin/idvorkin.github.io@abb4c1ca0d55d6797d604c4406e00b6668c5eb2d 🚀
  test-results/vitest/badge-count.json
  test-results/vitest/coverage/coverage-final.json
  test-results/vitest/coverage/idvorkin.github.io/ansi-to-html-converter.js.html
  test-results/vitest/coverage/idvorkin.github.io/index.html
  test-results/vitest/coverage/idvorkin.github.io/run-vitest-with-colors.js.html
  test-results/vitest/coverage/idvorkin.github.io/src/blogger_import.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/graph.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/index.html
  test-results/vitest/coverage/idvorkin.github.io/src/index.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/main.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/page-loader.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/random-prompter.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/recent-posts.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/recent.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/search.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/shared.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/utils/dom-helpers.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/utils/index.html
  test-results/vitest/coverage/idvorkin.github.io/tests/e2e/about-page.spec.ts.html
  test-results/vitest/coverage/idvorkin.github.io/tests/e2e/blog-posts.spec.ts.html
  test-results/vitest/coverage/idvorkin.github.io/tests/e2e/echo.spec.ts.html
  test-results/vitest/coverage/idvorkin.github.io/tests/e2e/index.html
  test-results/vitest/coverage/idvorkin.github.io/tests/e2e/keyboard-shortcuts.spec.ts.html
  test-results/vitest/coverage/idvorkin.github.io/tests/e2e/search.spec.ts.html
  test-results/vitest/coverage/idvorkin.github.io/tests/e2e/sitenav.spec.ts.html
  test-results/vitest/coverage/idvorkin.github.io/tests/e2e/test-7-habits.spec.ts.html
  test-results/vitest/coverage/idvorkin.github.io/tests/e2e/todo-enjoy.spec.ts.html
  test-results/vitest/coverage/idvorkin.github.io/tests/unit/index.html
  test-results/vitest/coverage/idvorkin.github.io/tests/unit/makeHTML.spec.ts.html
  test-results/vitest/coverage/index.html
  test-results/vitest/html/html.meta.json.gz
  test-results/vitest/test-output.json
  test-results/vitest/test-verbose-output.html
  test-results/vitest/test-verbose-output.txt
Due: none
