Repository idvorkin/idvorkin.github.io: changes, and which pre-commit hooks are due for each by the changed paths.
All: vitest-related, update-backlinks-last-modified, check-internal-links, anchor-checker

.pre-commit-config.yaml:

repos:
  # ðŸ Python: Linting and formatting
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.11.11
    hooks:
      # Run the linter.
      - id: ruff
        name: Ruff Linter
        types_or: [python, pyi, jupyter]
        args: [--fix]
      # Run the formatter.
      - id: ruff-format
        name: Ruff Formatter
        types_or: [python, pyi, jupyter]

  # âš¡ Biome: JS/TS/JSON/CSS/etc.
  - repo: https://github.com/biomejs/pre-commit
    rev: v2.0.0-beta.5
    hooks:
      - id: biome-check
        name: Biome Lint & Format
        additional_dependencies: ["@biomejs/biome@1.9.4"]
        # âœ… Languages: JS, TS, JSX, TSX, JSON, JSONC, CSS, GraphQL

  # â˜‚ï¸ Prettier: Only for Markdown and HTML
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: "v4.0.0-alpha.8"
    hooks:
      - id: prettier
        name: Prettier (Markdown & HTML only)
        files: \.(md|html)$
        exclude: "^(zz-chop-logs|published-chop-logs)/.*$|back-links.json"

  # ðŸ§ Dasel: YAML and JSON schema/structure validator
  - repo: https://github.com/TomWright/dasel
    rev: v2.8.1
    hooks:
      - id: dasel-validate
        name: Dasel YAML/JSON Validator
        files: \.(json|yaml|yml)$

  # âœï¸ Typos: Spell checking for code and prose
  - repo: https://github.com/crate-ci/typos
    rev: v1.28.4
    hooks:
      - id: typos
        name: Check for typos
        exclude: "^(assets|chop-logs|zz-chop-logs|cursor-logs|published-chop-logs|back-links.json|images/.*\\.excalidraw|old_blog|static)/.*$"
        args: []  # Uses .typos.toml for configuration

  # ðŸ§ª Local hooks
  - repo: local
    hooks:
      - id: beads-sync
        name: Flush beads changes
        entry: bash -c 'command -v bd >/dev/null && [ -d .beads ] && bd sync --flush-only && git add .beads/issues.jsonl 2>/dev/null; true'
        language: system
        pass_filenames: false
        always_run: true

      - id: test
        name: Run Fast Tests
        entry: just fast-test
        language: system
        pass_filenames: false
        always_run: true

      - id: vitest-related
        name: Run Vitest on changed TypeScript files
        entry: .pre-commit-hooks/vitest-ts-files.sh
        language: script
        types: [ts]
        pass_filenames: false

      - id: update-backlinks-last-modified
        name: Update last modified times for changed markdown files
        entry: uv run build_back_links.py delta
        language: system
        files: '\.(md|markdown)$'
        exclude: "^zz-chop-logs/.*$|back-links.json" # Exclude the zz-chop-logs directory
        pass_filenames: true
        verbose: true

      - id: check-internal-links
        name: Check internal links with lychee
        entry: .pre-commit-hooks/check-links.py
        language: script
        files: '\.(md|markdown)$'
        exclude: "^zz-chop-logs/.*$|back-links.json" # Exclude the zz-chop-logs directory
        pass_filenames: false
        always_run: false
        verbose: true

      - id: anchor-checker
        name: Check markdown anchors
        entry: .pre-commit-hooks/anchor-checker.sh
        language: script
        files: '\.(md|markdown)$'
        exclude: "^zz-chop-logs/.*$|back-links.json"
        pass_filenames: false
        always_run: false

larry: add TOC (vim-markdown-toc) after ai-slop/hero block
  _d/larry.md
  back-links.json
Due: update-backlinks-last-modified, check-internal-links, anchor-checker

Deploying to test-results from @ idvorkin/idvorkin.github.io@d3a2ff636900b3dd57b4c2b56c7f28956db17952 🚀
  test-results/vitest/coverage/idvorkin.github.io/ansi-to-html-converter.js.html
  test-results/vitest/coverage/idvorkin.github.io/index.html
  test-results/vitest/coverage/idvorkin.github.io/run-vitest-with-colors.js.html
  test-results/vitest/coverage/idvorkin.github.io/scripts/fetch-amazon-images.mjs.html
  test-results/vitest/coverage/idvorkin.github.io/scripts/index.html
  test-results/vitest/coverage/idvorkin.github.io/src/blogger_import.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/dev-info.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/featured-collapse.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/graph.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/header-copy-link.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/image-zoom.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/index.html
  test-results/vitest/coverage/idvorkin.github.io/src/index.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/main.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/page-loader.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/random-prompter.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/recent-posts-shared.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/recent-posts.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/recent.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/search.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/shared.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/utils/dom-helpers.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/utils/index.html
  test-results/vitest/coverage/index.html
  test-results/vitest/html/html.meta.json.gz
  test-results/vitest/test-output.json
  test-results/vitest/test-verbose-output.html
  test-results/vitest/test-verbose-output.txt
Due: none

share-link: append '...' when snippet has more content past it
  src/__tests__/header-copy-link.test.ts
  src/header-copy-link.ts
Due: vitest-related

balloon + life-journal: Hood Canal trail-balloon vignette w/ photo
  _d/balloon.md
  _d/life-journal.md
  back-links.json
  images/balloon-hood-canal-trail.webp
Due: update-backlinks-last-modified, check-internal-links, anchor-checker

Deploying to test-results from @ idvorkin/idvorkin.github.io@6b6173acd9838dd36d1764b8f10a6e76986183d7 🚀
  test-results/vitest/coverage/idvorkin.github.io/ansi-to-html-converter.js.html
  test-results/vitest/coverage/idvorkin.github.io/index.html
  test-results/vitest/coverage/idvorkin.github.io/run-vitest-with-colors.js.html
  test-results/vitest/coverage/idvorkin.github.io/scripts/fetch-amazon-images.mjs.html
  test-results/vitest/coverage/idvorkin.github.io/scripts/index.html
  test-results/vitest/coverage/idvorkin.github.io/src/blogger_import.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/dev-info.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/featured-collapse.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/graph.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/header-copy-link.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/image-zoom.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/index.html
  test-results/vitest/coverage/idvorkin.github.io/src/index.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/main.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/page-loader.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/random-prompter.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/recent-posts-shared.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/recent-posts.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/recent.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/search.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/shared.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/utils/dom-helpers.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/utils/index.html
  test-results/vitest/coverage/index.html
  test-results/vitest/html/html.meta.json.gz
  test-results/vitest/test-output.json
  test-results/vitest/test-verbose-output.html
  test-results/vitest/test-verbose-output.txt
Due: none

Split /money into /money + /taxes (Option 2 balanced)
  _d/stock-concentration.md
  _d/taxes.md
  _d/taxes_split.md
Due: update-backlinks-last-modified, check-internal-links, anchor-checker

toc: add /taxes summarize under Financial health
  _d/toc_.md
Due: update-backlinks-last-modified, check-internal-links, anchor-checker

taxes(/money): client-side anchor redirect for moved tax sections
  _d/taxes.md
Due: update-backlinks-last-modified, check-internal-links, anchor-checker

share-link: append '...' when snippet has more content past it (#567)
  src/__tests__/header-copy-link.test.ts
  src/header-copy-link.ts
Due: vitest-related

igor-gap-year: cross-ref WA cap-gains tax mention to /taxes
  _d/igor-gap-year.md
  back-links.json
Due: update-backlinks-last-modified, check-internal-links, anchor-checker

taxes(/money→/taxes): move retirement-account sections per PR review
  _d/taxes.md
  _d/taxes_split.md
Due: update-backlinks-last-modified, check-internal-links, anchor-checker

Deploying to test-results from @ idvorkin/idvorkin.github.io@8921b73a48cfff3c1f8e1e94d0e5637cf681d514 🚀
  test-results/vitest/badge-count.json
  test-results/vitest/coverage/coverage-final.json
  test-results/vitest/coverage/idvorkin.github.io/ansi-to-html-converter.js.html
  test-results/vitest/coverage/idvorkin.github.io/index.html
  test-results/vitest/coverage/idvorkin.github.io/run-vitest-with-colors.js.html
  test-results/vitest/coverage/idvorkin.github.io/scripts/fetch-amazon-images.mjs.html
  test-results/vitest/coverage/idvorkin.github.io/scripts/index.html
  test-results/vitest/coverage/idvorkin.github.io/src/blogger_import.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/dev-info.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/featured-collapse.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/graph.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/header-copy-link.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/image-zoom.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/index.html
  test-results/vitest/coverage/idvorkin.github.io/src/index.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/main.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/page-loader.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/random-prompter.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/recent-posts-shared.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/recent-posts.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/recent.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/search.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/shared.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/utils/dom-helpers.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/utils/index.html
  test-results/vitest/coverage/index.html
  test-results/vitest/html/html.meta.json.gz
  test-results/vitest/test-output.json
  test-results/vitest/test-verbose-output.html
  test-results/vitest/test-verbose-output.txt
Due: none

blog(life-journal): regen pod-detective — fuller composition
  images/pod-detective.webp
Due: none

blog(life-journal): swap pod-detective.webp to visually cleaner roll
  images/pod-detective.webp
Due: none

blog(life-journal): hero image + hide Claude instructions + TOC max=4
  _d/life-journal.md
  images/pod-detective.webp
Due: update-backlinks-last-modified, check-internal-links, anchor-checker

blog(life-journal): regen pod-detective with border-seeded flood
  images/pod-detective.webp
Due: none

blog(life-journal): regen pod-detective with transparent background
  images/pod-detective.webp
Due: none

blog(life-journal): regen pod-detective.webp under new bleed-through eval
  images/pod-detective.webp
Due: none

rename files to match permalinks: money.md→/money, taxes.md→/taxes
  _d/money.md
  _d/taxes.md
  _d/taxes_split.md
Due: update-backlinks-last-modified, check-internal-links, anchor-checker

Deploying to test-results from @ idvorkin/idvorkin.github.io@8bd44ab49ba766434e98f5503e0d5e9e16e3f242 🚀
  test-results/vitest/coverage/idvorkin.github.io/ansi-to-html-converter.js.html
  test-results/vitest/coverage/idvorkin.github.io/index.html
  test-results/vitest/coverage/idvorkin.github.io/run-vitest-with-colors.js.html
  test-results/vitest/coverage/idvorkin.github.io/scripts/fetch-amazon-images.mjs.html
  test-results/vitest/coverage/idvorkin.github.io/scripts/index.html
  test-results/vitest/coverage/idvorkin.github.io/src/blogger_import.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/dev-info.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/featured-collapse.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/graph.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/header-copy-link.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/image-zoom.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/index.html
  test-results/vitest/coverage/idvorkin.github.io/src/index.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/main.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/page-loader.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/random-prompter.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/recent-posts-shared.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/recent-posts.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/recent.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/search.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/shared.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/utils/dom-helpers.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/utils/index.html
  test-results/vitest/coverage/index.html
  test-results/vitest/html/html.meta.json.gz
  test-results/vitest/test-output.json
  test-results/vitest/test-verbose-output.html
  test-results/vitest/test-verbose-output.txt
Due: none

taxes: add retirement LTCG-only scenario ($300K spending, no wages)
  _d/taxes.md
  back-links.json
Due: update-backlinks-last-modified, check-internal-links, anchor-checker

taxes: add $200-500K benchmark table + RMD cliff context
  _d/taxes.md
Due: update-backlinks-last-modified, check-internal-links, anchor-checker

taxes: drop Federal/WA $ columns from working-years table — rate focus
  _d/taxes.md
Due: update-backlinks-last-modified, check-internal-links, anchor-checker

Deploying to test-results from @ idvorkin/idvorkin.github.io@e48c3feb35f95430c9995301f76c63f65598fc07 🚀
  test-results/vitest/coverage/idvorkin.github.io/ansi-to-html-converter.js.html
  test-results/vitest/coverage/idvorkin.github.io/index.html
  test-results/vitest/coverage/idvorkin.github.io/run-vitest-with-colors.js.html
  test-results/vitest/coverage/idvorkin.github.io/scripts/fetch-amazon-images.mjs.html
  test-results/vitest/coverage/idvorkin.github.io/scripts/index.html
  test-results/vitest/coverage/idvorkin.github.io/src/blogger_import.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/dev-info.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/featured-collapse.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/graph.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/header-copy-link.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/image-zoom.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/index.html
  test-results/vitest/coverage/idvorkin.github.io/src/index.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/main.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/page-loader.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/random-prompter.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/recent-posts-shared.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/recent-posts.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/recent.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/search.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/shared.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/utils/dom-helpers.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/utils/index.html
  test-results/vitest/coverage/index.html
  test-results/vitest/html/html.meta.json.gz
  test-results/vitest/test-output.json
  test-results/vitest/test-verbose-output.html
  test-results/vitest/test-verbose-output.txt
Due: none

feat(justfile): add worktree-init recipe for fire-and-forget jekyll build
  CLAUDE.md
  justfile
Due: update-backlinks-last-modified, check-internal-links, anchor-checker

content: changelog entry for week of 2026-04-20
  _d/changelog.md
Due: update-backlinks-last-modified, check-internal-links, anchor-checker

ai-native-manager: add founder-side hiring field note (Shivani Poddar)
  _d/ai-native-manager.md
  back-links.json
Due: update-backlinks-last-modified, check-internal-links, anchor-checker

ai-native-manager: add AI Pilled to New Words for a New World
  _d/ai-native-manager.md
  back-links.json
Due: update-backlinks-last-modified, check-internal-links, anchor-checker

Deploying to test-results from @ idvorkin/idvorkin.github.io@16bfb5bc41c246e756f2ba37130fd67f5b269b73 🚀
  test-results/vitest/coverage/idvorkin.github.io/ansi-to-html-converter.js.html
  test-results/vitest/coverage/idvorkin.github.io/index.html
  test-results/vitest/coverage/idvorkin.github.io/run-vitest-with-colors.js.html
  test-results/vitest/coverage/idvorkin.github.io/scripts/fetch-amazon-images.mjs.html
  test-results/vitest/coverage/idvorkin.github.io/scripts/index.html
  test-results/vitest/coverage/idvorkin.github.io/src/blogger_import.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/dev-info.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/featured-collapse.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/graph.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/header-copy-link.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/image-zoom.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/index.html
  test-results/vitest/coverage/idvorkin.github.io/src/index.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/main.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/page-loader.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/random-prompter.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/recent-posts-shared.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/recent-posts.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/recent.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/search.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/shared.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/utils/dom-helpers.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/utils/index.html
  test-results/vitest/coverage/index.html
  test-results/vitest/html/html.meta.json.gz
  test-results/vitest/test-output.json
  test-results/vitest/test-verbose-output.html
  test-results/vitest/test-verbose-output.txt
Due: none

Deploying to test-results from @ idvorkin/idvorkin.github.io@7618201a4f5b6dc92191945c237fdca637575740 🚀
  test-results/vitest/coverage/idvorkin.github.io/ansi-to-html-converter.js.html
  test-results/vitest/coverage/idvorkin.github.io/index.html
  test-results/vitest/coverage/idvorkin.github.io/run-vitest-with-colors.js.html
  test-results/vitest/coverage/idvorkin.github.io/scripts/fetch-amazon-images.mjs.html
  test-results/vitest/coverage/idvorkin.github.io/scripts/index.html
  test-results/vitest/coverage/idvorkin.github.io/src/blogger_import.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/dev-info.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/featured-collapse.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/graph.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/header-copy-link.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/image-zoom.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/index.html
  test-results/vitest/coverage/idvorkin.github.io/src/index.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/main.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/page-loader.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/random-prompter.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/recent-posts-shared.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/recent-posts.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/recent.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/search.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/shared.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/utils/dom-helpers.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/utils/index.html
  test-results/vitest/coverage/index.html
  test-results/vitest/html/html.meta.json.gz
  test-results/vitest/test-output.json
  test-results/vitest/test-verbose-output.html
  test-results/vitest/test-verbose-output.txt
Due: none

algolia: exclude _ig66/* (family journal) from search index
  _config.yml
Due: none

Deploying to test-results from @ idvorkin/idvorkin.github.io@656d6fc621f41295c370bcb39bf4d3072a174325 🚀
  test-results/vitest/coverage/idvorkin.github.io/ansi-to-html-converter.js.html
  test-results/vitest/coverage/idvorkin.github.io/index.html
  test-results/vitest/coverage/idvorkin.github.io/run-vitest-with-colors.js.html
  test-results/vitest/coverage/idvorkin.github.io/scripts/fetch-amazon-images.mjs.html
  test-results/vitest/coverage/idvorkin.github.io/scripts/index.html
  test-results/vitest/coverage/idvorkin.github.io/src/blogger_import.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/dev-info.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/featured-collapse.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/graph.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/header-copy-link.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/image-zoom.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/index.html
  test-results/vitest/coverage/idvorkin.github.io/src/index.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/main.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/page-loader.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/random-prompter.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/recent-posts-shared.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/recent-posts.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/recent.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/search.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/shared.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/utils/dom-helpers.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/utils/index.html
  test-results/vitest/coverage/index.html
  test-results/vitest/html/html.meta.json.gz
  test-results/vitest/test-output.json
  test-results/vitest/test-verbose-output.html
  test-results/vitest/test-verbose-output.txt
Due: none

content: delete 7 GPT-generated acronym-book drafts
  _d/class-act-4.md
  _d/good_husband-4.md
  _d/gpt-7-habits.md
  _d/gpt-dad.md
  _d/gpt-gotman.md
  _d/gpt-system-design-interview.md
  _d/gpt2.md
  _d/rapport.md
Due: update-backlinks-last-modified, check-internal-links, anchor-checker

chore: bump back-links.json last_modified for /gpt after gpt2.md edit
  back-links.json
Due: none

Deploying to test-results from @ idvorkin/idvorkin.github.io@c8b5ab615f0bbe3ea2bdb69abf8b0fadba7c04eb 🚀
  test-results/vitest/coverage/coverage-final.json
  test-results/vitest/coverage/idvorkin.github.io/ansi-to-html-converter.js.html
  test-results/vitest/coverage/idvorkin.github.io/index.html
  test-results/vitest/coverage/idvorkin.github.io/run-vitest-with-colors.js.html
  test-results/vitest/coverage/idvorkin.github.io/scripts/fetch-amazon-images.mjs.html
  test-results/vitest/coverage/idvorkin.github.io/scripts/index.html
  test-results/vitest/coverage/idvorkin.github.io/src/blogger_import.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/dev-info.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/featured-collapse.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/graph.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/header-copy-link.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/image-zoom.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/index.html
  test-results/vitest/coverage/idvorkin.github.io/src/index.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/main.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/page-loader.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/random-prompter.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/recent-posts-shared.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/recent-posts.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/recent.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/search.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/shared.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/utils/dom-helpers.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/utils/index.html
  test-results/vitest/coverage/index.html
  test-results/vitest/html/html.meta.json.gz
  test-results/vitest/test-output.json
  test-results/vitest/test-verbose-output.html
  test-results/vitest/test-verbose-output.txt
Due: none

life-journal: Zach pizza-engineer moment + raccoon illustration
  _d/life-journal.md
Due: update-backlinks-last-modified, check-internal-links, anchor-checker

Deploying to test-results from @ idvorkin/idvorkin.github.io@36fdfd885ce56767691989a99c148fd98737cc66 🚀
  test-results/vitest/coverage/coverage-final.json
  test-results/vitest/coverage/idvorkin.github.io/ansi-to-html-converter.js.html
  test-results/vitest/coverage/idvorkin.github.io/index.html
  test-results/vitest/coverage/idvorkin.github.io/run-vitest-with-colors.js.html
  test-results/vitest/coverage/idvorkin.github.io/scripts/fetch-amazon-images.mjs.html
  test-results/vitest/coverage/idvorkin.github.io/scripts/index.html
  test-results/vitest/coverage/idvorkin.github.io/src/blogger_import.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/dev-info.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/featured-collapse.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/graph.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/header-copy-link.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/image-zoom.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/index.html
  test-results/vitest/coverage/idvorkin.github.io/src/index.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/main.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/page-loader.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/random-prompter.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/recent-posts-shared.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/recent-posts.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/recent.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/search.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/shared.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/utils/dom-helpers.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/utils/index.html
  test-results/vitest/coverage/index.html
  test-results/vitest/html/html.meta.json.gz
  test-results/vitest/test-output.json
  test-results/vitest/test-verbose-output.html
  test-results/vitest/test-verbose-output.txt
Due: none

life-journal: float raccoon right + hide Claude-instructions section + add blob_image float param
  _d/life-journal.md
  _includes/blob_image.html
Due: update-backlinks-last-modified, check-internal-links, anchor-checker
