Repository idvorkin/idvorkin.github.io: changes, and which pre-commit hooks are due for each by the changed paths.
All: vitest-related, update-backlinks-last-modified

vitest-related:
  name: Run Vitest on changed TypeScript files
  entry: .pre-commit-hooks/vitest-ts-files.sh
  language: script
  pass_filenames: false

update-backlinks-last-modified:
  name: Update last modified times for changed markdown files
  entry: uv run build_back_links.py delta
  language: system
  pass_filenames: true
  verbose: true

fix(graph): reintegrate graph module into main bundle
  assets/js/index.js
  assets/js/index.js.map
  src/graph.ts
  src/index.ts
  src/main.ts
  src/shared.ts
Due: vitest-related

docs: add CLAUDE.md with development guidelines
  CLAUDE.md
Due: update-backlinks-last-modified

Deploying to test-results from @ idvorkin/idvorkin.github.io@07339eb9a98c33de2230ade3fc8e31d9c7502cc2 🚀
  test-results/vitest/coverage/coverage-final.json
  test-results/vitest/coverage/idvorkin.github.io/ansi-to-html-converter.js.html
  test-results/vitest/coverage/idvorkin.github.io/index.html
  test-results/vitest/coverage/idvorkin.github.io/run-vitest-with-colors.js.html
  test-results/vitest/coverage/idvorkin.github.io/src/blogger_import.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/graph.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/index.html
  test-results/vitest/coverage/idvorkin.github.io/src/index.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/main.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/page-loader.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/random-prompter.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/recent-posts.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/recent.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/search.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/shared.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/utils/dom-helpers.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/utils/index.html
  test-results/vitest/coverage/idvorkin.github.io/tests/e2e/about-page.spec.ts.html
  test-results/vitest/coverage/idvorkin.github.io/tests/e2e/blog-posts.spec.ts.html
  test-results/vitest/coverage/idvorkin.github.io/tests/e2e/echo.spec.ts.html
  test-results/vitest/coverage/idvorkin.github.io/tests/e2e/index.html
  test-results/vitest/coverage/idvorkin.github.io/tests/e2e/keyboard-shortcuts.spec.ts.html
  test-results/vitest/coverage/idvorkin.github.io/tests/e2e/search.spec.ts.html
  test-results/vitest/coverage/idvorkin.github.io/tests/e2e/sitenav.spec.ts.html
  test-results/vitest/coverage/idvorkin.github.io/tests/e2e/test-7-habits.spec.ts.html
  test-results/vitest/coverage/idvorkin.github.io/tests/e2e/todo-enjoy.spec.ts.html
  test-results/vitest/coverage/idvorkin.github.io/tests/unit/index.html
  test-results/vitest/coverage/idvorkin.github.io/tests/unit/makeHTML.spec.ts.html
  test-results/vitest/coverage/index.html
  test-results/vitest/html/html.meta.json.gz
  test-results/vitest/test-output.json
  test-results/vitest/test-verbose-output.html
  test-results/vitest/test-verbose-output.txt
Due: none

fix: add missing MakeBackLinkHTML import in main.ts
  src/main.ts
Due: vitest-related

docs: update code style guidelines in CLAUDE.md
  CLAUDE.md
Due: update-backlinks-last-modified

build: update compiled JS files
  assets/js/index.js
  assets/js/index.js.map
Due: none

test: add script to check for JavaScript errors on prompts page
  tests/e2e/check-prompt-errors.js
Due: none

Deploying to test-results from @ idvorkin/idvorkin.github.io@50c661cc43d9f905625ffb478a80f6f79d5d96ef 🚀
  test-results/vitest/coverage/coverage-final.json
  test-results/vitest/coverage/idvorkin.github.io/ansi-to-html-converter.js.html
  test-results/vitest/coverage/idvorkin.github.io/index.html
  test-results/vitest/coverage/idvorkin.github.io/run-vitest-with-colors.js.html
  test-results/vitest/coverage/idvorkin.github.io/src/blogger_import.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/graph.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/index.html
  test-results/vitest/coverage/idvorkin.github.io/src/index.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/main.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/page-loader.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/random-prompter.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/recent-posts.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/recent.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/search.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/shared.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/utils/dom-helpers.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/utils/index.html
  test-results/vitest/coverage/idvorkin.github.io/tests/e2e/about-page.spec.ts.html
  test-results/vitest/coverage/idvorkin.github.io/tests/e2e/blog-posts.spec.ts.html
  test-results/vitest/coverage/idvorkin.github.io/tests/e2e/check-prompt-errors.js.html
  test-results/vitest/coverage/idvorkin.github.io/tests/e2e/echo.spec.ts.html
  test-results/vitest/coverage/idvorkin.github.io/tests/e2e/index.html
  test-results/vitest/coverage/idvorkin.github.io/tests/e2e/keyboard-shortcuts.spec.ts.html
  test-results/vitest/coverage/idvorkin.github.io/tests/e2e/search.spec.ts.html
  test-results/vitest/coverage/idvorkin.github.io/tests/e2e/sitenav.spec.ts.html
  test-results/vitest/coverage/idvorkin.github.io/tests/e2e/test-7-habits.spec.ts.html
  test-results/vitest/coverage/idvorkin.github.io/tests/e2e/todo-enjoy.spec.ts.html
  test-results/vitest/coverage/idvorkin.github.io/tests/unit/index.html
  test-results/vitest/coverage/idvorkin.github.io/tests/unit/makeHTML.spec.ts.html
  test-results/vitest/coverage/index.html
  test-results/vitest/html/html.meta.json.gz
  test-results/vitest/test-output.json
  test-results/vitest/test-verbose-output.html
  test-results/vitest/test-verbose-output.txt
Due: none

docs: add headless browser testing guideline to CLAUDE.md
  CLAUDE.md
Due: update-backlinks-last-modified

test: add JavaScript error checking to all e2e tests
  .gitignore
  src/graph.ts
  tests/e2e/about-page.spec.ts
  tests/e2e/blog-posts.spec.ts
  tests/e2e/js-error-checker.ts
  tests/e2e/keyboard-shortcuts.spec.ts
  tests/e2e/prompt-randomizer.spec.ts
  tests/e2e/search.spec.ts
  tests/e2e/sitenav.spec.ts
  tests/e2e/test-7-habits.spec.ts
  tests/e2e/todo-enjoy.spec.ts
Due: vitest-related

update code
  assets/js/index.js
  assets/js/index.js.map
Due: none

Deploying to test-results from @ idvorkin/idvorkin.github.io@51f7772c643de3c162c423d741d29783fae37710 🚀
  test-results/vitest/coverage/coverage-final.json
  test-results/vitest/coverage/idvorkin.github.io/ansi-to-html-converter.js.html
  test-results/vitest/coverage/idvorkin.github.io/index.html
  test-results/vitest/coverage/idvorkin.github.io/run-vitest-with-colors.js.html
  test-results/vitest/coverage/idvorkin.github.io/src/blogger_import.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/graph.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/index.html
  test-results/vitest/coverage/idvorkin.github.io/src/index.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/main.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/page-loader.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/random-prompter.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/recent-posts.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/recent.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/search.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/shared.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/utils/dom-helpers.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/utils/index.html
  test-results/vitest/coverage/idvorkin.github.io/tests/e2e/about-page.spec.ts.html
  test-results/vitest/coverage/idvorkin.github.io/tests/e2e/blog-posts.spec.ts.html
  test-results/vitest/coverage/idvorkin.github.io/tests/e2e/echo.spec.ts.html
  test-results/vitest/coverage/idvorkin.github.io/tests/e2e/index.html
  test-results/vitest/coverage/idvorkin.github.io/tests/e2e/js-error-checker.ts.html
  test-results/vitest/coverage/idvorkin.github.io/tests/e2e/keyboard-shortcuts.spec.ts.html
  test-results/vitest/coverage/idvorkin.github.io/tests/e2e/prompt-randomizer.spec.ts.html
  test-results/vitest/coverage/idvorkin.github.io/tests/e2e/search.spec.ts.html
  test-results/vitest/coverage/idvorkin.github.io/tests/e2e/test-7-habits.spec.ts.html
  test-results/vitest/coverage/idvorkin.github.io/tests/e2e/todo-enjoy.spec.ts.html
  test-results/vitest/coverage/idvorkin.github.io/tests/unit/index.html
  test-results/vitest/coverage/idvorkin.github.io/tests/unit/makeHTML.spec.ts.html
  test-results/vitest/coverage/index.html
  test-results/vitest/html/html.meta.json.gz
  test-results/vitest/test-output.json
  test-results/vitest/test-verbose-output.html
  test-results/vitest/test-verbose-output.txt
Due: none

fix: add null checks to prevent JavaScript console errors
  assets/js/index.js
  assets/js/index.js.map
  src/main.ts
  src/page-loader.ts
  tests/e2e/js-error-checker.ts
Due: vitest-related

chore: exclude src/__tests__ directory from coverage reports
  vitest.config.ts
Due: vitest-related

chore: exclude test directories from Jekyll processing
  _config.yml
Due: none

refactor: consolidate test files into tests/unit directory
  tests/unit/dom-helpers.test.ts
  tests/unit/get-link-info.test.ts
  tests/unit/main.test.ts
  tests/unit/makeHTML.spec.ts
  tests/unit/shared.test.ts
  vitest.config.ts
Due: vitest-related

Deploying to test-results from @ idvorkin/idvorkin.github.io@be9554723e79c617df97b1ccfc696d8c5f7866ba 🚀
  test-results/vitest/coverage/coverage-final.json
  test-results/vitest/coverage/idvorkin.github.io/ansi-to-html-converter.js.html
  test-results/vitest/coverage/idvorkin.github.io/index.html
  test-results/vitest/coverage/idvorkin.github.io/run-vitest-with-colors.js.html
  test-results/vitest/coverage/idvorkin.github.io/src/blogger_import.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/graph.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/index.html
  test-results/vitest/coverage/idvorkin.github.io/src/index.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/main.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/page-loader.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/random-prompter.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/recent-posts.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/recent.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/search.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/shared.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/utils/dom-helpers.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/utils/index.html
  test-results/vitest/coverage/index.html
  test-results/vitest/html/html.meta.json.gz
  test-results/vitest/test-output.json
  test-results/vitest/test-verbose-output.html
  test-results/vitest/test-verbose-output.txt
Due: none

test: improve unit test coverage
  tests/unit/page-loader.test.ts
  tests/unit/random-prompter.test.ts
  tests/unit/shared.test.ts
Due: vitest-related

Deploying to test-results from @ idvorkin/idvorkin.github.io@61103ca013eeecd1822c49405171c022b61c4a94 🚀
  test-results/vitest/badge-count.json
  test-results/vitest/coverage/coverage-final.json
  test-results/vitest/coverage/idvorkin.github.io/ansi-to-html-converter.js.html
  test-results/vitest/coverage/idvorkin.github.io/index.html
  test-results/vitest/coverage/idvorkin.github.io/run-vitest-with-colors.js.html
  test-results/vitest/coverage/idvorkin.github.io/src/blogger_import.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/graph.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/index.html
  test-results/vitest/coverage/idvorkin.github.io/src/index.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/main.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/page-loader.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/random-prompter.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/recent-posts.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/recent.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/search.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/shared.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/utils/dom-helpers.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/utils/index.html
  test-results/vitest/coverage/index.html
  test-results/vitest/html/html.meta.json.gz
  test-results/vitest/test-output.json
  test-results/vitest/test-verbose-output.html
  test-results/vitest/test-verbose-output.txt
Due: none

fix: update Playwright tests to handle unit tests
  playwright.config.ts
  tests/e2e/js-error-checker.ts
Due: vitest-related

refactor(recent-posts): refactor recent posts component for modularity and testability
  src/recent-posts.ts
  tests/unit/recent-posts.test.ts
Due: vitest-related

Deploying to test-results from @ idvorkin/idvorkin.github.io@702d0e883a56ef3cfd70c20e341b173af2dc543c 🚀
  test-results/vitest/badge-count.json
  test-results/vitest/coverage/coverage-final.json
  test-results/vitest/coverage/idvorkin.github.io/ansi-to-html-converter.js.html
  test-results/vitest/coverage/idvorkin.github.io/index.html
  test-results/vitest/coverage/idvorkin.github.io/run-vitest-with-colors.js.html
  test-results/vitest/coverage/idvorkin.github.io/src/blogger_import.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/graph.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/index.html
  test-results/vitest/coverage/idvorkin.github.io/src/index.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/main.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/page-loader.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/random-prompter.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/recent-posts.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/recent.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/search.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/shared.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/utils/dom-helpers.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/utils/index.html
  test-results/vitest/coverage/index.html
  test-results/vitest/html/html.meta.json.gz
  test-results/vitest/test-output.json
  test-results/vitest/test-verbose-output.html
  test-results/vitest/test-verbose-output.txt
Due: none

refactor: create shared module for recent posts functionality
  assets/js/index.js
  assets/js/index.js.map
  src/recent-posts-shared.ts
  src/recent-posts.ts
  src/recent.ts
  tests/unit/recent-posts.test.ts
Due: vitest-related

refactor: enhance Recent module testability and test coverage
  src/recent.ts
  tests/unit/recent.test.ts
Due: vitest-related

build: update compiled JavaScript files
  assets/js/index.js
  assets/js/index.js.map
Due: none

refactor: improve testability and coverage for page-loader and random-prompter
  assets/js/index.js
  assets/js/index.js.map
  src/page-loader.ts
  src/random-prompter.ts
  tests/unit/page-loader.test.ts
  tests/unit/random-prompter.test.ts
Due: vitest-related

Deploying to test-results from @ idvorkin/idvorkin.github.io@ddd9cb55137de731dadeff83dc0d07df64b7b88f 🚀
  test-results/vitest/badge-count.json
  test-results/vitest/coverage/coverage-final.json
  test-results/vitest/coverage/idvorkin.github.io/ansi-to-html-converter.js.html
  test-results/vitest/coverage/idvorkin.github.io/index.html
  test-results/vitest/coverage/idvorkin.github.io/run-vitest-with-colors.js.html
  test-results/vitest/coverage/idvorkin.github.io/src/blogger_import.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/graph.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/index.html
  test-results/vitest/coverage/idvorkin.github.io/src/index.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/main.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/page-loader.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/random-prompter.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/recent-posts-shared.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/recent-posts.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/recent.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/search.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/utils/dom-helpers.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/utils/index.html
  test-results/vitest/coverage/index.html
  test-results/vitest/html/html.meta.json.gz
  test-results/vitest/test-output.json
  test-results/vitest/test-verbose-output.html
  test-results/vitest/test-verbose-output.txt
Due: none

pre-commit autoupdate to latest
  .pre-commit-config.yaml
Due: none

Deploying to test-results from @ idvorkin/idvorkin.github.io@2cd9b5e8acf36a4054416d031f5895d5a2325520 🚀
  test-results/vitest/coverage/idvorkin.github.io/ansi-to-html-converter.js.html
  test-results/vitest/coverage/idvorkin.github.io/index.html
  test-results/vitest/coverage/idvorkin.github.io/run-vitest-with-colors.js.html
  test-results/vitest/coverage/idvorkin.github.io/src/blogger_import.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/graph.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/index.html
  test-results/vitest/coverage/idvorkin.github.io/src/index.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/main.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/page-loader.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/random-prompter.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/recent-posts-shared.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/recent-posts.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/recent.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/search.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/shared.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/utils/dom-helpers.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/utils/index.html
  test-results/vitest/coverage/index.html
  test-results/vitest/html/html.meta.json.gz
  test-results/vitest/test-output.json
  test-results/vitest/test-verbose-output.html
  test-results/vitest/test-verbose-output.txt
Due: none

CHecking precommit
  debug.html
Due: none

Deploying to test-results from @ idvorkin/idvorkin.github.io@070a8b82b6e230d90eaae3f54155c382cfc07493 🚀
  test-results/vitest/coverage/idvorkin.github.io/ansi-to-html-converter.js.html
  test-results/vitest/coverage/idvorkin.github.io/index.html
  test-results/vitest/coverage/idvorkin.github.io/run-vitest-with-colors.js.html
  test-results/vitest/coverage/idvorkin.github.io/src/blogger_import.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/graph.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/index.html
  test-results/vitest/coverage/idvorkin.github.io/src/index.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/main.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/page-loader.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/random-prompter.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/recent-posts-shared.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/recent-posts.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/recent.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/search.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/shared.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/utils/dom-helpers.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/utils/index.html
  test-results/vitest/coverage/index.html
  test-results/vitest/html/html.meta.json.gz
  test-results/vitest/test-output.json
  test-results/vitest/test-verbose-output.html
  test-results/vitest/test-verbose-output.txt
Due: none

fix(main): improve error handling and defensive programming in link processing functions
  src/main.ts
  src/recent-posts.ts
  src/recent.ts
  tests/unit/blogger_import.test.ts
  tests/unit/graph.test.ts
  tests/unit/index.test.ts
  tests/unit/main.test.ts
  tests/unit/recent-posts.test.ts
  tests/unit/recent.test.ts
  tests/unit/search.test.ts
Due: vitest-related

Update Code
  assets/js/index.js
  assets/js/index.js.map
Due: none

Deploying to test-results from @ idvorkin/idvorkin.github.io@836d5e2dab9e9f090e33eb6e0b22300154e507f8 🚀
  test-results/vitest/badge-count.json
  test-results/vitest/coverage/coverage-final.json
  test-results/vitest/coverage/idvorkin.github.io/ansi-to-html-converter.js.html
  test-results/vitest/coverage/idvorkin.github.io/index.html
  test-results/vitest/coverage/idvorkin.github.io/run-vitest-with-colors.js.html
  test-results/vitest/coverage/idvorkin.github.io/src/blogger_import.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/graph.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/index.html
  test-results/vitest/coverage/idvorkin.github.io/src/index.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/main.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/page-loader.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/random-prompter.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/recent-posts-shared.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/recent-posts.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/recent.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/search.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/shared.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/utils/dom-helpers.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/utils/index.html
  test-results/vitest/coverage/index.html
  test-results/vitest/html/html.meta.json.gz
  test-results/vitest/test-output.json
  test-results/vitest/test-verbose-output.html
  test-results/vitest/test-verbose-output.txt
Due: none

refactor(graph): Extract and refactor graph functionality into smaller, reusable functions
  src/graph.ts
  src/search.ts
  tests/unit/graph.test.ts
  tests/unit/search.test.ts
Due: vitest-related

Deploying to test-results from @ idvorkin/idvorkin.github.io@960bef0d97f7b73e056c2b165cb0d3c0fa1dc6d0 🚀
  test-results/vitest/badge-count.json
  test-results/vitest/coverage/coverage-final.json
  test-results/vitest/coverage/idvorkin.github.io/ansi-to-html-converter.js.html
  test-results/vitest/coverage/idvorkin.github.io/index.html
  test-results/vitest/coverage/idvorkin.github.io/run-vitest-with-colors.js.html
  test-results/vitest/coverage/idvorkin.github.io/src/blogger_import.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/graph.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/index.html
  test-results/vitest/coverage/idvorkin.github.io/src/index.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/main.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/page-loader.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/random-prompter.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/recent-posts-shared.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/recent-posts.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/recent.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/search.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/shared.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/utils/dom-helpers.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/utils/index.html
  test-results/vitest/coverage/index.html
  test-results/vitest/html/html.meta.json.gz
  test-results/vitest/test-output.json
  test-results/vitest/test-verbose-output.html
  test-results/vitest/test-verbose-output.txt
Due: none

feat(build): add mutex_m gem to Jekyll plugins
  Gemfile
Due: none

docs: add article on handling task overload
  _d/handling-overwork.md
  back-links.json
  zz-chop-logs/2025-03-21_11-28-managing-workload-conversations-with-your-boss.md
Due: update-backlinks-last-modified

Path conditions:
  vitest-related: any of: \.(ts|mts|cts)$
  update-backlinks-last-modified: any of: \.(md|markdown)$, but not: ^zz-chop-logs/.*$
