Repository idvorkin/idvorkin.github.io: changes, and which pre-commit hooks are due for each by the changed paths.
All: vitest-related, update-backlinks-last-modified

.pre-commit-config.yaml:

# Common configuration values
exclude_chop_logs: &exclude_chop_logs
  exclude: "^zz-chop-logs/.*$" # Exclude the zz-chop-logs directory

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.1.8
    hooks:
      # Run the linter.
      - id: ruff
        types_or: [python, pyi, jupyter]
        args: [--fix]
      # Run the formatter.
      - id: ruff-format
        types_or: [python, pyi, jupyter]

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: "v3.1.0"
    hooks:
      - id: prettier
        <<: *exclude_chop_logs

  - repo: https://github.com/TomWright/dasel
    rev: v2.8.1
    hooks:
      - id: dasel-validate

  - repo: local
    hooks:
      - id: vitest-related
        name: Run Vitest on changed TypeScript files
        entry: .pre-commit-hooks/vitest-ts-files.sh
        language: script
        types: [ts]
        pass_filenames: false

      - id: update-backlinks-last-modified
        name: Update last modified times for changed markdown files
        entry: uv run build_back_links.py delta
        language: system
        files: '\.(md|markdown)$'
        <<: *exclude_chop_logs
        pass_filenames: true
        verbose: true

fix(dev-info): fix branch injection for GitHub Pages safe mode
  _data/git.json
  _includes/site-menu.html
  justfile
  tests/e2e/dev-banner.spec.ts
Due: vitest-related

feat(agents): enhance PR review agents with description updates and diagrams
  .claude/agents/code-review-expert.md
  .claude/agents/pr-description-updater.md
Due: update-backlinks-last-modified

feat(dev-info): add branch and port display for dev server (#70)
  .claude/agents/code-review-expert.md
  .claude/agents/pr-description-updater.md
  _data/git.json
  _includes/site-menu.html
  _plugins/git_data_generator.rb
  assets/js/index.js
  assets/js/index.js.map
  justfile
  src/__tests__/dev-info.test.ts
  src/dev-info.ts
  src/main.ts
  tests/e2e/dev-banner.spec.ts
Due: vitest-related, update-backlinks-last-modified

Deploying to test-results from @ idvorkin/idvorkin.github.io@09a30deaf5a0e17be7bbe0e6242a668c91136d23 🚀
  test-results/vitest/badge-count.json
  test-results/vitest/coverage/coverage-final.json
  test-results/vitest/coverage/idvorkin.github.io/ansi-to-html-converter.js.html
  test-results/vitest/coverage/idvorkin.github.io/index.html
  test-results/vitest/coverage/idvorkin.github.io/run-vitest-with-colors.js.html
  test-results/vitest/coverage/idvorkin.github.io/src/blogger_import.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/dev-info.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/graph.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/header-copy-link.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/image-zoom.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/index.html
  test-results/vitest/coverage/idvorkin.github.io/src/index.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/main.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/page-loader.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/random-prompter.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/recent-posts-shared.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/recent-posts.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/recent.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/search.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/shared.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/utils/dom-helpers.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/utils/index.html
  test-results/vitest/coverage/index.html
  test-results/vitest/html/html.meta.json.gz
  test-results/vitest/test-output.json
  test-results/vitest/test-verbose-output.html
  test-results/vitest/test-verbose-output.txt
Due: none

docs(ai-coder): add Claude Code MCP servers documentation
  _d/ai-coder.md
  back-links.json
Due: update-backlinks-last-modified

chore(claude): update local settings and memory hints
  .claude/settings.local.json
  CLAUDE.md
Due: update-backlinks-last-modified

docs: add Claude Code MCP servers documentation (#71)
  .claude/settings.local.json
  CLAUDE.md
  _d/ai-coder.md
  back-links.json
Due: update-backlinks-last-modified

Deploying to test-results from @ idvorkin/idvorkin.github.io@214664d281def4dae340638e3c22d5a437c7220c 🚀
  test-results/vitest/coverage/idvorkin.github.io/ansi-to-html-converter.js.html
  test-results/vitest/coverage/idvorkin.github.io/index.html
  test-results/vitest/coverage/idvorkin.github.io/run-vitest-with-colors.js.html
  test-results/vitest/coverage/idvorkin.github.io/src/blogger_import.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/dev-info.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/graph.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/header-copy-link.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/image-zoom.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/index.html
  test-results/vitest/coverage/idvorkin.github.io/src/index.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/main.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/page-loader.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/random-prompter.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/recent-posts-shared.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/recent-posts.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/recent.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/search.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/shared.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/utils/dom-helpers.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/utils/index.html
  test-results/vitest/coverage/index.html
  test-results/vitest/html/html.meta.json.gz
  test-results/vitest/test-output.json
  test-results/vitest/test-verbose-output.html
  test-results/vitest/test-verbose-output.txt
Due: none

feat: add Amazon Product Advertising API integration scripts
  README_amazon_api.md
  amazon_api_simple.py
  amazon_official_sdk.py
  amazon_paapi5_lib.py
  amazon_product_api.py
  test_simple_paapi.py
  update_asins.py
Due: update-backlinks-last-modified

Add parent directory workflow for git worktrees
  CLAUDE.md
  setup-claude-parent.sh
Due: update-backlinks-last-modified

Deploying to test-results from @ idvorkin/idvorkin.github.io@c31c3ff138687afa2828a4bf3f82f3684d61ea8a 🚀
  test-results/vitest/coverage/idvorkin.github.io/ansi-to-html-converter.js.html
  test-results/vitest/coverage/idvorkin.github.io/index.html
  test-results/vitest/coverage/idvorkin.github.io/run-vitest-with-colors.js.html
  test-results/vitest/coverage/idvorkin.github.io/src/blogger_import.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/dev-info.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/graph.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/header-copy-link.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/image-zoom.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/index.html
  test-results/vitest/coverage/idvorkin.github.io/src/index.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/main.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/page-loader.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/random-prompter.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/recent-posts-shared.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/recent-posts.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/recent.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/search.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/shared.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/utils/dom-helpers.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/utils/index.html
  test-results/vitest/coverage/index.html
  test-results/vitest/html/html.meta.json.gz
  test-results/vitest/test-output.json
  test-results/vitest/test-verbose-output.html
  test-results/vitest/test-verbose-output.txt
Due: none

feat: Support dynamic Jekyll port configuration
  CLAUDE.md
  assets/js/index.js
  assets/js/index.js.map
  justfile
  src/main.ts
Due: vitest-related, update-backlinks-last-modified

test: Add unit and e2e tests for dynamic port functionality
  CLAUDE.md
  playwright.config.ts
  src/__tests__/swap-prod-test.test.ts
  tests/e2e/keyboard-shortcuts.spec.ts
Due: vitest-related, update-backlinks-last-modified

chore: Update git branch info for dev banner
  _data/git.json
Due: none

Potential fix for code scanning alert no. 76: Regular expression injection
  package.json
  tests/e2e/keyboard-shortcuts.spec.ts
Due: vitest-related

feat: Support dynamic Jekyll port configuration (#74)
  CLAUDE.md
  _data/git.json
  assets/js/index.js
  assets/js/index.js.map
  justfile
  package.json
  playwright.config.ts
  src/__tests__/swap-prod-test.test.ts
  src/main.ts
  tests/e2e/keyboard-shortcuts.spec.ts
Due: vitest-related, update-backlinks-last-modified

Deploying to test-results from @ idvorkin/idvorkin.github.io@12c93f28df78d4827bd6d1f25d8f3d3cecfd2d0f 🚀
  test-results/vitest/badge-count.json
  test-results/vitest/test-verbose-output.txt
Due: none

feat(docs): update CLAUDE.md with new startup feature and server navigation instructions
  CLAUDE.md
Due: update-backlinks-last-modified

Fix typos in igor-gap-year.md
  _d/igor-gap-year.md
Due: update-backlinks-last-modified

Simplify Jekyll commands and document server workflow
  CLAUDE.md
Due: update-backlinks-last-modified

feat: update igor-gap-year.md with new section on retirement
  _d/igor-gap-year.md
  back-links.json
Due: update-backlinks-last-modified

Checkpoitn this idea
  _d/taxes.md
Due: update-backlinks-last-modified

chore: update .gitignore and git data file
  .gitignore
  _data/git.json
Due: none

UPdate backlinks
  back-links.json
Due: none

docs(job-hunt-stress): add section on why companies pass on great candidates
  _posts/2017-02-17-job-hunt-stress.md
Due: update-backlinks-last-modified

feat(agent): enhance image-content-analyzer with web URLs, clipboard, and WebP conversion
  .claude/agents/image-content-analyzer.md
Due: update-backlinks-last-modified

fix(agent): replace pbpaste with osascript for clipboard image extraction
  .claude/agents/image-content-analyzer.md
Due: update-backlinks-last-modified

docs: update taxes.md with new content on stock concentration risk
  .claude/settings.local.json
  CLAUDE.md
  _d/taxes.md
Due: update-backlinks-last-modified

Add info on the worktree strcturef
  CLAUDE.md
Due: update-backlinks-last-modified

Split stock concentration content into separate post
  _d/stock-concentration.md
  _d/taxes.md
  back-links.json
Due: update-backlinks-last-modified

docs: update stock-concentration.md with new content and image formatting
  _d/stock-concentration.md
Due: update-backlinks-last-modified

Improve tax tables clarity and add assumptions disclaimer
  _d/stock-concentration.md
Due: update-backlinks-last-modified

Add Related Articles section with links to complementary content
  _d/stock-concentration.md
Due: update-backlinks-last-modified

Clarify exchange fund TL;DR - you still pay capital gains eventually
  _d/stock-concentration.md
Due: update-backlinks-last-modified

Add section on step-up in basis at death - the ultimate tax escape
  _d/stock-concentration.md
Due: update-backlinks-last-modified

Add apology alert for assumption-heavy tables and promise of future calculator
  _d/stock-concentration.md
Due: update-backlinks-last-modified

Move step-up in basis section from stock-concentration to taxes guide
  _d/stock-concentration.md
  _d/taxes.md
Due: update-backlinks-last-modified

Add inspiration image to joy.md
  _d/joy.md
Due: update-backlinks-last-modified

docs: update stock concentration article
  _d/stock-concentration.md
Due: update-backlinks-last-modified

Update backlinks
  back-links.json
Due: none
