Repository idvorkin/idvorkin.github.io: changes, and which pre-commit hooks are due for each by the changed paths.
All: vitest-related, update-backlinks-last-modified

.pre-commit-config.yaml:

# Common configuration values
exclude_chop_logs: &exclude_chop_logs
  exclude: "^zz-chop-logs/.*$" # Exclude the zz-chop-logs directory

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.1.8
    hooks:
      # Run the linter.
      - id: ruff
        types_or: [python, pyi, jupyter]
        args: [--fix]
      # Run the formatter.
      - id: ruff-format
        types_or: [python, pyi, jupyter]

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: "v3.1.0"
    hooks:
      - id: prettier
        <<: *exclude_chop_logs

  - repo: https://github.com/TomWright/dasel
    rev: v2.8.1
    hooks:
      - id: dasel-validate

  - repo: local
    hooks:
      - id: vitest-related
        name: Run Vitest on changed TypeScript files
        entry: .pre-commit-hooks/vitest-ts-files.sh
        language: script
        types: [ts]
        pass_filenames: false

      - id: update-backlinks-last-modified
        name: Update last modified times for changed markdown files
        entry: uv run build_back_links.py delta
        language: system
        files: '\.(md|markdown)$'
        <<: *exclude_chop_logs
        pass_filenames: true
        verbose: true

perf(assets): convert vacation image to WebP format
  _d/time-off-2020-03.md
  _d/time-off-2021-11.md
  _d/time-off-2024-02.md
  _d/time-off-2024-04.md
  _d/time-off-2024-08.md
  _d/time-off-2025-08.md
  _d/time_off.md
Due: update-backlinks-last-modified

Deploying to test-results from @ idvorkin/idvorkin.github.io@9e7b85ed7884bad2313caf70f22de65d93c25850 🚀
  test-results/vitest/coverage/idvorkin.github.io/ansi-to-html-converter.js.html
  test-results/vitest/coverage/idvorkin.github.io/index.html
  test-results/vitest/coverage/idvorkin.github.io/run-vitest-with-colors.js.html
  test-results/vitest/coverage/idvorkin.github.io/src/blogger_import.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/dev-info.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/graph.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/header-copy-link.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/image-zoom.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/index.html
  test-results/vitest/coverage/idvorkin.github.io/src/index.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/main.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/page-loader.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/random-prompter.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/recent-posts-shared.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/recent-posts.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/recent.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/search.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/shared.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/utils/dom-helpers.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/utils/index.html
  test-results/vitest/coverage/index.html
  test-results/vitest/html/html.meta.json.gz
  test-results/vitest/test-output.json
  test-results/vitest/test-verbose-output.html
  test-results/vitest/test-verbose-output.txt
Due: none

docs: update time-off-2025-08.md with additional details about hotel stay
  _d/time-off-2025-08.md
Due: update-backlinks-last-modified

Update backflinks
  back-links.json
Due: none

Deploying to test-results from @ idvorkin/idvorkin.github.io@6f239ca1808e9013903d84d0754d18daa5ef8edf 🚀
  test-results/vitest/coverage/idvorkin.github.io/ansi-to-html-converter.js.html
  test-results/vitest/coverage/idvorkin.github.io/index.html
  test-results/vitest/coverage/idvorkin.github.io/run-vitest-with-colors.js.html
  test-results/vitest/coverage/idvorkin.github.io/src/blogger_import.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/dev-info.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/graph.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/header-copy-link.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/image-zoom.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/index.html
  test-results/vitest/coverage/idvorkin.github.io/src/index.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/main.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/page-loader.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/random-prompter.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/recent-posts-shared.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/recent-posts.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/recent.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/search.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/shared.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/utils/dom-helpers.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/utils/index.html
  test-results/vitest/coverage/index.html
  test-results/vitest/html/html.meta.json.gz
  test-results/vitest/test-output.json
  test-results/vitest/test-verbose-output.html
  test-results/vitest/test-verbose-output.txt
Due: none

Adding nicer images with transparency
  _posts/2020-04-01-Igor-Eulogy.md
  images/raccoon-bike.webp
  images/raccoon-family.webp
  images/raccoon-husband.webp
  images/raccoon-lifting-weights.webp
  images/raccoon-magic.webp
  images/raccoon-meditate.webp
  images/raccoon-nerd.webp
  images/raccoon-vacation.webp
Due: update-backlinks-last-modified

Deploying to test-results from @ idvorkin/idvorkin.github.io@4b9660367c69f4b57b9f1002f1ddb2d8de460fc9 🚀
  test-results/vitest/coverage/idvorkin.github.io/ansi-to-html-converter.js.html
  test-results/vitest/coverage/idvorkin.github.io/index.html
  test-results/vitest/coverage/idvorkin.github.io/run-vitest-with-colors.js.html
  test-results/vitest/coverage/idvorkin.github.io/src/blogger_import.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/dev-info.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/graph.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/header-copy-link.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/image-zoom.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/index.html
  test-results/vitest/coverage/idvorkin.github.io/src/index.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/main.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/page-loader.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/random-prompter.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/recent-posts-shared.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/recent-posts.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/recent.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/search.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/shared.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/utils/dom-helpers.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/utils/index.html
  test-results/vitest/coverage/index.html
  test-results/vitest/html/html.meta.json.gz
  test-results/vitest/test-output.json
  test-results/vitest/test-verbose-output.html
  test-results/vitest/test-verbose-output.txt
Due: none

refactor(gap-year-igor): improve writing clarity and structure
  _d/igor-gap-year.md
Due: update-backlinks-last-modified

Deploying to test-results from @ idvorkin/idvorkin.github.io@245bd9f041783c6910362be2f7f81552822da2c5 🚀
  test-results/vitest/coverage/idvorkin.github.io/ansi-to-html-converter.js.html
  test-results/vitest/coverage/idvorkin.github.io/index.html
  test-results/vitest/coverage/idvorkin.github.io/run-vitest-with-colors.js.html
  test-results/vitest/coverage/idvorkin.github.io/src/blogger_import.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/dev-info.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/graph.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/header-copy-link.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/image-zoom.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/index.html
  test-results/vitest/coverage/idvorkin.github.io/src/index.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/main.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/page-loader.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/random-prompter.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/recent-posts-shared.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/recent-posts.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/recent.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/search.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/shared.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/utils/dom-helpers.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/utils/index.html
  test-results/vitest/coverage/index.html
  test-results/vitest/html/html.meta.json.gz
  test-results/vitest/test-output.json
  test-results/vitest/test-verbose-output.html
  test-results/vitest/test-verbose-output.txt
Due: none

refactor(igor-gap-year): restructure content for better flow and clarity
  _d/igor-gap-year.md
Due: update-backlinks-last-modified

Deploying to test-results from @ idvorkin/idvorkin.github.io@f40894e8f080b9dc00720a85eb0ee82bd685dc63 🚀
  test-results/vitest/coverage/idvorkin.github.io/ansi-to-html-converter.js.html
  test-results/vitest/coverage/idvorkin.github.io/index.html
  test-results/vitest/coverage/idvorkin.github.io/run-vitest-with-colors.js.html
  test-results/vitest/coverage/idvorkin.github.io/src/blogger_import.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/dev-info.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/graph.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/header-copy-link.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/image-zoom.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/index.html
  test-results/vitest/coverage/idvorkin.github.io/src/index.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/main.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/page-loader.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/random-prompter.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/recent-posts-shared.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/recent-posts.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/recent.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/search.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/shared.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/utils/dom-helpers.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/utils/index.html
  test-results/vitest/coverage/index.html
  test-results/vitest/html/html.meta.json.gz
  test-results/vitest/test-output.json
  test-results/vitest/test-verbose-output.html
  test-results/vitest/test-verbose-output.txt
Due: none

gap year: dragons-forward intro; nested Yes, and across dragon sections; resolve AGENT links; minor TOC tweaks
  _d/igor-gap-year.md
Due: update-backlinks-last-modified

Add Tori page and link from eulogy section
  _d/tori.md
  _posts/2020-04-01-Igor-Eulogy.md
Due: update-backlinks-last-modified

docs(igor-gap-year): update table of contents and section headers
  _d/igor-gap-year.md
  back-links.json
Due: update-backlinks-last-modified

Deploying to test-results from @ idvorkin/idvorkin.github.io@a4d5cf30c2a0337f9515978b193504fe2ac916cf 🚀
  test-results/vitest/coverage/idvorkin.github.io/ansi-to-html-converter.js.html
  test-results/vitest/coverage/idvorkin.github.io/index.html
  test-results/vitest/coverage/idvorkin.github.io/run-vitest-with-colors.js.html
  test-results/vitest/coverage/idvorkin.github.io/src/blogger_import.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/dev-info.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/graph.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/header-copy-link.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/image-zoom.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/index.html
  test-results/vitest/coverage/idvorkin.github.io/src/index.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/main.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/page-loader.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/random-prompter.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/recent-posts-shared.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/recent-posts.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/recent.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/search.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/shared.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/utils/dom-helpers.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/utils/index.html
  test-results/vitest/coverage/index.html
  test-results/vitest/html/html.meta.json.gz
  test-results/vitest/test-output.json
  test-results/vitest/test-verbose-output.html
  test-results/vitest/test-verbose-output.txt
Due: none

feat: Update share link to use breadcrumb format for header hierarchy
  assets/js/index.js
  assets/js/index.js.map
  src/header-copy-link.ts
Due: vitest-related

test: Add unit and E2E tests for breadcrumb format
  src/__tests__/header-copy-link.test.ts
  tests/e2e/header-copy-link.spec.ts
Due: vitest-related

feat: Update share link to use breadcrumb format for header hierarchy (#117)
  assets/js/index.js
  assets/js/index.js.map
  src/__tests__/header-copy-link.test.ts
  src/header-copy-link.ts
  tests/e2e/header-copy-link.spec.ts
Due: vitest-related

Deploying to test-results from @ idvorkin/idvorkin.github.io@fef91ab0411be15a604daf93a13c8cd9a8d4117c 🚀
  test-results/vitest/badge-count.json
  test-results/vitest/coverage/coverage-final.json
  test-results/vitest/coverage/idvorkin.github.io/ansi-to-html-converter.js.html
  test-results/vitest/coverage/idvorkin.github.io/index.html
  test-results/vitest/coverage/idvorkin.github.io/run-vitest-with-colors.js.html
  test-results/vitest/coverage/idvorkin.github.io/src/blogger_import.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/dev-info.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/graph.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/header-copy-link.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/image-zoom.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/index.html
  test-results/vitest/coverage/idvorkin.github.io/src/index.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/main.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/page-loader.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/random-prompter.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/recent-posts-shared.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/recent-posts.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/recent.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/search.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/shared.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/utils/dom-helpers.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/utils/index.html
  test-results/vitest/coverage/index.html
  test-results/vitest/html/html.meta.json.gz
  test-results/vitest/test-output.json
  test-results/vitest/test-verbose-output.html
  test-results/vitest/test-verbose-output.txt
Due: none

docs: update gap year article to reflect new dragon framework
  _d/igor-gap-year.md
Due: update-backlinks-last-modified

Deploying to test-results from @ idvorkin/idvorkin.github.io@ff97f4e7b3fa9912286188bf633911aff045dfd9 🚀
  test-results/vitest/coverage/idvorkin.github.io/ansi-to-html-converter.js.html
  test-results/vitest/coverage/idvorkin.github.io/index.html
  test-results/vitest/coverage/idvorkin.github.io/run-vitest-with-colors.js.html
  test-results/vitest/coverage/idvorkin.github.io/src/blogger_import.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/dev-info.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/graph.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/header-copy-link.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/image-zoom.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/index.html
  test-results/vitest/coverage/idvorkin.github.io/src/index.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/main.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/page-loader.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/random-prompter.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/recent-posts-shared.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/recent-posts.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/recent.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/search.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/shared.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/utils/dom-helpers.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/utils/index.html
  test-results/vitest/coverage/index.html
  test-results/vitest/html/html.meta.json.gz
  test-results/vitest/test-output.json
  test-results/vitest/test-verbose-output.html
  test-results/vitest/test-verbose-output.txt
Due: none

docs(igor-gap-year): update probabilities, add missing Tori link, clarify dragon practice wording
  _d/igor-gap-year.md
Due: update-backlinks-last-modified

Add why open the box section
  _d/igor-gap-year.md
Due: update-backlinks-last-modified

docs(igor-gap-year): improve dragon dialog formatting and clarity
  _d/igor-gap-year.md
Due: update-backlinks-last-modified

Deploying to test-results from @ idvorkin/idvorkin.github.io@386ebce1ee263884d423dc0517053c1bd02c92e6 🚀
  test-results/vitest/coverage/idvorkin.github.io/ansi-to-html-converter.js.html
  test-results/vitest/coverage/idvorkin.github.io/index.html
  test-results/vitest/coverage/idvorkin.github.io/run-vitest-with-colors.js.html
  test-results/vitest/coverage/idvorkin.github.io/src/blogger_import.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/dev-info.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/graph.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/header-copy-link.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/image-zoom.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/index.html
  test-results/vitest/coverage/idvorkin.github.io/src/index.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/main.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/page-loader.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/random-prompter.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/recent-posts-shared.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/recent-posts.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/recent.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/search.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/shared.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/utils/dom-helpers.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/utils/index.html
  test-results/vitest/coverage/index.html
  test-results/vitest/html/html.meta.json.gz
  test-results/vitest/test-output.json
  test-results/vitest/test-verbose-output.html
  test-results/vitest/test-verbose-output.txt
Due: none

docs(igor-gap-year): rename insignificance dragon to squander dragon
  _d/igor-gap-year.md
Due: update-backlinks-last-modified

Deploying to test-results from @ idvorkin/idvorkin.github.io@4ce89d195fcc4ebab34affead2197393a5ba765a 🚀
  test-results/vitest/coverage/idvorkin.github.io/ansi-to-html-converter.js.html
  test-results/vitest/coverage/idvorkin.github.io/index.html
  test-results/vitest/coverage/idvorkin.github.io/run-vitest-with-colors.js.html
  test-results/vitest/coverage/idvorkin.github.io/src/blogger_import.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/dev-info.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/graph.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/header-copy-link.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/image-zoom.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/index.html
  test-results/vitest/coverage/idvorkin.github.io/src/index.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/main.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/page-loader.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/random-prompter.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/recent-posts-shared.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/recent-posts.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/recent.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/search.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/shared.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/utils/dom-helpers.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/utils/index.html
  test-results/vitest/coverage/index.html
  test-results/vitest/html/html.meta.json.gz
  test-results/vitest/test-output.json
  test-results/vitest/test-verbose-output.html
  test-results/vitest/test-verbose-output.txt
Due: none

refactor(blog): restructure gap year article for better flow and clarity
  _d/igor-gap-year.md
Due: update-backlinks-last-modified

Deploying to test-results from @ idvorkin/idvorkin.github.io@7edb29d70e829b59e649b20954f2dc8541cd2c91 🚀
  test-results/vitest/coverage/idvorkin.github.io/ansi-to-html-converter.js.html
  test-results/vitest/coverage/idvorkin.github.io/index.html
  test-results/vitest/coverage/idvorkin.github.io/run-vitest-with-colors.js.html
  test-results/vitest/coverage/idvorkin.github.io/src/blogger_import.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/dev-info.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/graph.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/header-copy-link.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/image-zoom.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/index.html
  test-results/vitest/coverage/idvorkin.github.io/src/index.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/main.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/page-loader.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/random-prompter.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/recent-posts-shared.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/recent-posts.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/recent.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/search.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/shared.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/utils/dom-helpers.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/utils/index.html
  test-results/vitest/coverage/index.html
  test-results/vitest/html/html.meta.json.gz
  test-results/vitest/test-output.json
  test-results/vitest/test-verbose-output.html
  test-results/vitest/test-verbose-output.txt
Due: none

Updates
  _d/igor-gap-year.md
Due: update-backlinks-last-modified

Deploying to test-results from @ idvorkin/idvorkin.github.io@499656a749a48ca55d0634380952c634a988a877 🚀
  test-results/vitest/coverage/idvorkin.github.io/ansi-to-html-converter.js.html
  test-results/vitest/coverage/idvorkin.github.io/index.html
  test-results/vitest/coverage/idvorkin.github.io/run-vitest-with-colors.js.html
  test-results/vitest/coverage/idvorkin.github.io/src/blogger_import.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/dev-info.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/graph.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/header-copy-link.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/image-zoom.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/index.html
  test-results/vitest/coverage/idvorkin.github.io/src/index.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/main.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/page-loader.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/random-prompter.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/recent-posts-shared.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/recent-posts.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/recent.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/search.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/shared.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/utils/dom-helpers.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/utils/index.html
  test-results/vitest/coverage/index.html
  test-results/vitest/html/html.meta.json.gz
  test-results/vitest/test-output.json
  test-results/vitest/test-verbose-output.html
  test-results/vitest/test-verbose-output.txt
Due: none

Update intro
  _d/igor-gap-year.md
Due: update-backlinks-last-modified

Deploying to test-results from @ idvorkin/idvorkin.github.io@5ac3b46ecbf7f2c9cb3abba21159319901a96e84 🚀
  test-results/vitest/coverage/idvorkin.github.io/ansi-to-html-converter.js.html
  test-results/vitest/coverage/idvorkin.github.io/index.html
  test-results/vitest/coverage/idvorkin.github.io/run-vitest-with-colors.js.html
  test-results/vitest/coverage/idvorkin.github.io/src/blogger_import.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/dev-info.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/graph.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/header-copy-link.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/image-zoom.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/index.html
  test-results/vitest/coverage/idvorkin.github.io/src/index.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/main.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/page-loader.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/random-prompter.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/recent-posts-shared.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/recent-posts.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/recent.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/search.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/shared.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/utils/dom-helpers.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/utils/index.html
  test-results/vitest/coverage/index.html
  test-results/vitest/html/html.meta.json.gz
  test-results/vitest/test-output.json
  test-results/vitest/test-verbose-output.html
  test-results/vitest/test-verbose-output.txt
Due: none

docs(content-audience): add content series section with initial details
  _d/content-audience.md
Due: update-backlinks-last-modified

Deploying to test-results from @ idvorkin/idvorkin.github.io@c8abf2bfad4cfabc75e600b3f493f8e34af70cb5 🚀
  test-results/vitest/coverage/idvorkin.github.io/ansi-to-html-converter.js.html
  test-results/vitest/coverage/idvorkin.github.io/index.html
  test-results/vitest/coverage/idvorkin.github.io/run-vitest-with-colors.js.html
  test-results/vitest/coverage/idvorkin.github.io/src/blogger_import.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/dev-info.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/graph.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/header-copy-link.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/image-zoom.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/index.html
  test-results/vitest/coverage/idvorkin.github.io/src/index.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/main.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/page-loader.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/random-prompter.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/recent-posts-shared.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/recent-posts.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/recent.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/search.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/shared.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/utils/dom-helpers.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/utils/index.html
  test-results/vitest/coverage/index.html
  test-results/vitest/html/html.meta.json.gz
  test-results/vitest/test-output.json
  test-results/vitest/test-verbose-output.html
  test-results/vitest/test-verbose-output.txt
Due: none

docs(ai-coder): add new section to table of contents and empty section for multi-agent orchestration stress
  _d/ai-coder.md
  back-links.json
Due: update-backlinks-last-modified

Putting file back
  _d/psychic-shadows.md
Due: update-backlinks-last-modified

Deploying to test-results from @ idvorkin/idvorkin.github.io@7699f2b213d5b73a3eb100e721421ecf2feef4a2 🚀
  test-results/vitest/coverage/idvorkin.github.io/ansi-to-html-converter.js.html
  test-results/vitest/coverage/idvorkin.github.io/index.html
  test-results/vitest/coverage/idvorkin.github.io/run-vitest-with-colors.js.html
  test-results/vitest/coverage/idvorkin.github.io/src/blogger_import.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/dev-info.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/graph.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/header-copy-link.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/image-zoom.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/index.html
  test-results/vitest/coverage/idvorkin.github.io/src/index.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/main.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/page-loader.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/random-prompter.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/recent-posts-shared.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/recent-posts.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/recent.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/search.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/shared.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/utils/dom-helpers.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/utils/index.html
  test-results/vitest/coverage/index.html
  test-results/vitest/html/html.meta.json.gz
  test-results/vitest/test-output.json
  test-results/vitest/test-verbose-output.html
  test-results/vitest/test-verbose-output.txt
Due: none

Checkpoint ai-journal.md
  _d/ai-journal.md
Due: update-backlinks-last-modified

Deploying to test-results from @ idvorkin/idvorkin.github.io@569b50220e2d95f7a29f91c244d7176353b3ffc5 🚀
  test-results/vitest/coverage/idvorkin.github.io/ansi-to-html-converter.js.html
  test-results/vitest/coverage/idvorkin.github.io/index.html
  test-results/vitest/coverage/idvorkin.github.io/run-vitest-with-colors.js.html
  test-results/vitest/coverage/idvorkin.github.io/src/blogger_import.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/dev-info.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/graph.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/header-copy-link.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/image-zoom.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/index.html
  test-results/vitest/coverage/idvorkin.github.io/src/index.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/main.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/page-loader.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/random-prompter.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/recent-posts-shared.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/recent-posts.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/recent.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/search.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/shared.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/utils/dom-helpers.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/utils/index.html
  test-results/vitest/coverage/index.html
  test-results/vitest/html/html.meta.json.gz
  test-results/vitest/test-output.json
  test-results/vitest/test-verbose-output.html
  test-results/vitest/test-verbose-output.txt
Due: none
