Repository idvorkin/idvorkin.github.io: changes, and which pre-commit hooks are due for each by the changed paths.
All: vitest-related, update-backlinks-last-modified

.pre-commit-config.yaml:

# Common configuration values
exclude_chop_logs: &exclude_chop_logs
  exclude: "^zz-chop-logs/.*$" # Exclude the zz-chop-logs directory

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.1.8
    hooks:
      # Run the linter.
      - id: ruff
        types_or: [python, pyi, jupyter]
        args: [--fix]
      # Run the formatter.
      - id: ruff-format
        types_or: [python, pyi, jupyter]

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: "v3.1.0"
    hooks:
      - id: prettier
        <<: *exclude_chop_logs

  - repo: https://github.com/TomWright/dasel
    rev: v2.8.1
    hooks:
      - id: dasel-validate

  - repo: local
    hooks:
      - id: vitest-related
        name: Run Vitest on changed TypeScript files
        entry: .pre-commit-hooks/vitest-ts-files.sh
        language: script
        types: [ts]
        pass_filenames: false

      - id: update-backlinks-last-modified
        name: Update last modified times for changed markdown files
        entry: uv run build_back_links.py delta
        language: system
        files: '\.(md|markdown)$'
        <<: *exclude_chop_logs
        pass_filenames: true
        verbose: true

feat(time-off): add plan for August 2025 time off
  _d/time-off-2025-08.md
Due: update-backlinks-last-modified

docs: update time-off-2025-08.md with new content and formatting changes
  _d/time-off-2025-08.md
Due: update-backlinks-last-modified

docs(igor-gap-year): update table of contents and section details
  _d/igor-gap-year.md
  _d/time-off-2025-08.md
  back-links.json
Due: update-backlinks-last-modified

feat: add GitHub issue creation button for sections
  .claude/settings.local.json
  1
  assets/js/index.js
  assets/js/index.js.map
  package-lock.json
  src/__tests__/header-copy-link.test.ts
  src/header-copy-link.ts
  tests/e2e/header-copy-link.spec.ts
Due: vitest-related

feat: improve GitHub issue creation with source file links
  assets/js/index.js
  assets/js/index.js.map
  src/__tests__/header-copy-link.test.ts
  src/header-copy-link.ts
  tests/e2e/header-copy-link.spec.ts
Due: vitest-related

feat: add inline popup editor for GitHub issue creation
  assets/js/index.js
  assets/js/index.js.map
  src/__tests__/header-copy-link.test.ts
  src/header-copy-link.ts
  tests/e2e/header-copy-link.spec.ts
Due: vitest-related

feat: improve GitHub issue creation workflow
  assets/js/index.js
  assets/js/index.js.map
  src/__tests__/header-copy-link.test.ts
  src/header-copy-link.ts
  tests/e2e/header-copy-link.spec.ts
Due: vitest-related

fix: set focus to title input when GitHub issue popup opens
  assets/js/index.js
  assets/js/index.js.map
  src/header-copy-link.ts
Due: vitest-related

fix: remove section anchor from GitHub source link
  assets/js/index.js
  assets/js/index.js.map
  src/header-copy-link.ts
Due: vitest-related

revert: restore section anchor in GitHub source link
  assets/js/index.js
  assets/js/index.js.map
  src/header-copy-link.ts
Due: vitest-related

feat: enhance GitHub issue with content excerpt and compact location
  assets/js/index.js
  assets/js/index.js.map
  src/__tests__/header-copy-link.test.ts
  src/header-copy-link.ts
  tests/e2e/header-copy-link.spec.ts
Due: vitest-related

fix: simplify location line and fix Azure website URL format
  assets/js/index.js
  assets/js/index.js.map
  src/__tests__/header-copy-link.test.ts
  src/header-copy-link.ts
  tests/e2e/header-copy-link.spec.ts
Due: vitest-related

feat: improve content excerpt extraction and add comprehensive tests
  assets/js/index.js
  assets/js/index.js.map
  src/__tests__/header-copy-link.test.ts
  src/header-copy-link.ts
Due: vitest-related

feat: add section heading to content excerpt for better context
  assets/js/index.js
  assets/js/index.js.map
  src/__tests__/header-copy-link.test.ts
  src/header-copy-link.ts
Due: vitest-related

fix: critical security and performance issues in header-copy-link
  assets/js/index.js
  assets/js/index.js.map
  src/__tests__/header-copy-link.test.ts
  src/header-copy-link.ts
Due: vitest-related

fix: Address e2e test timeouts and document git branch tracking
  playwright.config.ts
  specs/git-branch-tracking.md
  tests/e2e/amazon-links.spec.ts
  tests/e2e/blog-posts.spec.ts
  tests/e2e/dev-banner.spec.ts
Due: vitest-related, update-backlinks-last-modified

docs: Add specification for header GitHub issue creation feature
  specs/header-github-issue-feature.md
Due: update-backlinks-last-modified

Add GitHub issue creation button for section headers (#76)
  .claude/settings.local.json
  1
  assets/js/index.js
  assets/js/index.js.map
  package-lock.json
  playwright.config.ts
  specs/git-branch-tracking.md
  specs/header-github-issue-feature.md
  src/__tests__/header-copy-link.test.ts
  src/header-copy-link.ts
  tests/e2e/amazon-links.spec.ts
  tests/e2e/blog-posts.spec.ts
  tests/e2e/dev-banner.spec.ts
  tests/e2e/header-copy-link.spec.ts
Due: vitest-related, update-backlinks-last-modified

Deploying to test-results from @ idvorkin/idvorkin.github.io@156cf8e3495aee4f9f1568743d5d3c8099f23585 🚀
  test-results/vitest/badge-count.json
  test-results/vitest/coverage/coverage-final.json
  test-results/vitest/coverage/idvorkin.github.io/ansi-to-html-converter.js.html
  test-results/vitest/coverage/idvorkin.github.io/index.html
  test-results/vitest/coverage/idvorkin.github.io/run-vitest-with-colors.js.html
  test-results/vitest/coverage/idvorkin.github.io/src/blogger_import.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/dev-info.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/graph.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/header-copy-link.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/image-zoom.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/index.html
  test-results/vitest/coverage/idvorkin.github.io/src/index.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/main.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/page-loader.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/random-prompter.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/recent-posts-shared.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/recent-posts.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/recent.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/search.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/shared.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/utils/dom-helpers.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/utils/index.html
  test-results/vitest/coverage/index.html
  test-results/vitest/html/html.meta.json.gz
  test-results/vitest/test-output.json
  test-results/vitest/test-verbose-output.html
  test-results/vitest/test-verbose-output.txt
Due: none

Updates
  _d/time-off-2025-08.md
Due: update-backlinks-last-modified

Deploying to test-results from @ idvorkin/idvorkin.github.io@e70cb2a38c34b22f447714e1f807210b1f9d706c 🚀
  test-results/vitest/coverage/coverage-final.json
  test-results/vitest/coverage/idvorkin.github.io/ansi-to-html-converter.js.html
  test-results/vitest/coverage/idvorkin.github.io/index.html
  test-results/vitest/coverage/idvorkin.github.io/run-vitest-with-colors.js.html
  test-results/vitest/coverage/idvorkin.github.io/src/blogger_import.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/dev-info.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/graph.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/header-copy-link.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/image-zoom.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/index.html
  test-results/vitest/coverage/idvorkin.github.io/src/index.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/main.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/page-loader.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/random-prompter.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/recent-posts-shared.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/recent-posts.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/recent.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/search.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/shared.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/utils/dom-helpers.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/utils/index.html
  test-results/vitest/coverage/index.html
  test-results/vitest/html/html.meta.json.gz
  test-results/vitest/test-output.json
  test-results/vitest/test-verbose-output.html
  test-results/vitest/test-verbose-output.txt
Due: none

refactor(time-off-2025-08): update plans and activities for August trip
  _d/time-off-2025-08.md
Due: update-backlinks-last-modified

Deploying to test-results from @ idvorkin/idvorkin.github.io@765bf790142887e19e23450eddea80c949cfc650 🚀
  test-results/vitest/coverage/idvorkin.github.io/ansi-to-html-converter.js.html
  test-results/vitest/coverage/idvorkin.github.io/index.html
  test-results/vitest/coverage/idvorkin.github.io/run-vitest-with-colors.js.html
  test-results/vitest/coverage/idvorkin.github.io/src/blogger_import.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/dev-info.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/graph.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/header-copy-link.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/image-zoom.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/index.html
  test-results/vitest/coverage/idvorkin.github.io/src/index.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/main.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/page-loader.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/random-prompter.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/recent-posts-shared.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/recent-posts.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/recent.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/search.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/shared.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/utils/dom-helpers.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/utils/index.html
  test-results/vitest/coverage/index.html
  test-results/vitest/html/html.meta.json.gz
  test-results/vitest/test-output.json
  test-results/vitest/test-verbose-output.html
  test-results/vitest/test-verbose-output.txt
Due: none

docs(stock-concentration): update tax guidance with calculator link
  _d/stock-concentration.md
Due: update-backlinks-last-modified

Update backlinks
  back-links.json
Due: none

Deploying to test-results from @ idvorkin/idvorkin.github.io@64e5b6624121a2c2f40d6a5c3172cd7a302eab89 🚀
  test-results/vitest/coverage/idvorkin.github.io/ansi-to-html-converter.js.html
  test-results/vitest/coverage/idvorkin.github.io/index.html
  test-results/vitest/coverage/idvorkin.github.io/run-vitest-with-colors.js.html
  test-results/vitest/coverage/idvorkin.github.io/src/blogger_import.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/dev-info.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/graph.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/header-copy-link.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/image-zoom.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/index.html
  test-results/vitest/coverage/idvorkin.github.io/src/index.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/main.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/page-loader.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/random-prompter.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/recent-posts-shared.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/recent-posts.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/recent.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/search.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/shared.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/utils/dom-helpers.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/utils/index.html
  test-results/vitest/coverage/index.html
  test-results/vitest/html/html.meta.json.gz
  test-results/vitest/test-output.json
  test-results/vitest/test-verbose-output.html
  test-results/vitest/test-verbose-output.txt
Due: none

Deploying to test-results from @ idvorkin/idvorkin.github.io@5271d8fcbde02d08dff299da7579abb217f765cf 🚀
  test-results/vitest/coverage/idvorkin.github.io/ansi-to-html-converter.js.html
  test-results/vitest/coverage/idvorkin.github.io/index.html
  test-results/vitest/coverage/idvorkin.github.io/run-vitest-with-colors.js.html
  test-results/vitest/coverage/idvorkin.github.io/src/blogger_import.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/dev-info.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/graph.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/header-copy-link.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/image-zoom.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/index.html
  test-results/vitest/coverage/idvorkin.github.io/src/index.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/main.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/page-loader.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/random-prompter.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/recent-posts-shared.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/recent-posts.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/recent.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/search.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/shared.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/utils/dom-helpers.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/utils/index.html
  test-results/vitest/coverage/index.html
  test-results/vitest/html/html.meta.json.gz
  test-results/vitest/test-output.json
  test-results/vitest/test-verbose-output.html
  test-results/vitest/test-verbose-output.txt
Due: none

feat(docker): add layered Docker build system for Claude Code
  docker/.env.example
  docker/Makefile
  docker/README.md
  docker/build-layers.sh
  docker/docker-compose.yml
  docker/plan.md
  docker/run-pr.sh
  docker/scripts/create-pr.sh
  docker/scripts/entrypoint.sh
  docker/scripts/quick-claude.sh
Due: update-backlinks-last-modified

feat(docker): add all Dockerfile layers
  docker/Dockerfile.01-base
  docker/Dockerfile.02-git
  docker/Dockerfile.03-dev
  docker/Dockerfile.04-nodejs
  docker/Dockerfile.04-nodejs-fast
  docker/Dockerfile.05-python
  docker/Dockerfile.05-python-uv
  docker/Dockerfile.06-jekyll
  docker/Dockerfile.07-rust
  docker/Dockerfile.07-settings
  docker/Dockerfile.08-brew
  docker/Dockerfile.08-essentials
  docker/Dockerfile.08-extras
  docker/Dockerfile.08-ready
  docker/Dockerfile.fast
  docker/Dockerfile.final
  docker/Dockerfile.minimal
  docker/Dockerfile.quick
  docker/Dockerfile.quick-no-rust
Due: none

Add debug image and specification documents
  dev-banner-debug.png
  specs/claude-code-container.md
  specs/custom-tools-integration.md
  specs/docker-layer-structure.md
  specs/fast-pr-container.md
Due: update-backlinks-last-modified

igor-gap-year: copy cleanup (grammar), remove emojis, dedup text, simplify headers, update TOC anchors
  _d/igor-gap-year.md
Due: update-backlinks-last-modified

igor-gap-year: add measurable success criteria, First 90 Days plan, pre-mortem mitigations, and extend-to-year-2 rule; refine AI/MRR artifacts
  _d/igor-gap-year.md
Due: update-backlinks-last-modified

igor-gap-year: add summarize includes for money/retire; ensure front matter tags retained
  _d/igor-gap-year.md
Due: update-backlinks-last-modified

igor-gap-year: add tags for family/health/ai/work-life-balance
  _d/igor-gap-year.md
Due: update-backlinks-last-modified

igor-gap-year: remove extra tags per feedback
  _d/igor-gap-year.md
Due: update-backlinks-last-modified

Apply suggestion from @Copilot
  _d/igor-gap-year.md
Due: update-backlinks-last-modified

igor-gap-year: address PR feedback (move gap-year include up, clarify money/retire includes spacing, clarify formula bullets + extend rule, fix 'vested', improve Family metrics wording)
  _d/igor-gap-year.md
Due: update-backlinks-last-modified

igor-gap-year: address owner feedback (stock concentration link, WIP alerts, MRR wording/goal, pre-mortem context, reassessment/exit triggers, closing thought)
  _d/igor-gap-year.md
Due: update-backlinks-last-modified

igor-gap-year: cleanup, structure, and planning improvements (#82)
  _d/igor-gap-year.md
Due: update-backlinks-last-modified

Deploying to test-results from @ idvorkin/idvorkin.github.io@e4eeef32f4d07e1e378d2271ce2a33883d8ef51a 🚀
  test-results/vitest/coverage/idvorkin.github.io/ansi-to-html-converter.js.html
  test-results/vitest/coverage/idvorkin.github.io/index.html
  test-results/vitest/coverage/idvorkin.github.io/run-vitest-with-colors.js.html
  test-results/vitest/coverage/idvorkin.github.io/src/blogger_import.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/dev-info.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/graph.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/header-copy-link.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/image-zoom.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/index.html
  test-results/vitest/coverage/idvorkin.github.io/src/index.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/main.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/page-loader.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/random-prompter.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/recent-posts-shared.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/recent-posts.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/recent.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/search.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/shared.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/utils/dom-helpers.ts.html
  test-results/vitest/coverage/idvorkin.github.io/src/utils/index.html
  test-results/vitest/coverage/index.html
  test-results/vitest/html/html.meta.json.gz
  test-results/vitest/test-output.json
  test-results/vitest/test-verbose-output.html
  test-results/vitest/test-verbose-output.txt
Due: none
